[2016-11-03 19:23] MariagraziaAlastra opened #527 "MDN JS: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 19:25] MariagraziaAlastra opened #528 "MDN JS: add categories"
### Description
Add categories, like in [jQuery](https://duck.co/ia/view/jquery): the sections names in MDN would make good categories (e.g. Classes, Errors, Functions...)

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environmen

[2016-11-03 19:27] MariagraziaAlastra opened #529 "MDN JS: List all available articles for each error type"
### Description
The Errors section could certainly cover more, but the article titles are super specific; we could add disambiguations for each error type, linking to all the different articles for it. E.g. we would have a disambiguation for "SyntaxError" and have all of the following articles listed:

<img width="316" alt="b53b4dee4c2c02ea33a2f703e24809733fc5fc7b" src="https://cloud.githubusercon

[2016-11-03 19:30] MariagraziaAlastra opened #530 "MDN JS: show the first example in the article"
### Description
For some articles (see [this query](https://duckduckgo.com/92/Headers.get()?iax=1&ia=about) ) we only show the syntax; instead, we should always show the first example box (maybe in addition to the syntax).
<img width="969" alt="screen shot 2016-11-03 at 3 29 48 pm" src="https://cloud.githubusercontent.com/assets/3652195/19981962/6ceb417a-a1da-11e6-957f-8933aa895c51.png">

## Get S

[2016-11-04 07:51] hchienjo commented on #510
I would like to take this one.

[2016-11-04 10:55] #418 closed

[2016-11-04 12:00] amarlearning commented on #493
@hchienjo I want to do this! :grin:

[2016-11-04 12:24] MariagraziaAlastra commented on #510
Thanks @hchienjo!

[2016-11-04 12:32] hchienjo commented on #493
Just go ahead. Thanks @amarlearning for volunteering.

[2016-11-04 13:19] amarlearning commented on #493
@hchienjo I think the Fathead template has a bug! This fathead script works fine!
See this :
![screenshot from 2016-11-04 18-46-06](https://cloud.githubusercontent.com/assets/9383897/20006792/2d467b30-a2bf-11e6-8c7e-654575a644bb.png)
There is an extra `<br>` that is inserted before `Parameters`, because of which we can see an extra line!

It would be great if you tell me where can i find that temp

[2016-11-04 13:59] hchienjo commented on #493
Unfortunately we can't edit the template, we'd need to make the parsing script remove the `<br>` or the extra line that is produced when the html parser encounters it.

You can refer to the [documentation](https://docs.duckduckhack.com/resources/fathead-overview.html) and also [join the forum](https://forum.duckduckhack.com/t/create-ia-sass-fathead/218) for more instructions and guidance.

You'd n

[2016-11-04 14:03] amarlearning commented on #493
@hchienjo I'll find a way to do this!

[2016-11-04 21:07] VeerpalBrar commented on #493
@amarlearning Thanks for taking this up! I would suggest starting with  https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/sass/parse_functions.py file as it is the one responsible for parsing information about Sass functions and thus creates the parameter and example headings.

[2016-11-04 23:22] #409 closed

[2016-11-05 00:26] moollaza commented on #523
@MariagraziaAlastra this may be an internal issue -- @souravbadami mentioned that the output.txt contains the `()`, so it's likely we're removing it internally.

[2016-11-05 20:29] iamrajhans commented on #453
@pjhampton  hey i have done the PR.

[2016-11-06 15:27] Hestben commented on #526
I am considering taking on this issue, but I have a question regarding

Is it meant, rather than the current displaying of "Meanings", there should be an info box with an overview of the class, and then a link to the python documentation for this class?
The current view of the example
![python_subprocess](https://cloud.githubusercontent.com/assets/22500915/20039018/80ec645a-a43d-11e6-8adc-4b6a6907

[2016-11-06 15:33] Hestben commented on #524
This issue seems to be outdated. The current view of the search result is:
![python_unittest](https://cloud.githubusercontent.com/assets/22500915/20039081/5f94e38a-a43e-11e6-9425-62fc7f8e6cdf.png)

The page html code is`<section class=\"prog__container\"><p>Method called to prepare the test fixture. This is called immediately before calling the test method; other than AssertionError or SkipTest, a

[2016-11-07 14:10] MariagraziaAlastra commented on #524
Thanks @Hestben!
Yeah the data in production was outdated and I deployed the latest a couple days ago. Closing!

[2016-11-07 14:10] #524 closed

[2016-11-07 20:05] jdorweiler commented on #526
@Hestben I was thinking of something like the [ruby](https://duck.co/ia/view/ruby) IA where it shows a short summary about the class and a link in the infobox to the class methods.

https://duckduckgo.com/?q=ruby+array&t=canonical&atb=v23&ia=about&iax=1

[2016-11-07 21:00] jdorweiler opened #533 "Python: limit pypi to only popular packages"
### Description

Limit pypi to only popular packages.
I've found several cases where pypi shouldn't be showing. The problem is that a pypi package can have any name, which includes things like "lambda", "list".
https://duckduckgo.com/?q=python+lambda&atb=v23&ia=about
https://duckduckgo.com/?q=python+lists&atb=v23&ia=about

Let's limit it to only the first few thousand packages based on popularity

[2016-11-07 23:17] #413 closed

[2016-11-08 10:57] Balkhmog opened #536 "24:"
------
IA Page:  http://duck.co/ia/view/twentyfour
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-11-08 13:27] marti1125 commented on #536
Hi @Balkhmog and this is issue is for?

[2016-11-08 16:35] #536 closed

[2016-11-08 16:39] moollaza commented on #505
@NickCalabs let us know if you need any help! The iOS Fatheads are a bit non-standard because of how they work...

[2016-11-08 16:40] jagtalon commented on #505
:P

[2016-11-08 17:36] moollaza commented on #492
@hchienjo this is actually an internal issue -- we will be fixing this. It also affects CSS and other Fatheads

[2016-11-09 14:57] MariagraziaAlastra commented on #492
Should be fixed now. Thanks!

[2016-11-09 14:57] #492 closed

[2016-11-09 16:23] moollaza commented on #490
@marti1125 please don't forget to provide the IA Page link so it's clear which IA this is related to 👍

I've updated the post by pasting in the ISSUE_TEMPLATE content so the Steps + Resources are there for the developers to see 👍

[2016-11-09 16:54] moollaza commented on #235
@pbronez I've updated the task description with some steps to take.

If you're still interested please get started by creating an IA Page and leaving the link here 👍

Thanks!

[2016-11-09 18:44] slaterio commented on #500
I'd like to help out here. I'll start with the infobox links then work through more examples.

[2016-11-09 18:58] kotoshenya commented on #500
Awesome, thanks so much @slaterio! Let me know if you have any questions, I wrote the script originally so I can talk you through it if anything is unclear 😊

[2016-11-09 20:52] #452 closed

[2016-11-09 22:12] #446 closed

[2016-11-10 01:26] #293 closed

[2016-11-10 02:18] moollaza commented on #460
@vidhan13j07 Ping! I'm just checking in to see if you're still interested in creating this IA?

There's absolutely no rush, just wanted to make sure you're not stuck on anything.

[2016-11-10 03:05] NickCalabs commented on #505
Thanks guys, the election delayed me. Getting back to the grind!

[2016-11-10 15:18] #533 closed

[2016-11-10 16:07] moollaza opened #540 "Python: Create New PEP Fathead"
# Create a new Python PEP Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2016-11-10 16:41] amarlearning commented on #493
@VeerpalBrar This is strange at first when i looked at the code, I found a `<br>` tag due to which a line break was present!
But when i looked into the code today, there wasn't any `<br>` tag present! [screenshot]

![screenshot from 2016-11-10 22-03-21](https://cloud.githubusercontent.com/assets/9383897/20185376/d6d1ed02-a791-11e6-838e-7d632a43640b.png)

I think if somehow we can change the css pr

[2016-11-10 17:41] moollaza commented on #493
@hchienjo @amarlearning This is now fixed, we update the Fathead Database yesterday so that the code blocks have the newlines 👍

[2016-11-10 17:41] #493 closed

[2016-11-10 17:43] moollaza commented on #493
Whoops, I thought this was the other issue. The `<br>` may have been from an older version of the output.txt -- The display looks correct to me now 👍

[2016-11-10 22:11] p12tic commented on #407
Hi,

I'm the original author of the cppreference_doc fathead plugin code. This issue was only recently brought to light to me. If it's still possible, I would like to volunteer implementing needed fixes for it. However, I would strongly recommend against spliting the output.txt generation code from the cppreference repository. I wrote a much longer comment with justification in https://github.com/

[2016-11-12 13:28] mr-karan commented on #233
Are you still working on this @karanchahal ?

[2016-11-12 17:43] selfiz opened #541 "The default set of keyboard shortcuts to use Codio efficiently"
Explains how to Tri-Force on Windows, Mac, and Linux Computers

------
IA Page:  http://duck.co/ia/view/twentyfour
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-11-12 18:40] karanchahal commented on #233
No , I am presently pretty busy. You are more than welcome to try to tackle this issue. :)

[2016-11-13 09:15] Hestben commented on #522
Should we really list **all** the topics? For the Python Fathead, I see this could easily be unmaintainable to handle manually. We could probably do it automatically, but if it is close to the fathead mining strategy, it might not provide much use.
Another strategy would to list one topic for each special case that is mined in the fathead.

[2016-11-14 15:40] rasikapohankar commented on #407
@sahildua2305 we can update the parsing script in the [cppreference-doc repository](https://github.com/p12tic/cppreference-doc) by sending a PR there. What would you like to do?

[2016-11-14 20:08] moollaza opened #545 "MDN CSS: -webkit-* properties should have redirects when no standalone page exists"
### Description
There are several `-webkit-*` properties that we don't show answers for, because on MDN those properties simply redirect to other pages.

E.g. `-webkit-transform` is just a link to `transform` on the [Webkit Extensions index](https://developer.mozilla.org/en-US/docs/Web/CSS/Webkit_Extensions)

If we detect that the linked page for the property maps to a link we already have, we sho

[2016-11-14 20:16] rasikapohankar commented on #545
I will take this up @moollaza.

[2016-11-14 21:48] sahildua2305 commented on #407
Can you do it, @rasikapohankar ?

[2016-11-14 23:33] Targren opened #546 "PHP: Link goes to manual search results instead of the manual for the function displayed in infobox"
To reproduce:
  1. query "php <function>", e.g."[php array_merge](https://duckduckgo.com/?q=php+array_merge)"
  2. Click either the "array_merge" link or the "More at PHP Manual" link in the infobox

Expected Result:  Linked to http://php.net/manual/en/function.array-merge.php

Observed Result: Linked to http://php.net/results.php/?q=array_merge

------
IA Page:  http://duck.co/ia/view/php
[Mainta

[2016-11-15 15:14] p12tic commented on #407
@sahildua2305 Are you still interested in improving this Fathead? If not, I can take over.

[2016-11-15 15:20] sahildua2305 commented on #407
@p12tic please go ahead 😄

[2016-11-15 15:25] moollaza opened #548 "Python: the searches "python replace" and "python string replace" don't show results for this IA"
### Description

I wanted to check the syntax for Python's `replace()` method and noticed we're not showing any results for the following searches:

- [python string replace](https://duckduckgo.com/?q=python+string+replace)
- [python string.replace](https://duckduckgo.com/?q=python+string.replace)
- [python replace](https://duckduckgo.com/?q=python+replace)

Similarly `python capwords` has no answ

[2016-11-15 17:08] #473 closed

[2016-11-15 17:33] moollaza opened #549 "Java: Create New Apache Commons Fathead"
# Create a new Apache Commons Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script

[2016-11-15 19:54] jdorweiler opened #550 "Python: Create New Tkinter Fathead"
# Create a new Tkinter Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2016-11-15 20:06] moollaza opened #551 "Java: Create New Gradle Docs Fathead"
# Create a new Gradle Docs Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script tha

[2016-11-15 20:08] jdorweiler opened #552 "Python: create django fathead to cover more documentation"
SUGGESTION

The current [django](https://duck.co/ia/view/django_built_ins) fathead only overs builtins. We could extend the current fathead to cover more of the documentation or build a separate one.
https://docs.djangoproject.com/en/1.10/contents/

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fath

[2016-11-15 20:10] moollaza opened #553 "Java: Create New JavaFX Docs Fathead"
# Create a new JavaFX Docs Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script tha

[2016-11-15 20:13] moollaza opened #554 "Java: Create New Spring Framework Fathead"
# Create a new Spring Framework Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a scrip

[2016-11-15 20:15] pbronez commented on #235
@moollaza I created an [IA page](https://duck.co/ia/view/matplotlib) when I first looked at it a few weeks ago. During that process I accidentally created a [duplicate IA page](https://duck.co/ia/view/matplotlib_acorr_matplotlib_filled_step) that should be removed.

I got a codio environment up and started working on this, but ran into a few issues.

First, it's not clear to me that the [Examples]

[2016-11-16 12:30] Hestben commented on #526
@jdorweiler So, do you suggest it should have categories?
So, a module, like "subprocess" should be a category? Then, the view would be similar to using "Disambiguation" entry type, like the example in the [docs](https://docs.duckduckhack.com/resources/fathead-overview.html):
https://duckduckgo.com/180/c/Css_pseudo_elements?ia=list

[2016-11-16 14:08] jdorweiler commented on #526
Here's an example of what I was thinking of

![selection_043](https://cloud.githubusercontent.com/assets/1882892/20350280/4b497da0-abdc-11e6-81d9-7777c96e7dc2.jpg)

[2016-11-16 15:05] Hestben commented on #548
I have noticed that issue in PR #538
When python2 and python3 has different abstracts, the redirect is removed. We should rather display the python3 answer and link to the python2 answer.

Regarding the string replace. In python3, string is a built in, and called str, and most string functions are defined as 'str.<function>', so the replace function in python3 is called 'str.replace(...)'.

Per de

[2016-11-16 15:18] Hestben commented on #526
@jdorweiler Yes, I can see that would be a nice way to display it. But the links under "Related Topics" seems to be categories, according to the docs. And we would want to map from a python class to its functions, and categories would map from the python functions to the python class.

[2016-11-16 16:10] jdorweiler commented on #526
The links under related topics could go to the actual abstract pages. For example `subprocess.run` would link here https://duckduckgo.com/35/subprocess.run?iax=1&ia=about

[2016-11-16 17:13] sriranganathan commented on #553
@moollaza I think this issue is a duplicate of #507

[2016-11-16 17:18] mohitgupta07 commented on #527
I'll like to work on this issue. can i begin?

[2016-11-16 17:42] mandekisd commented on #554
Thanks for that I will continue from here.

[2016-11-16 18:57] bfmags commented on #527
Hi @mohitgupta07 you can go ahead!
If you haven't already, don't forget to join DuckDuckHack Forum and DuckDuck Slack channel.
Let me know if you need any help :)

[2016-11-16 18:58] mohitgupta07 commented on #527
How to get added into this organization on github?
On Nov 17, 2016 12:27 AM, "Bruno Magalhaes" <notifications@github.com>
wrote:

[2016-11-16 19:00] MariagraziaAlastra commented on #527
@mohitgupta07 I just invited you to the duckduckhack-contributors team, you just need to accept :smile:

[2016-11-16 19:06] mohitgupta07 commented on #527
Yeah Thanks! At the moment when I was just sent the reply ,you invited me
so I couldn't take my comment back :-p . Thanks and I'll love to
contribute. My first open source contribution :-)
On Nov 17, 2016 12:30 AM, "Maria Grazia Alastra" <notifications@github.com>
wrote:

[2016-11-16 19:36] moollaza opened #555 "Python: Separate Python2 only articles into new Python2 Fathead"
### Description
Currently we have a single Python Fathead responsible for creating all articles related to Python 2 and Python 3. A subset of these articles are only relevant to Python2 and so we prepend the article title with "python2". This requires the user to enter a query of the form: `python2 {{query}}`.

This drastically reduces the flexibility of triggering Python2 articles because differe

[2016-11-16 23:47] #525 closed

[2016-11-16 23:48] moollaza commented on #525
After testing the PR, I've determined this isn't going to work as previously expected. I've created a new task with a different approach: #184

[2016-11-16 23:58] moollaza commented on #500
@kotoshenya unfortunately this isn't currently possible ☹️

The infobox only shows links to categories the articles is part of OR related articles. Currently we don't support combining those, or external links.

I'd very much like to change this though, as there's no reason why we should limit the InfoBox to only 1 type of information.

Achieving this will require some big changes internally thoug

[2016-11-17 09:41] Hestben commented on #526
@jdorweiler Yes, I can see that. The problem I am working with now is where to put the actual links in the fathead output fields. Which field should be used? How are the links supposed to look like? From my limited understanding of how categories work, it looks to me that they map the other way around.
I have yet not found an example where the field "related topics" is displayed, and not "categori

[2016-11-17 14:06] jdorweiler commented on #526
@Hestben you're right. For some reason I though we could do this. I just saw this comment on the same idea https://github.com/duckduckgo/zeroclickinfo-fathead/issues/500#issuecomment-261112053

[2016-11-17 15:37] moollaza commented on #239
Closing as this isn't currently an option for us. We're going to continue with the Fathead approach for now. If this comes up again we can reopen.

[2016-11-17 15:37] #239 closed

[2016-11-17 15:41] moollaza opened #556 "MDN JavaScript: "data type" articles should have redirects with "type" and "data type" postfixed"
Currently "javascript null type" doesn't trigger the Fathead. However, "javascript null" does.

We should have redirect for each "data type" article.

For example,  "null type" and "null data type" should redirect to "null".

------
IA Page:  http://duck.co/ia/view/mdnjs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ericedens

[2016-11-17 16:11] jdorweiler opened #557 "C++: Create boost fathead"
# Create a new C++ Boost Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2016-11-17 17:03] jdorweiler opened #558 "Python: create sklearn fathead"
# Create a new sklearn Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2016-11-17 22:26] sahildua2305 commented on #557
@jdorweiler isn't Spring a Java framework? 😕

[2016-11-17 22:27] sahildua2305 commented on #558
@jdorweiler Ah! I think you just copy-pasted the content of the description of issue. Got it! 😛

[2016-11-18 09:17] tagawa commented on #558
Well spotted @sahildua2305 - thanks!

[2016-11-18 09:22] Hestben commented on #526
@jdorweiler So, how do we continue this? Should we await a change in the InfoBox to be able to handle this information, or is there some other way we could display this?

[2016-11-18 10:19] Hestben commented on #526
I just got a hint from @tagawa of this query: https://duckduckgo.com/?q=python+print&ia=about
There, the output looks like we would want it to be.
Looking in output.txt, I see, that the output type for the query "python print" is "A", and has "print" as category. The related topic displayed ("python2 print") is using "print" as category.
Thus, we could iterate through the things we want to display

[2016-11-18 16:04] p12tic commented on #203
I've opened an issue https://github.com/p12tic/cppreference-doc/issues/45 to track the progress of the problem on cppreference-doc repo. I think this issue should be closed as there's nothing to be done on duckduckgo side.

[2016-11-18 16:14] p12tic commented on #300
I think it does not make sense to add support to cppreference_doc fathead for these C++ identifiers. It's very hard to create a short description for these member types without taking information out of context. See, e.g., the "Member types" table [here](http://en.cppreference.com/w/cpp/container/unordered_map) - this is the only place they are described. For such things, regular search result sho

[2016-11-18 16:19] p12tic commented on #301
@ManrajGrover is it possible to do this while still fitting into the size constraints? At the moment most abstracts that cppreference_doc provides are already truncated to save space.

Regardless of that, I think it will be very hard to extract useful short examples out of cppreference.com. Maybe a separate fathead would be useful for this? So, for example, if user types `cpp string find example`,

[2016-11-18 16:29] p12tic commented on #407
It looks like simple fix @sergey-krusch (https://github.com/p12tic/cppreference-doc/commit/7352ebdbb5c35b393b41a8395193e87a1876d401) has been actually enough to solve this specific issue. I've merged that to cppreference-doc repo and additionally did some extra stuff :-)
 - refactored the code generating output.txt
 - merged code snippets into single code block so that it's less confusing
 - added

[2016-11-18 21:18] moollaza commented on #546
@Targren thanks this has been fixed. Somehow the old Fathead data was deployed live. The new Fathead data has been re-deployed.

[2016-11-18 21:18] #546 closed

[2016-11-19 00:18] sahildua2305 commented on #203
Thanks @p12tic for moving issue there.

[2016-11-19 00:18] #203 closed

[2016-11-19 05:23] sergey-krusch commented on #407
@p12tic Thank you :) I was actually waiting for someone to confirm on the output format before doing the PR. But eventually discussion took a bit different route :)

[2016-11-21 13:22] RobPaul opened #564 "CelebHeights: URL and Class values changed"
The A-Z index pages on Celebheights had 2 changes made, so I suggest a quick fix:

Fetch File:
Old A-Z url's : http://www.celebheights.com/s/A.html
New A-Z url's : http://www.celebheights.com/s/allA.html

Parse File:
Old: "process 'div[class="starazCol v11"]'"
New: "process 'div[class="sAZ2 v11"]'"

------
IA Page:  http://duck.co/ia/view/celeb_heights
[Maintainer](http://docs.duckduckhack.com/mai

[2016-11-21 13:52] jdorweiler commented on #526
@Hestben  I'm going to see what changes need to be made to allow the infobox to work with non-category pages.

[2016-11-21 16:28] itai421 commented on #530
I will try to fix it

[2016-11-21 20:12] MariagraziaAlastra commented on #530
Thanks @itai421! 😄

[2016-11-22 19:37] echosa opened #565 "HTTP Status Codes: Not all status codes work or show IA results"
There are times when searching http status codes results in an StackOverflow Q/A instant answer or no instant answer at all. See the attached screenshots.

<img width="918" alt="screen shot 2016-11-22 at 1 34 37 pm" src="https://cloud.githubusercontent.com/assets/133786/20538907/cd0c0b6a-b0b8-11e6-8115-a052d3870eb2.png">

<img width="1209" alt="screen shot 2016-11-22 at 1 35 47 pm" src="https://cl

[2016-11-22 22:23] itai421 commented on #530
To make sure I understood the problem.
The intended result for the query above is:
[code]
(because this is the first code box at the Example section).

I find it a little bit strange for two reasons:

1.  I did not found queries that output this kind of results (and a quick look at the code made my think it was never written to do this).
2. The query above is an excellent example showing that in m

[2016-11-23 14:30] Donkeymasher commented on #520
Just to be clear you want to parse the examples in the retrive document and append it to the end of the source file

[2016-11-23 15:28] MariagraziaAlastra commented on #520
Hey @Donkeymasher!
The examples in the document should be part of the content shown by the IA, which means they should be included in the output.txt file for each article.
You can read more about Fatheads and the correct format of the output.txt file [in the docs](https://docs.duckduckhack.com/resources/fathead-overview.html#data-file-format).

Thanks!

[2016-11-23 15:37] #471 closed

[2016-11-23 17:00] Donkeymasher opened #568 "PHP zeroclickinfo-fathead php unable to create output.txt"
### Description

Unable to create output.txt for php on codio from the php/lib
error code ensues on running:
[code]

## Steps to recreate

within zeroclickinfo-fathead/fathead/lib/php run:
1. npm install
2. fetch.sh
3. parse.sh

## People to notify

@MariagraziaAlastra
@pjhampton

---

Instant Answer Page: https://duck.co/ia/view/php

[2016-11-23 19:55] pjhampton commented on #568
This is weird, because I can't recreate this locally, but can on Codio. We should discuss this with codio themselves.

![screen shot 2016-11-23 at 7 53 42 pm](https://cloud.githubusercontent.com/assets/8960296/20576660/b6e9c5ee-b1b6-11e6-8644-03f614f8f0e0.png)

[2016-11-23 21:57] VitorVRS commented on #520
Hey @MariagraziaAlastra i would like to do this.
I was reading the php documentation and noticed that there are some pages with more than one examples.
We should show them all?

Ex.: https://secure.php.net/manual/en/function.file-get-contents.php

[2016-11-24 09:06] GuiltyDolphin opened #569 "Perl: Create New PerlPackageDoc FatHead"
# Create a new PerlPackageDoc Fathead Instant Answer

Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?

You'll need to know how to code in **Perl**.

### What am I doing?

You will write a script that scrapes or downloads the data source below, and generates an **output.txt** file containing the parsed documentation. You can learn more about Fatheads and

[2016-11-24 12:37] deserted commented on #569
Would be interested to put my hand up for this @GuiltyDolphin, I'll get a start on it next week.

[2016-11-24 13:35] rajzshkr commented on #516
@MariagraziaAlastra I can do this.

[2016-11-24 15:36] MariagraziaAlastra commented on #530
@itai421 Hey, yeah currently the parser just fetches the content in the syntax box. In order to replace it with the example, you'd need to parse the content of the first example box.
Doesn't matter if there are more examples, we'd just like the first one. Ideally it would make the IA content more useful :)

//cc @bfmags

[2016-11-24 15:36] MariagraziaAlastra commented on #516
Awesome, thanks @rajzshkr!

[2016-11-24 21:35] #553 closed

[2016-11-24 22:18] #309 closed

[2016-11-25 01:57] tagawa opened #571 "Meta issue: Top priority tasks"
Below are current issues that would have the most impact, i.e. working on them would enable Instant Answers to appear for more programming search queries on [DuckDuckGo](https://duckduckgo.com):

- [X] <strike>[jQuery: add redirects](https://github.com/duckduckgo/zeroclickinfo-fathead/issues/516)</strike>
- [X] <strike>[MDN JS: add categories](https://github.com/duckduckgo/zeroclickinfo-fathead/is

[2016-11-25 02:02] mbad0la commented on #556
I'd like to resolve this. Thanks!

[2016-11-25 02:05] tagawa commented on #556
Hey @mbad0la - thank you very much! I've assigned you to the task. You probably know what you're doing but if you need any help, ask any time!

[2016-11-25 13:39] mbad0la commented on #556
Hey @moollaza @tagawa are you sure this is for MDNJS Fathead? When I executed the query `javascript null`, instead of the MDNJS Fathead, the Stackoverflow Longtail is invoked. There is no article for `null` in MDN. Atleast not in the ones we have fetched uptil now.

What do you think?

[2016-11-25 13:48] bfmags commented on #556
@mbad0la you can find MDN being returned in the 'about' tab

https://duckduckgo.com/?q=javascript+null&t=h_&ia=about

[2016-11-25 15:21] divyanshu-rawat commented on #528
Hey I'm new, but I'd like to contribute to your organization, can someone please guide me along ? I am still not been able to understand what the issue is .

[2016-11-25 17:25] bfmags commented on #528
Hey @divyanshu-rawat, thank you for wanting to contribute! :)

Basically it's separating the articles into categories based on the [MDN Reference structure](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference).

The categories  are `Global Objects`, `Errors`, `Functions`, `Classes`, `Statements`, `Operators` and we're also using `API` (take a look at the download patterns in [fetch.s

[2016-11-25 18:13] souravsingh commented on #558
I would like to work on this issue

[2016-11-26 10:37] pjhampton commented on #558
It's all yours @souravsingh

[2016-11-27 16:58] jarrodthibodeau commented on #513
Hello! I would like to take a look at this issue if that is alright?

[2016-11-28 06:53] ashishbhate commented on #233
Quick update - I'm still working on this. I've made quite a bit of progress. I can only work on this issue a couple hours every weekend, but I think I'll be done by next weekend.

[2016-11-28 07:43] tagawa commented on #513
Hi @jarrodthibodeau. That would be great, thank you!
There are some resources listed in the description above, but if you need feel free ask any questions here, [on the forum](https://forum.duckduckhack.com/t/improve-nodejs-fathead/179) or in the [Slack chat](https://duckduckhack.slack.com).

[2016-11-28 09:05] tagawa opened #572 "Meta issue: Beginner-friendly tasks"
Below are current issues that are relatively easy to work on but would still have a big impact, i.e. working on them would enable Instant Answers to appear for more programming search queries on [DuckDuckGo](https://duckduckgo.com):

- [X] <strike>[NodeJS: add common redirects (aliases)](https://github.com/duckduckgo/zeroclickinfo-fathead/issues/513)</strike>
- [X] <strike>[PHP: add coverage data]

[2016-11-28 10:48] tagawa commented on #554
Hi @mandekisd. Just wanted to say a belated thank you for taking this up :-)

[2016-11-28 11:32] tagawa opened #573 "C++: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-28 14:12] MariagraziaAlastra commented on #520
Hey @VitorVRS! We can start showing the first one and see if it improves the content already. I'm afraid adding all of them might make it too lengthy.
Thanks!

[2016-11-28 16:28] moollaza commented on #568
@Donkeymasher @pjhampton I believe the issue here is that the Node.js script is exhausting the memory on Codio. Those machines only have 1 or 2GB of RAM.

We should probably update the parsing script to be less of a resource hog, or allow it to be more configurable.

@Donkeymasher is this something you could do?

/cc @VitorVRS -- can you confirm/deny this?

[2016-11-28 16:42] moollaza commented on #568
Sorry it's not a memory issue, but an issue with too many files open. (_I should have read that error message closer..._)

According to http://stackoverflow.com/questions/8965606/node-and-error-emfile-too-many-open-files#15934766 it seems like using `graceful-fs` is the first suggested solution but we're already using that. The max limit of open files on Codio may be small.

Anyone interested in f

[2016-11-28 16:56] VitorVRS commented on #568
@moollaza Yes, this issue occurred with other devs, but not with me. Doing some research, node uses some environment variable "ulimit".

Look at this thread: https://github.com/gruntjs/grunt-contrib-copy/issues/21#issuecomment-10840100

[2016-11-28 17:00] moollaza commented on #568
FWIW this error doesn't occur on the DDG machines, so we're OK to run the parser if it's updated.

[2016-11-28 17:04] moollaza commented on #568
@VitorVRS good find! Oddly though the ulimit value on Codio is much higher than my DDG box.

I'm seeing `1024` on my DDG box and `4096` on Codio -- I wonder if the Codio limit is _**too**_ high?

[2016-11-28 17:27] VitorVRS commented on #568
Can you test the following manually?

https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/php/parse.js#L5

1. Remove line 5
2. Rename gfs to fs
3. Remove line 7

This will generate warning, but no exception, filling de output.txt file.

[2016-11-28 17:39] moollaza commented on #568
@VitorVRS I had tried that and saw the warnings, but I didn't bother to actually check if the output.txt was filled (I assumed it wasn't) -- I will confirm that the final result is the same as what I'm getting on my machine.

[2016-11-28 17:42] VitorVRS commented on #568
@Donkeymasher can you try the steps i wrote above?

[2016-11-28 17:55] moollaza commented on #568
@VitorVRS unfortunately I'm seeing an empty output.txt ☹️

[2016-11-28 20:42] #526 closed

[2016-11-28 22:17] rafaelpadovezi commented on #517
I'm interested in this issue.

[2016-11-28 22:18] MariagraziaAlastra commented on #517
Awesome, thanks @rafaelpadovezi!

[2016-11-28 22:38] aegis2501 commented on #490
Hi, could I work on this?

[2016-11-29 00:24] VitorVRS commented on #568
I tried on other machine and worked.
I'll add examples to output as mentioned on another issue and make an PR fixing this too.

[2016-11-29 06:25] #545 closed

[2016-11-29 10:25] tagawa commented on #300
Thank you for sharing your thoughts @p12tic. As we currently have other higher priority issues open, let's follow your advice and close this. We can open it again in future if we decide it's worth implementing.

[2016-11-29 10:25] #300 closed

[2016-11-29 13:49] mandekisd commented on #554
IA created: https://duck.co/ia/view/spring_framework

[2016-11-29 14:36] mandekisd commented on #554
Hi @marti1125,

Can you review the PR?

Thanks,
Dimitrios

[2016-11-29 15:05] marti1125 commented on #554
@mandekisd sure, great!

[2016-11-29 16:14] Hestben commented on #555
I just created #576
Does this issue also include removing python2 results and redirects from python3 result, or are we keeping them as they are (seems logical to me).

[2016-11-29 21:12] #510 closed

[2016-11-29 21:31] moollaza opened #579 "MDN CSS: add missing documentation articles"
After adding in the CSS Coverage data, and running the updated Fathead tests it's evident that there are approximately 49 articles missing in our `output.txt` that we can expect to be there (see below).

We should go through this list to ensure all of these articles actually exist on MDN (using Ctrl+F on the [CSS Reference](https://developer.mozilla.org/en-US/docs/Web/CSS/Reference) should be a go

[2016-11-29 21:45] moollaza opened #580 "MDN CSS: Update parser to prevent duplicate articles"
### Description

After running the Fathead Test, it shows that our `output.txt` file contains 10 duplicate entries:

[code]

These need to be reviewed  to determine if the duplicate titles have duplicate abstracts, and if so we need to update the parser to ensure we don't create any duplicate entries. If the abstracts are different it means we need to update the parser to create disambiguations en

[2016-11-30 01:38] tagawa commented on #490
Hi @aegis2501. That would be great - thank you! If you need any help, feel free to ask questions either here, [in the forum](https://forum.duckduckhack.com/t/improve-java-fathead/963/10) or [on Slack](https://duckduckhack.slack.com).

[2016-11-30 01:44] tagawa commented on #555
@Hestben Thank you for the PR! I think keeping them as they are for now, as you suggest, would be OK. This should make the PR simpler and we can create a new issue for removing the python2 results in future if we need to.

[2016-11-30 09:26] hchienjo commented on #579
I will deal with this.

[2016-11-30 09:27] hchienjo commented on #580
I will work on this.

[2016-11-30 16:24] jigarsingh commented on #505
this feeling is just awesome. I love this earth.

[2016-11-30 21:14] aegis2501 commented on #490
@tagawa thank you!

[2016-12-01 01:25] dejbug commented on #550
hey ho let's go! :smile:

[2016-12-01 01:49] dejbug commented on #550
Looking through the source, I just noticed that it has precious little info. It seems the authors intended the reader to be looking at the non-python Tk docs in parallel. [iow] This seems to be a "how to read some other reference", more than an actual reference in itself. Any thoughts?

[2016-12-01 02:16] dejbug commented on #550
IA: https://duck.co/ia/view/tkinter

[2016-12-01 06:30] nikhilsingh291 commented on #550
I want to take this issue.

[2016-12-01 09:06] nikhilsingh291 commented on #557
I would like to handle this issue.

[2016-12-01 11:01] sahildua2305 commented on #557
Sure @nikhilsingh291! Please go ahead and create a PR as you start with it so that we can help you. Let me know if you need any sort of help.

[2016-12-01 15:37] rafaelpadovezi commented on #517
@MariagraziaAlastra I saw that multiple categories are possible, so I decided to parse all categories from jQuery. There are total 61 categories. Examples of categories created: **_Basic Css Selectors_**, **_Effects_**, **_Global Ajax Event Handlers_**, Dimensions and **_General Attributes_**.

[2016-12-01 15:53] MariagraziaAlastra commented on #517
Sounds good @rafaelpadovezi :smile:

[2016-12-01 17:08] dejbug commented on #550
ok, this is more interesting than I thought. but I'm working at it.

[2016-12-01 19:04] nikhilsingh291 commented on #557
#589

created a pull request. Please help me with the errors

[2016-12-01 19:33] MariagraziaAlastra commented on #172
@duckduckgo/duckduckhack-contributors Anyone wants to take this? We're experimenting with easier ways to add redirects for a Fathead 😄

[2016-12-01 21:36] pjhampton commented on #550
If you need any help @dejbug, please feel free to reach out! We're all here to advise and help where we can

💙  💛  💜  💚  ❤️

[2016-12-01 23:25] dejbug commented on #550
tenkyu @pjhampton !

[2016-12-02 01:51] tagawa commented on #580
Great, thank you @hchienjo!

[2016-12-02 02:10] tagawa commented on #472
Hi @kousiksatish. We updated our documentation recently and two articles that should help with creating this Instant Answer are:
* https://docs.duckduckhack.com/programming-mission/developing-reference-fatheads.html
* https://docs.duckduckhack.com/programming-mission/creating-effective-fatheads.html

Let us know if you need further help or would like somebody else to take a look.

[2016-12-02 08:22] tagawa commented on #573
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:23] tagawa commented on #521
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:23] tagawa commented on #515
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:24] tagawa commented on #509
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:25] tagawa commented on #504
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:25] tagawa commented on #503
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:26] tagawa commented on #527
Just to clarify, this issue requires making a list of keywords in a new text file - no coding is needed.
As an example, there are two similar pull requests for other languages which should be useful for reference:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

[2016-12-02 08:28] tagawa commented on #518
Fixed by #561

[2016-12-02 08:28] #518 closed

[2016-12-02 11:08] tagawa commented on #573
@MariagraziaAlastra Is it sufficient to mention all C++ headers in the list, or do the methods inside those headers also need to be mentioned?

[2016-12-02 11:28] kousiksatish commented on #472
Hi @tagawa... I was half way in progress and I couldn't devote much time into this last few weeks due to some reasons... I will get it done in this week... Thanks for your help... :)

[2016-12-02 11:28] kousiksatish commented on #472
Hi @tagawa... I was half way in progress and I couldn't devote much time into this last few weeks due to some reasons... I will get it done in this week... Thanks for your help... :)

[2016-12-02 11:29] kousiksatish commented on #472
Hi @tagawa... I was half way in progress and I couldn't devote much time into this last few weeks due to some reasons... I will get it done in this week... Thanks for your help... :)

[2016-12-02 11:29] kousiksatish commented on #472
Hi @tagawa... I was half way in progress and I couldn't devote much time into this last few weeks due to some reasons... I will get it done in this week... Thanks for your help... :)

[2016-12-02 11:32] kousiksatish commented on #472
Hi @tagawa... I was half way in progress and I couldn't devote much time into this last few weeks due to some reasons... I will get it done in this week... Thanks for your help... :)

[2016-12-02 11:51] tagawa commented on #472
No problem @kousiksatish! Didn't mean to put pressure on you.

[2016-12-02 14:27] MariagraziaAlastra commented on #522
@Hestben this is currently the default way of testing a Fathead intended coverage, so yeah it should be as complete as possible. It's not about spotting bugs, bug just about verifying if we have all the most important information served by the IA, or whether there are gaps in it.

[2016-12-02 18:42] #554 closed

[2016-12-02 19:24] moollaza commented on #550
@dejbug fwiw, we're not beholden to https://docs.python.org/2/library/tkinter.html -- if you know of a better resource, we can certainly use that!

[2016-12-02 20:50] uda commented on #521
Here is a JSON file containing all the functions and items available to search in php.net:
* https://secure.php.net/js/search-index.php?lang=en

And here is the JS file relevant to understand what each item type means:
* https://secure.php.net/js/search.js

[2016-12-02 22:36] #513 closed

[2016-12-02 22:40] moollaza opened #591 "NodeJS: Need to remove HTML from parsed documentation content"
### Description

https://duckduckgo.com/?q=http.Server.checkExpectation&ia=about

Looking at the output.txt I can see we're pulling the HTML straight from the docs, which already contains `<p>` and `<a>` tags. The `<a>` tags are known to cause issues and should be removed.

By wrapping the `description` in `<p>` we're breaking the pre-existing `<p>` tags, which is causing the browser to add additi

[2016-12-03 01:54] tagawa commented on #571
Just added some more high priority tasks to the list above.

[2016-12-03 02:26] tagawa commented on #521
They look like a great starting point for reference - thank you @uda!

[2016-12-03 07:32] mr-karan commented on #522
I'd like to take this on

[2016-12-03 08:09] willyb321 commented on #591
I think that I can probably do this.

[2016-12-03 08:18] SaurabhKhadtare commented on #521
yaaaaa hooooooo........

[2016-12-03 08:46] pjhampton commented on #540
What exactly do you guys want to display here when someone triggers this FH. Just the abstract with a link to the full spec?

For example

**Query:** _pep 498_

**Response:**

Python supports multiple ways to format text strings. These include %-formatting [1] , str.format() [2] , and string.Template [3] . Each of these methods have their advantages, but in addition have disadvantages that make th

[2016-12-03 13:34] bfmags commented on #591
Hi @willyb321 it's yours :)
Reach out if you need any help!

[2016-12-03 19:14] ppython commented on #172
Neat idea!
What about a simple regex implementation?
Such as, based on original exemple `animations,css-animation` instead of having for aliases:
[code]
We could have something along the line of (pseudo definition for the idea)
[code]
( quick test result http://regexr.com/3eq4j )

Too complicated? Riskier?
Or more compact?

[2016-12-03 20:57] No6things commented on #511
Couldn't recreate the bug, the search examples already show NodeJS result.
![image](https://cloud.githubusercontent.com/assets/7551968/20862143/685b4d06-b979-11e6-8dcb-d792041e1237.png)
![image](https://cloud.githubusercontent.com/assets/7551968/20862146/76980c4c-b979-11e6-8fef-
![image](https://cloud.githubusercontent.com/assets/7551968/20862147/7f9612da-b979-11e6-846c-df4c315e6d8e.png)
a61377a40

[2016-12-04 01:13] #591 closed

[2016-12-04 06:32] nikhilsingh291 commented on #502
I will take  this task

[2016-12-04 14:03] nikhilsingh291 commented on #549
I can to this. Assign me

[2016-12-04 15:58] aegis2501 commented on #490
@tagawa, what should the formatting for the methods look like?

[2016-12-04 20:26] dejbug commented on #550
hi @moollaza that is good to hear!

I'm going to work with the original Tk man pages for now. parse them into a usable form then afterwards apply the Python syntax modifications, as outlined in the py27 tkinter docs. (maybe the intermediate files could be useful to someone working on the Tcl IA.)

this done, there'll still remain some extension libraries to add: Pwm, tix, and ttk. the latter is a

[2016-12-05 01:28] marti1125 commented on #549
Hi @nikhilsingh291 it's yours 👍
please check this PR for have an good idea how to can create a Fathead
https://github.com/duckduckgo/zeroclickinfo-fathead/pull/575

[2016-12-05 03:46] tagawa commented on #490
@aegis2501 Sure - I should have added this earlier. Here are a couple of pull requests for very similar issues:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561/files
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547/files

Hope that helps!

[2016-12-05 08:31] tagawa commented on #522
Great! Thank you very much @mr-karan. There are a couple of similar PRs here which might help:
* jQuery: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/561
* CSS: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/547

[2016-12-05 15:09] anjanjr commented on #572
@tagawa i was thinking on working on #172. on the issues pages **ppython** suggested to use regex for the alias part, would that work? If yes i can start working on it, or type out all the aliases as suggested by @moollaza.

[2016-12-05 15:58] marti1125 opened #594 "Java: Create new Apache JMeter Fathead Instant Answer"
# Create a new Apache JMeter Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script t

[2016-12-05 17:12] dejbug commented on #550
@moollaza . I just noticed that the `pydoc Tkinter` reads very nice as well. I suppose this is what was meant by OP instead of the data source link to <https://docs.python.org/2/library/tkinter.html>. I'm wondering why not write (if there isn't such a thing already) a pydoc to fathad converter?

[2016-12-05 17:46] jarrodthibodeau commented on #512
I can grab this!

[2016-12-05 18:22] aegis2501 commented on #490
@tagawa thanks!

[2016-12-05 18:28] MariagraziaAlastra commented on #172
@ppython You can definitely use regexes to generate redirects, but the redirects.txt file needs to have the specified format for now :smile:
Thanks!

[2016-12-05 18:57] tagawa commented on #572
Hi @anjanjr! Thank you very much for offering to help. At the moment we don't have the backend support to work with regex in the text files, so please could we use keywords only for now?

[2016-12-05 19:10] vigzmv commented on #552
I would like to work on this.
Most probably would be creating a new django fathead that includes the current one too.

[2016-12-05 19:42] moollaza commented on #549
@nikhilsingh291 you're assigned!

[2016-12-05 19:45] #557 closed

[2016-12-06 02:37] tagawa commented on #552
Thank you for offering to help @vigzmv! Please let us know if you need any help, or ask the community in the Slack #ask-anything channel.

[2016-12-06 02:47] mbad0la commented on #529
@bfmags should I take this up? I'd be extensively needing your help though 😛

[2016-12-06 02:50] tagawa commented on #512
That would be great - thank you very much @jarrodthibodeau! Please ask for help if you need assistance, or send any questions to the #ask-anything channel in [Slack](https://duckduckhack.slack.com).

[2016-12-06 02:58] tagawa commented on #419
@gaganpreet @sahildua2305 Thanks for the comments. I agree that this is not very relevant any more. Perhaps we can just close this issue and leave the Fathead as it is without spending time updating it.

[2016-12-06 02:58] #419 closed

[2016-12-06 08:42] fankee commented on #502
Hi, I would like to take this up if no one else is working on it.

[2016-12-06 09:05] #556 closed

[2016-12-06 09:11] bfmags commented on #529
Sounds good! :D

[2016-12-06 09:34] anjanjr commented on #572
@tagawa Yeah, Okay! will add keywords for now, and you're welcome, am very happy to help.
I have a question, I suppose all the lines in https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/caniuse/articles.txt do not need aliases. wherever there is a requirement, we have to add keywords only for those lines, right? I mean the *redirects.txt* file doesnot have to contain all

[2016-12-06 09:39] tagawa commented on #572
@anjanjr That's right - everything in `articles.txt` is already covered. For example,  the query `css3 opacity` has an article that appears in the IA (Instant Answer) but we could add a redirect to it for the query `css3 transparency`.

[2016-12-06 11:31] ankushg07 commented on #573
@tagawa @sahildua2305 I would like to take this easy issue
just couple of query
In which directory it has be mentioned there are two c++ folders
1) c++_ref
2) cppreference_doc

Also can i include all predefined function name(which are part of some header files) along side the main keywords or just the keywords by c++

[2016-12-06 11:44] souravbadami commented on #502
@fankee -- Please go ahead!

[2016-12-06 18:50] MariagraziaAlastra opened #597 "React API Docs: Broaden search results by adding more aliases"
### Description

The ReactJS Instant Answer currently only shows up for searches like [React.Component](https://duckduckgo.com/?q=React.Component&ia=about), but not for [react component](https://duckduckgo.com/?q=react+component&ia=software).

### What to do
For each line in the [articles.txt file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/reactjs/articles.txt), c

[2016-12-06 19:54] pjhampton commented on #540
## IA Page

https://duck.co/ia/view/pep

[2016-12-06 19:58] SuperHaker commented on #491
I would like to work on this.

[2016-12-06 20:33] #422 closed

[2016-12-06 20:43] jdorweiler opened #598 "PyPi: increase the number of packages we cover"
## Description

We limited PyPi to only the top 10000 packages in #533 to try to improve the relevancy of the results. It looks good so far and so I'd like to bump it up to 15000 and see how that looks.

## What to do
Increase this limit to the appropriate number.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/py_pi/parse.py#L15

------
IA Page:  http://duck.co/ia/view

[2016-12-06 20:49] moollaza opened #599 "CanIUse: Create aliases instead of duplicate articles, use <ul> instead of <br>, and more"
### Issues to be Fixed

1. Currently we create an array of `title`s and loop over that creating individual articles
    - We should instead create redirect entries from within the parser
    - OR, build a separate `redirects.txt` file that will be used internally to generate all the redirects
2. After the initial paragraph of text, we have a list of supported browsers that are separated with `<br>

[2016-12-07 00:08] marti1125 commented on #491
@moollaza could you give me extra information about this issue? please

[2016-12-07 05:30] ahetawal-p commented on #551
I can try taking a stab at this one.

[2016-12-07 18:13] aegis2501 commented on #491
@SuperHaker Hello. I'm currently working on the Java Fathead coverage and have noticed that the code I'm writing overlaps a lot with your assigned issue. since the only way you can test coverage for Java is by listing out all methods for all classes. Would you be interested in taking over my issue? Or the reverse? Alternatively, perhaps we could collaborate in order to avoid duplicate code.

[2016-12-07 20:11] moollaza commented on #540
@pjhampton it looks like many of the pep's have different amounts and content, but they all seem to at least have an abstract, and metadata such as the author(s), written title, status, etc.

I think those would all be useful to show?

[2016-12-07 20:22] moollaza commented on #491
@aegis2501 your work does overlap somewhat, but I don't think @SuperHaker needs to take over for you, or vise versa.

The category pages is about providing the name of the category (or categories) that a given article should belong to.

This enables us to create category pages that list out all the related articles.

So for each article that is a class method, we can specify its "category" as "Jav

[2016-12-07 20:23] moollaza commented on #491
The work you're both doing can continue in parallel without issues.

[2016-12-07 20:34] #568 closed

[2016-12-07 20:49] pjhampton commented on #540
Yeah, I agree @moollaza. I have opened a discussion on the forum here: https://forum.duckduckhack.com/t/new-pep-fathead/1364

[2016-12-07 20:53] aegis2501 commented on #491
I understand. Thank you for the clarification!

[2016-12-07 23:21] dejbug commented on #550
let's see if this will work: first every symbol in the Tkinter python sources will be enumerated, then the (often more informative) docs from the Tcl/Tk reference added.

this is taking longer than I thought, also because I'm trying to find a way to avoid copy-and-pasting a whole new documentation page. but, also given how small the library is, that may be a valid option here.

anyway, the more I

[2016-12-08 08:20] Hestben opened #605 "Python: Fix Documentation Parsing Bugs, Improve Python2 Instant Answers"
### Description
During work on PR #538, issues with parsing was seen.

#### Examples:
- https://duckduckgo.com/?q=python+functools&t=ffsb&ia=about
Abstract starts with "Source code: Lib/functools.py", This information should be removed.
- https://duckduckgo.com/?q=python+abs%28%29&t=ffsb&ia=about
The information presented here does not look relevant to `abs`.
- For the new python2 fathead, the que

[2016-12-08 18:49] bfmags opened #608 "jQuery: Add article aliases (redirects) -- $word, $(word), $ word"
### Description

We have aliases for $.word, e.g. $.ajax, but we still miss the following ones:

$word - e.g. $ajax
$(word) - e.g. $(ajax)
$ word - e.g. $ ajax

### What to do
For each jquery.* method line in the [articles.txt file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/jquery/articles.txt), create aliases and store them in a new redirects.txt file, in the sam

[2016-12-08 18:55] bfmags opened #609 "jQuery: Add article aliases (redirects) -- Add, remove, set, toggle"
### Description

We need aliases for the .css() and for the .add() articles, prepending the words "add" and "set":

~~"add css",~~ "add class", "add css class", "add a class", "add a css class", "add classname" as aliases for ~~.css()~~ .addClass()
Same as above, but with "set" instead of "add" (e.g. "set css" etc)
"add element", "add html element", "add dom element","add child", "add child elemen

[2016-12-08 19:01] bfmags opened #610 "jQuery: Add article aliases (redirects) -- Append, After, Before"
### Description

We need some aliases for the articles .append(), .after() and .before():

"append child", "append element", "append html element", "append elements", "append to html", "append to html element", "append to div", "append to page", "append to dom" as aliases for .append()
"append after", "append after element" etc as aliases for .after()
Same thing as above, but with "before" instead

[2016-12-08 19:09] bfmags opened #611 "jQuery: Add article aliases (redirects) -- Event Methods"
### Description

Add aliases for [event methods ](https://api.jquery.com/category/events/) :

* "bind" + event name, e.g. "bind click"
* "trigger" + event name, e.g. "trigger click"
* event name + "element" and "on element", e.g. "click element" and "click on element"
* "on" + event name + "event", e.g. "on click event" and "onclick event"
* event name + "function", e.g. "click function"
* "on" +

[2016-12-08 19:15] bfmags opened #612 "jQuery: Add article aliases (redirects) -- :checked Selector"
### Description

We need to add the following aliases for the article ":checked Selector":

"checkbox is checked"
"checkbox checked"
"checkbox on select"
"checkbox on check"
"checkbox select"
"checkbox selected"
"checkbox is selected"

### What to do
Create aliases and store them in a new redirects.txt file, in the same directory.
Reference [articles.txt file](https://github.com/duckduckgo/zerocli

[2016-12-08 19:19] #555 closed

[2016-12-08 19:21] bfmags opened #613 "jQuery: Add article aliases (redirects) -- Example"
### Description

Add aliases appending the word "example" to all article titles.

### What to do
For each article line in the [articles.txt file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/jquery/articles.txt), create aliases and store them in a new redirects.txt file, in the same directory.

Each line of the redirects.txt file should be structured as follows: alia

[2016-12-08 20:08] #521 closed

[2016-12-08 23:05] moollaza opened #614 "PHP: Correct output.txt to use 13 tabs instead of 14"
### Description
The PHP output.txt file contains 14 tabs instead of 13 because we have the newline `\n` as a 14th column instead of appended to the end of the 13th.

We need to have 13 columns to prevent any warnings or errors from occurring.

### Solution
Ensure we have 13 columns in the output.txt file and the line is added to the file with a newline at the end of the line, i.e.`\n`

## People t

[2016-12-08 23:22] moollaza opened #616 "PHP: Improve parser to cover more of the documentation and create redirect entries"
### Description

We've added the names of all PHP Functions to the `cover/` directory, and after running the test, it reported that over 18,000 functions from our coverage are missing in the output.txt.

We need to investigate why the output only contains approximately 4000 articles, and update the parser to grab the missing 14,000 articles.

We also need to create redirects appropriately so that

[2016-12-08 23:37] VitorVRS commented on #616
@moollaza The actual parser only generate articles to php functions, the other entries are, at the majority, class and methods.

Function example: https://secure.php.net/manual/en/function.fopen.php
Class example: https://secure.php.net/manual/en/class.datetime.php

And there are a lot o more "types" of data.

[2016-12-08 23:58] ahetawal-p commented on #551
PR : https://github.com/duckduckgo/zeroclickinfo-fathead/pull/617

[2016-12-09 02:13] tagawa commented on #616
That's correct. The coverage data list contains all the keywords from this search archive on php.net: https://secure.php.net/js/search-index.php?lang=en

I took both the single item name for each entry, e.g. `add`, but because there are many duplicates I also included the full item path for each entry, e.g. `datetime.add`, `event.add`, etc.

Hence a lot of keywords but they should all match an art

[2016-12-09 02:19] tagawa commented on #551
Cool, thank you for the PR @ahetawal-p!

[2016-12-09 05:47] #614 closed

[2016-12-09 10:18] danidee10 commented on #598
If no one has claimed this i would love to (PS...isn't this as easy as bumping up the number in `parse.py` or am i missing something else?)

[2016-12-09 13:40] jBaldha commented on #613
https://github.com/jBaldha/jQueryAddarticleAliases/tree/master

[2016-12-09 14:09] tagawa commented on #573
Hi @ankushg07. Thank you very much for taking this on!
I think cppreference_doc is the correct directory, and it should be fine to include all predefined function names as well. @MariagraziaAlastra - could you confirm that's correct please?

[2016-12-09 14:11] bfmags commented on #613
Hi @jBaldha thank you for wanting to contribute, and taking the time writing that code!

Please review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md), also in order to accomplish the task, you'll have to:

* [Set up your development environment](https://docs.duckduckhack.com/welcome/setup-dev-environment.html), and fork this repository
* C

[2016-12-09 16:19] jdorweiler commented on #598
@danidee10 exactly, just find the correct number of pages to get 15k articles.

[2016-12-09 23:21] ahetawal-p commented on #508
Is this still needed ? I see the operators already present in the output.txt for swiftdocs.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/swiftdocs/swift/output.txt

[2016-12-10 01:23] VitorVRS commented on #616
@tagawa should the cover file be splitted on other files according with its context?

Or we should make the parse read that information too?

[2016-12-10 02:52] ahetawal-p commented on #514
I can take a look at this one..

[2016-12-10 05:09] marti1125 opened #622 "Java: Create New Retrofit Fathead"
# Create a new Retrofit Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that s

[2016-12-10 11:48] devanshdalal commented on #369
Hi guys, Is the issue still unresolved ? I want to contribute as well.

[2016-12-10 12:51] tagawa commented on #616
@VitorVRS Good question - I was wondering that too. I think having it as a single file for now. I've made a small change to the internal code so the articles will be triggered with `... function`, `... class`, `... keyword`, etc. Then we can monitor the coverage and see if we should split the file later, although that might be a lot of manual work.

[2016-12-10 15:31] marti1125 opened #624 "Java: Create New iText 7 Community Fathead"
# Create a new iText 7 Community Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

## iText 7 Community

Here is where you will find our application programming interfaces (APIs) - the building blocks you may use to create your very own PDF solution.

http://developers.itextpdf.com/apis

### What do I need to know?
You'll need to know how to code in **Perl**,

[2016-12-10 20:42] sahildua2305 commented on #573
@ankushg07 Thanks for taking this up!

Yes, `cppreference_doc` is the correct directory. Please check [docs](https://docs.duckduckhack.com/programming-mission/creating-effective-fatheads.html) and let me know if you need help. 😄

[2016-12-11 01:50] athomas6891 opened #625 "HTML Reference: anthony dildo"
------
IA Page:  http://duck.co/ia/view/htmlref
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @lucassmagal

[2016-12-11 02:58] #625 closed

[2016-12-12 13:29] tagawa commented on #490
@aegis2501 I think that should be fine, but ideally there should be a `/cover` directory with a text file of all terms that should be covered, so we can use this to test overall coverage.

[2016-12-12 18:36] pvskarthikeya commented on #610
Hi! This seems like something I can do. I will start working on this. Is anyone already working on this?

@bfmags @MariagraziaAlastra

[2016-12-12 21:53] #514 closed

[2016-12-12 22:02] bfmags opened #628 "NodeJS: fix duplicates"
### Description

NodeJS output.txt file has a lot of duplicates that need to be removed.
One way to solve this issue is to introduce a Dictionary to keep track of Articles and avoid duplicates.

## Steps to recreate

Run tests in duckpan:
`DDG_TEST_FATHEAD=node_js prove --quiet t/validate_fathead.t 1>/dev/null`

https://gist.github.com/bfmags/86f81caf513c0078b1d3be3918c22526

Refer to documentatio

[2016-12-12 22:04] bfmags commented on #628
@ahetawal-p should I assign you to this one? :)

[2016-12-12 23:11] moollaza opened #629 "Improve Fathead Tests: Check for escaped tabs, broken HTML"
### Description
The Fathead tests (in `t/lib/TestUtils`) have recently been updated, but there are a few extra things that we should check for and ensure don't exist in the output:

- escaped tabs (`\\t`): any escaped tabs in the output will cause the entry to be tossed out during internal processing. Any unescaped tabs `\t` should be replaced with 2 or 4 spaces, (i.e. `  ` or `     `)
- broken ht

[2016-12-12 23:41] ahetawal-p commented on #628
Sure @bfmags I can take a look, although might be a little late getting to this. As I might be away for Holidays soon :)

[2016-12-13 00:34] kaushik94 commented on #629
@moollaza  @jbarrett can I take this up?

[2016-12-13 09:08] bfmags commented on #628
@ahetawal-p Cheers! I'll assign you but no pressure on timing! 👍

[2016-12-13 10:54] ioanmoldovan commented on #611
I'll take a look at it :-)

[2016-12-13 11:42] bfmags commented on #611
Thanks @ioanmoldovan ! Let me know if you need any help

[2016-12-13 11:43] ioanmoldovan commented on #611
Can you please message me on slack, I have some questions

[2016-12-13 13:02] bfmags commented on #611
Thanks @ioanmoldovan !

https://beta.duckduckgo.com/?q=jquery+on+mouse+enter&ia=about

[2016-12-13 13:46] ioanmoldovan commented on #611
If a user searches for "bind click", I think the example shown should be for .bind(), but more specific, with the argument of the bind function containing the event name (in this case "click"), not just eventType. Also it would be nice if developers were warned bind, trigger and others are deprecated.

[2016-12-13 15:35] moollaza commented on #611
@bfmags I think "bind click" should point to `.click()` because it sounds like you're trying to do (bind) something when a click occurs.

I think `trigger event` should point to `.trigger` though, because I would search that when I'm looking for the docs about the "trigger" event.

Are you thinking someone might search that to learn about _how to_ trigger an event?

[2016-12-13 15:39] bfmags commented on #611
Exactly, I was thinking someone searching for `bind click` might be searching to learn about the click event, rather than how to bind an event.

@ioanmoldovan can you make these changes : bind should be`bind event, event`

Cheers!

[2016-12-13 16:31] #474 closed

[2016-12-13 17:16] moollaza commented on #629
@kaushik94 yes please, you're welcome to!

[2016-12-13 17:29] ioanmoldovan commented on #616
Is already someone working on this, and if not, could I work on this?

[2016-12-13 17:40] ahetawal-p commented on #628
@bfmags added a fix, take a look when you get some time.

[2016-12-13 19:02] #598 closed

[2016-12-13 19:02] davidjosephhayes commented on #616
I would be down to help

[2016-12-13 20:31] MariagraziaAlastra opened #634 "CSS: Create New Less CSS Fathead"
# Create a new Less Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrap

[2016-12-13 21:07] MariagraziaAlastra commented on #298
@amarlearning need any help with this?

[2016-12-13 21:36] pjhampton commented on #445
Hey @conormag94

Are you still working on this? If not, I can release it back into the wild claimed.

[2016-12-14 02:21] beng commented on #558
👋 @souravsingh - are you still working on this? would you be open to collaborating?

[2016-12-14 03:28] beng commented on #612
@bfmags i would like to tackle this issue.

[2016-12-14 09:01] bfmags commented on #612
Thanks @beng, you can go for it!

[2016-12-14 09:17] hchienjo opened #635 "MDN CSS: Add aliases (redirects) -- font."
### Description

This IA shows answers for searches such as [font size](https://duckduckgo.com/?q=css+font+size&t=lm&ia=about) but not for searches such as `text size`.

## What to do.
Create a new text file called redirects.txt in the same folder as [articles.txt](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdn_css/articles.txt).

For each entry in [articles.txt](h

[2016-12-14 09:34] ioanmoldovan opened #636 "jQuery Bug: Missing data.url, IAs don't load"
### Description
Nearly all jQuery IAs don't work due to the missing data.url, which is needed for fetch.sh.

## Steps to recreate
Search for any jQuery event method, like "on click event", "on dblclick event" and all the other aliases in redirects.txt

## People to notify
@bfmags

[2016-12-14 09:38] hchienjo opened #637 "MDN CSS: Add aliases (redirects) -- background"
### Description

This IA shows answers for searches such as [background color](https://duckduckgo.com/?q=css+background+color&t=lm&ia=about) but not for searches such as `color background`.

## What to do.
Create a new text file called redirects.txt in the same folder as [articles.txt](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdn_css/articles.txt).

Create aliase

[2016-12-14 09:54] hchienjo opened #638 "MDN CSS: Add aliases (redirects) -- list values"
### Description

Improve triggering of this IA by add aliases for each CSS property listing the possible values.

For instance the article `font-style` should have the following aliases types:

1. Attribute and value (e.g. "font style bold", "bold font style", "font-style bold", "font-style: bold", "font style: bold", "font-style: bold;")
2. First word in the attribute if it's a composite one with

[2016-12-14 10:11] hchienjo opened #639 "MDN CSS: Add aliases (redirects) -- composite words"
### Description

Create aliases for all the composite-word CSS properties where we switch the words order, e.g. "background-position" would have "position background" as an alias

Each line of the redirects.txt file should be structured as follows: alias,original line.
**Example:** `position background,background-position`

Each alias should go in its own line in a file called redirects.txt in the

[2016-12-14 10:20] hchienjo opened #641 "MDN CSS: Add aliases (redirects) -- adding elements and divs"
### Description

Add aliases for all articles by appending and prepending the words "element" and "div".
For instance the article "background-color" would have the following aliases:

1.  "background color element", "background-color element"
2. "element background color", "element background-color"
3. "background color div", "background-color div"
4. "div background color", "div background-color"

[2016-12-14 11:57] jordivador commented on #366
Hi @GuiltyDolphin , I would like to try to help with this improvement, as my first contribution to duckduck :smile:  .

[2016-12-14 12:19] conormag94 commented on #445
Hi @pjhampton

I had to put this on hold due to College etc, sorry about that. Its probably best to let someone else work on it as I don't have the time to do it myself at the moment.

[2016-12-14 13:02] #445 closed

[2016-12-14 13:28] Hasil-Sharma opened #643 "Spark Scala Reference: New Fathead"
Reference Source: http://spark.apache.org/docs/latest/api/scala/index.html
------
IA Page:  http://duck.co/ia/view/spark_scala_reference
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Hasil-Sharma

[2016-12-14 13:29] Hasil-Sharma commented on #643
I'm working on this issue 😄

[2016-12-14 13:59] MariagraziaAlastra commented on #610
@pvskarthikeya No one has taken this yet, you're welcome to work on this! Thanks! :smile:

[2016-12-14 14:31] moollaza commented on #636
@ioanmoldovan sorry about the confusion.

The jQuery IA still works: https://duckduckgo.com/?q=on+mouseenter&t=opera&ia=about

The new redirects you're mentioning haven't been deployed to production yet. After the PR is merged, there is a release process, currently we've been deploying all the Fathead changes on Mondays.

Regarding the `data.url` -- that's my mistake. Those files are old and I did

[2016-12-14 18:02] MariagraziaAlastra commented on #611
@ioanmoldovan @bfmags It's live! https://duckduckgo.com/?q=bind+click&t=vivaldi&ia=about

Thanks so much, going to close this as fixed now :smile:

[2016-12-14 18:02] #611 closed

[2016-12-14 20:26] souravsingh commented on #558
@beng I am working on the issue. Will make a PR in a few days.

[2016-12-14 20:33] moollaza commented on #616
@ioanmoldovan @davidjosephhayes no one is currently working on this -- it's all yours 👍

[2016-12-14 20:35] moollaza commented on #508
@ahetawal-p looks like you're right! This must have been addressed already 👍

[2016-12-14 20:35] #508 closed

[2016-12-14 21:27] pjhampton commented on #558
Hey @beng

Are you available on working on another fathead, possibly Tensorflow or keras?

[2016-12-14 22:21] beng commented on #558
@pjhampton which issue # (and move convo to somewhere else? maybe slack)? already on #612 and am exploring #334.

[2016-12-14 22:44] itai421 commented on #530
O.K, so it took me a while, but I think I am starting to get it.
I notice that the this problem occurs only when querying *Web APIs*  and I found a way to extract the first example.
Now, I am facing a problem showing examples contains both *HTML* an *JavaScript*.
The solution I found is to display them both in the same `code` tag with comments as separators , this looks like this:

![duck](https:/

[2016-12-15 04:14] amdolan commented on #608
I'll take this.  Maybe a few more when I have things running 😄

[2016-12-15 10:33] bfmags commented on #530
@MariagraziaAlastra @itai421
Would splitting in two separate code areas work?

<img width="721" alt="screen shot 2016-12-15 at 10 32 20" src="https://cloud.githubusercontent.com/assets/3740101/21220649/cdd661a2-c2b1-11e6-99a6-f98474214630.png">

[2016-12-15 10:37] bfmags commented on #608
@amdolan Thanks! Reach out if you need any help! 👍

[2016-12-15 17:42] amdolan commented on #608
No problem @bfmags, just one question;

I'm not sure if this means to clobber the existing file, or if you really want me to append to the file.  Clarification would be good 😅

[Here's what I did](https://github.com/amdolan/zeroclickinfo-fathead/commit/c6dbca2f06668b6be626e14f3ca962cf3000c818), but I'm second guessing it, I couldn't find how redirects.txt is used..

[2016-12-15 18:49] itai421 commented on #530
WOW, that looks great :)
I did not found a way to output a result with two examples and an example description or title for each of them, how did you that?

[2016-12-15 19:01] bfmags commented on #530
Thanks! :)

I just hacked in DevTools. Basically, when there's HTML and JS code, the markup changes to have the extra `<span class="prog__sub">HTML Content</span><code>html code here</code><span class="prog__sub">Javascript Content</span>`

[2016-12-15 19:53] #597 closed

[2016-12-16 00:10] itai421 commented on #530
Oh I see, I will change the `parse.py` to do that, Thanks :)

[2016-12-16 01:04] beng commented on #634
i can take this

[2016-12-16 02:42] amdolan commented on #608
questions answered here: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/650
will have a pr later on.

[2016-12-16 04:12] beng commented on #634
in the [color operating](http://lesscss.org/functions/#color-operations) and [color blending](http://lesscss.org/functions/#color-blending)  sections (and also scattered throughout the docs) there are images that show the user the output of calling each function with various parameters. should i capture these images in the `output.txt`?

[2016-12-16 08:00] hchienjo commented on #634
Thanks @beng for offering to do this. As at now, the fathead support referencing one image and I see that there are two images. So for now we can focus on capturing the `example` and `output` parts instead of the image output.

[2016-12-16 10:34] #612 closed

[2016-12-16 14:27] tagawa commented on #369
Hi @devanshdalal. That would be great - thank you for offering!
Feel free to comment here with questions or suggestions, and there's also a forum thread for discussing this Instant Answer (IA): https://forum.duckduckhack.com/t/improve-mdn-javascript-fathead/155/14

And in case you haven't seen it, we have in-depth documentation here: https://docs.duckduckhack.com

Thanks again!

[2016-12-16 17:04] pa7ryk commented on #635
Hi I'd like to work on this issue.

[2016-12-16 17:06] hchienjo commented on #635
@pa7ryk Great! Thanks a lot. All yours.

[2016-12-16 20:48] preemeijer commented on #326
Hello, is this still an open issue? That could be worked on?
Cheers, Paul

[2016-12-17 02:52] beng commented on #634
@hchienjo yeah, that makes sense except there are some functions where `output` is the image, eg `multiply` ([seen here](http://lesscss.org/functions/#color-blending-multiply)). should i only extract the `example` for these functions and **ignore** the output?

[2016-12-17 07:05] hchienjo commented on #634
For the moment yes, you can ignore the `output` images but you can capture the `returns` part and maybe one example as well for that case.

[2016-12-17 17:38] vigzmv commented on #552
Just an update that I am still working on it, [djangoproject](https://docs.djangoproject.com/en/1.10/ref/) has different styles/structures on different pages so scraping has to be done carefully on each page, It will be complete in few more days, just making sure that it is of fine quality. 😄

[2016-12-17 19:57] onchance commented on #637
I'll take a stab at this one.

[2016-12-17 20:39] onchance commented on #637
@hchienjo I can't work out where `redirect.txt` is being processed. Adding those redirects (7f9fd2f92b99de02f6fa9bbf287475d053a186ba) doesn't appear to have an effect. What am I missing?

[2016-12-18 21:26] GuiltyDolphin commented on #366
@jordivador Please do! Follow the steps outlined and give me a ping if you need any help!

[2016-12-19 15:41] albusdemens opened #654 "Direct queries graph is not updating"
### Description
The graph at [https://duckduckgo.com/traffic.html](https://duckduckgo.com/traffic.htm)l is not updating since December 14.

![screen shot 2016-12-19 at 17 03 01](https://cloud.githubusercontent.com/assets/276459/21319367/490614a4-c60d-11e6-96ac-2c04ac867ac7.jpg)

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2016-12-20 12:11] pa7ryk commented on #639
I can deal with it.

[2016-12-20 13:31] ManrajGrover commented on #639
@pa7ryk Go ahead with it! 😄

[2016-12-20 15:48] MariagraziaAlastra opened #655 "Pika: broaden search results by adding article aliases"
### Description
For each line in the [articles.txt file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/pika/articles.txt), create aliases and store them in a new redirects.txt file, in the same directory.

Each line of the redirects.txt file should be structured as follows: alias,original line.
The aliases should have symbols, such as dots and underscores, replaced wi

[2016-12-20 16:19] MariagraziaAlastra commented on #637
@onchance We process that file internally, you can't currently reproduce that on a local instance. If you open a PR containing that file it will be automatically deployed to our beta server and you'll be able to test there.
Thanks! :smile:

[2016-12-20 16:26] onchance commented on #637
@MariagraziaAlastra Thanks! I'll go ahead and submit the PR.

[2016-12-20 16:49] rahuldecoded commented on #655
Is this bug open? I can't see any redirects.txt file in repo.
If this bug open, can I work on this?

[2016-12-20 16:51] MariagraziaAlastra commented on #655
@rahuldecoded Yeah it's open! There isn't a redirects.txt file yet for Pika, you'd need to create one.
Of course you can work on this, thanks for your interest! :smile:

[2016-12-20 17:45] rahuldecoded commented on #655
@MariagraziaAlastra Actually I'm new to thing so I need some help, hope you don't mind.  :smile:
As per you comment#1 the dots and underscore will be replaced with space.
example:
access, Access
access request, Access.Request
access request get body, Access.Request.get_body
access request get properties, Access.Request.get_properties
Am I getting it right?

[2016-12-20 17:46] MariagraziaAlastra commented on #655
@rahuldecoded Yup, that's right!
Also no worries, please feel free to ask any questions you might have :smile:

[2016-12-20 18:34] rahuldecoded commented on #655
@MariagraziaAlastra I've added a PR. I have done it programmatically using python :baby:
Sorry in Advance if I've done any mistake.

[2016-12-20 19:21] rahuldecoded commented on #641
Can I take this bug?

[2016-12-20 19:46] #655 closed

[2016-12-20 19:53] MariagraziaAlastra commented on #641
Sure, thanks @rahuldecoded! 👍

[2016-12-20 20:36] devanshdalal commented on #369
Hi guys,

This might seem silly. But I agree with @bfmags' comment about. Because with the latest version of the mdnjs, I am still getting the correct expected output.txt.

`<pre><code>new Date();\nnew Date(value);\nnew Date(dateString);\nnew Date(year, month[, date[, hours[, minutes[, seconds[, milliseconds]]]]]);\n</code></pre>
`

Please, give me any hits what can be wrong in this ?

[2016-12-20 21:09] rahuldecoded commented on #641
@MariagraziaAlastra Can you tell me what to do with this one?
[webkit pseudo-element selectors (shadow dom elements)](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdn_css/articles.txt#L601)

[2016-12-20 21:46] MariagraziaAlastra commented on #641
@rahuldecoded you could have two aliases there for the same article, "webkit pseudo element selectors" and "webkit shadow dom elements" :smile:

[2016-12-20 22:25] #637 closed

[2016-12-20 23:42] VitorVRS commented on #520
@MariagraziaAlastra sorry for the lateness...

I've already finished the parser, just need your thoughts about the following issues to open my PR.

## Functions without examples

Were found 2475 functions without examples section, i didn't saw every single one, just a few.

---

## The following functions doesn't have an concrete example, just an link to another function:

* maxdb-more-results
* m

[2016-12-21 05:14] Caldwerl commented on #613
I'd like to give this a shot.

[2016-12-21 13:41] bsstoner opened #660 "Launchpad: Broken more at link"
https://duckduckgo.com/?q=stuntrally

------
IA Page:  http://duck.co/ia/view/launchpad
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-12-21 16:13] bfmags commented on #636
@moollaza can we close this one?

[2016-12-21 16:16] bfmags commented on #369
@devanshdalal Thanks for reviewing the code! I think this is going to be looked at internally (possibly Fathead internal bug), but @MariagraziaAlastra will confirm shortly.

[2016-12-21 16:52] pa7ryk commented on #639
I don't know how to exactly handle for example this line `:-moz-handler-blocked`.
Should I create separated lines in redirects.txt file like:
[code]
?

[2016-12-21 17:49] MariagraziaAlastra commented on #639
@pa7ryk for browser-specific stuff the first line in your example will be enough, you can skip the other combinations :smile:
Thanks!

[2016-12-21 17:55] MariagraziaAlastra commented on #369
Yup, this looks like an internal issue.
@devanshdalal would you like to work instead on this issue: [jQuery: Add article aliases (redirects) -- Add, set](https://github.com/duckduckgo/zeroclickinfo-fathead/issues/609)? It's high priority and it would greatly improve coverage for the jQuery IA and overall in the JavaScript search space :smile:

[2016-12-21 18:05] #613 closed

[2016-12-21 18:14] devanshdalal commented on #609
Hi guys, I will take this issue.

[2016-12-21 18:18] bfmags commented on #609
Cheers! 😄

[2016-12-21 18:51] pa7ryk commented on #639
How about case like this `border-block-start-style`?

[2016-12-21 19:08] MariagraziaAlastra commented on #639
@pa7ryk actually you can just skip those altogether, it doesn't make a lot of sense to revert the order in that case. Thank you! 😄

[2016-12-21 19:53] rahuldecoded commented on #641
@MariagraziaAlastra What to do with this ":-moz-suppressed"?

[2016-12-21 20:15] MariagraziaAlastra commented on #641
@rahuldecoded you can skip the ones like that

[2016-12-22 11:32] #530 closed

[2016-12-22 14:31] pa7ryk commented on #639
@MariagraziaAlastra There are two separated files for redirects (redirect.txt and redirects.txt). One is created by me in issue #635 and another from #637. I think it can be mistake. Should I ignore that?

[2016-12-22 14:34] MariagraziaAlastra commented on #639
@pa7ryk yeah don't worry about it, just add the new ones to the file you previously created. 👍

[2016-12-22 19:35] devanshdalal commented on #609
What be the redirects for fields  ``:eq() Selector``?

What would be for this one ``Attribute Contains Prefix Selector`` as well?

[2016-12-22 20:00] hchienjo commented on #639
closed via https://github.com/duckduckgo/zeroclickinfo-fathead/issues/661

[2016-12-22 20:00] #639 closed

[2016-12-22 21:41] MariagraziaAlastra opened #663 "C#: Create new C# Reference Fathead"
# Create a new C# Reference Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script th

[2016-12-22 22:42] MariagraziaAlastra opened #664 "Haskell: Create New Haskell Reference Fathead"
# Create a new Haskell Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2016-12-22 23:04] MariagraziaAlastra opened #665 "R: Create New R Reference Fathead"
# Create a new R Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrapes

[2016-12-23 19:44] ankitbisla21 commented on #638
I am a beginner. I would like to work on this issue.

[2016-12-23 20:59] pjhampton opened #666 "Python: Create New asyncpg Reference Fathead"
# Create a new *asyncpg* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2016-12-23 21:12] pjhampton opened #667 "Python: Create New Tensorflow Reference Fathead"
# Create a new *Tensorflow* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script th

[2016-12-23 21:38] pjhampton opened #668 "Python: Create New Bokeh Reference Fathead"
# Create a new *Bokeh* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2016-12-23 22:24] #517 closed

[2016-12-24 06:24] hchienjo commented on #638
@ankitbisla21 thanks. All yours.

[2016-12-24 15:32] iamrajhans commented on #666
I'm working on this issue

[2016-12-24 17:21] pjhampton opened #669 "Python: Create New arrow Reference Fathead"
# Create a new *arrow* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2016-12-24 17:24] pjhampton opened #670 "Python: Create New TFLearn Reference Fathead"
# Create a new *TFLearn* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2016-12-24 17:27] pjhampton opened #671 "Python: Create New Pandas Reference Fathead"
# Create a new *Pandas* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that s

[2016-12-25 13:34] rasikapohankar commented on #407
@p12tic Can you please open a pull request with the new `output.txt`? It will be deployed to beta automatically for testing 🙂

[2016-12-25 13:38] rasikapohankar commented on #407
I didn't mean to unassign @p12tic, not sure why it happened 😕 🤔

@tagawa Can you please reassign @p12tic? I can't seem to find them in the list..

[2016-12-25 18:32] devanshdalal commented on #622
Hi, I want to work on this one.

[2016-12-26 09:53] GuiltyDolphin commented on #664
@MariagraziaAlastra I'll be happy to help review once a PR is made for this IA.

[2016-12-26 16:35] johnjkim commented on #663
Hi, can I claim this issue?

[2016-12-26 16:45] johnjkim commented on #663
I created a new IA page: https://duck.co/ia/view/c_sharp

[2016-12-27 00:56] marteki commented on #515
I'd like to take this one.

[2016-12-28 08:41] souravsingh commented on #668
I am interested in working on the issue.

[2016-12-28 08:45] souravsingh commented on #558
@pjhampton The sklearn fathead was already done before.

[2016-12-28 13:00] pjhampton commented on #558
Hey @souravsingh,

Yes, it looks like @jrasanen was working on this a couple of months ago. So sorry for the confusion. Let's chat on skype and see if there is something we can find for you.

[2016-12-28 13:00] #558 closed

[2016-12-28 13:01] pjhampton commented on #668
Awesome, @souravsingh. It's all yours 😄  Ping me if you have any questions.

[2016-12-28 21:12] moollaza commented on #326
@preemeijer I've partially fixed this for now by appending `sort` to the parse.sh scripts -- there are probably a few more that can be manually updated, but we don't really have a robust solution right now..

[2016-12-28 21:22] #643 closed

[2016-12-28 21:41] moollaza commented on #663
@johnjkim it's all yours!

Awesome, thanks!

[2016-12-29 17:00] xvf commented on #622
@devanshdalal Have you started working on this?

[2016-12-29 22:20] devanshdalal commented on #622
@xvf, Hi, if you want to work on this, take it then. I am slightly busy now.

[2016-12-30 03:40] adentranter commented on #599
Im keen to take on this issue.

Just wanted to get a bit more info on what you mean in point 1 if possible? The other 3 items I understand fully.

[2016-12-30 14:53] abijith-ka00 commented on #301
c++ is simple,
if we catch it we can made all other programing languages

[2016-12-30 14:54] abijith-ka00 commented on #515
if we manage c++ javascript is simple

[2016-12-30 18:04] johnjkim commented on #663
Just a quick clarification, but by the line "All the articles in the section Tour of C# should be fetched and parsed," does this mean I only need to fetch and parse articles from Tour of C# and I don't have to get articles from the other sections in the Data source?

[2016-12-31 02:34] tagawa commented on #515
Hi @marteki. That's very kind of you - thank you!

[2017-01-02 05:37] tagawa commented on #407
@rasikapohankar Thanks for noticing. I think @p12tic has now removed himself from the contributor list so we can't assign it to him.

[2017-01-02 10:29] p12tic commented on #407
Hmm, I did so because I was getting emails about all Fathead bugs. Perhaps I should look into muting threads instead next time.

[2017-01-03 08:10] altern8tif commented on #509
@tagawa sign me up for this.

Just to clarify, are the `.txt` files used for tests in `t/validate_fathead.t` file?  Are the topic titles/language features meant to be generated manually?

[2017-01-03 09:00] tagawa commented on #509
Hi @altern8tif (and happy new year!). Thank you for taking this up. Yes, the `.txt` files will be used for tests. Because of this, the topic titles/language features should be generated manually. This could be by scraping from the official docs, for example. Ideally the Fathead will already cover everything in the generated lists but doing it manually in this way will enable us to verify it.

[2017-01-03 14:54] #628 closed

[2017-01-03 17:19] pjhampton commented on #235
Hey @pbronez!

Just checking in. Are you still interested on working on this Fathead?

[2017-01-03 18:27] #233 closed

[2017-01-03 19:45] danidee10 commented on #669
@pjhampton i would like to handle this one

[2017-01-03 20:07] pjhampton commented on #669
You rock @danidee10 :) Thanks!!

[2017-01-03 20:53] #609 closed

[2017-01-03 22:37] #551 closed

[2017-01-03 22:46] #580 closed

[2017-01-03 22:48] #504 closed

[2017-01-04 05:37] devanshdalal commented on #670
I want to do this.

[2017-01-04 12:20] pjhampton commented on #670
You rock @devanshdalal 🤘
Ping me if you have any questions!

[2017-01-04 15:59] souravsingh commented on #671
I am interested in working on this.

[2017-01-04 16:30] thinker3197 commented on #319
If no one is working on this issue, I'm up for it.

[2017-01-04 17:48] pjhampton commented on #671
Thanks so much @souravsingh 😄  You rock 🤘
Let me know if you have any questions!

[2017-01-04 17:54] #512 closed

[2017-01-04 17:56] #636 closed

[2017-01-04 17:58] pjhampton commented on #461
Hey @rnkaufman,

Thanks so much for your hard work! 💙  💛  I'm only getting round to seeing this now. Please consider joining the DDG organization on Github (see: https://github.com/duckduckgo/duckduckgo/issues/182) so I can assign you to other things aswell.

[2017-01-04 18:00] bfmags commented on #610
Hi @pvskarthikeya any progress? 😄

[2017-01-04 18:08] bfmags commented on #319
Go for it @thinker3197 ! Shout if you need any help 👍

[2017-01-04 21:41] #605 closed

[2017-01-05 00:38] danidee10 commented on #669
@pjhampton the IA has been created https://duck.co/ia/view/arrow_docs

[2017-01-05 02:59] MER-C opened #676 "Wikipedia Bug: please respect NOINDEX on newly created pages"
### Description
The English Wikipedia places NOINDEX on unreviewed new articles because they may contain any combination of libel, spam, vandalism and copyright violations (https://en.wikipedia.org/wiki/Wikipedia:Requests_for_comment/NOINDEX). DDG Wikipedia fathead answers appear regardless of whether the page is NOINDEXed or not.

## Steps to recreate
1. Go to https://en.wikipedia.org/wiki/Specia

[2017-01-05 13:01] mayank commented on #616
@tagawa can I pick this?

[2017-01-05 14:05] gautamkrishnar commented on #616
Yes @mayank you can carry on... 👍

[2017-01-05 18:37] BillyBarbaro commented on #502
Hi there,

Is @fankee still working on this issue, or is there any chance I can give it a try?  If so, a couple of quick questions:

1)  Do I only need to modify output.txt, or should I be changing the script that actually does the parsing?
2)  If all I need to do is modify output.txt, should I include the script I use to make this fix with my pull request?

[2017-01-05 19:42] BillyBarbaro commented on #624
I'd be willing to give this issue a try.  I've never used iText 7 before, but I looked around the linked doc page and it looks like you can just grab all the classes from the left hand pane.  That would allow us to do something similar to the support for Java now which just has the class and a description in their fathead (although it looks like the descriptions in the Java API are much more detai

[2017-01-06 18:10] pvskarthikeya commented on #610
Hey @bfmags. I have yet to start working on this. I will do it today. Sorry about the delay.

[2017-01-06 20:08] thinker3197 commented on #319
Reference to working repository for current issue : [zeroclickinfo-fathead](https://github.com/thinker3197/zeroclickinfo-fathead)

[2017-01-07 12:59] titsuki opened #681 "Perl 6 Documentation: The "More at Perl 6 Documentation" links are broken"
The "More at Perl 6 Documentation" links are broken.

For example,
the "More at Perl 6 Documentation" link of https://duckduckgo.com/?q=perl6+List.reduce&t=h_&ia=about
links http://doc.perl6.org/type/List#reduce, but the correct link is https://docs.perl6.org/type/List.html#routine_reduce .

------
IA Page:  http://duck.co/ia/view/perl6doc
[Maintainer](http://docs.duckduckhack.com/maintaining/guid

[2017-01-09 15:48] ashishbhate opened #684 "Python: numpy Fathead should include at least one example, if available"
### Description
The numpy fathead should also include at least one example. See the discussion in the numpy fathead pull request #584

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environment](https://docs.duckduckhack.com/welco

[2017-01-09 16:08] pjhampton opened #685 "Python: Create New SciPy Reference Fathead"
# Create a new *SciPy* Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2017-01-09 20:08] rahulxxarora commented on #638
I would like to work on this issue. Will need a little help though, since I am a beginner.

[2017-01-09 20:45] moollaza commented on #502
@BillyBarbaro hey there, thanks for offering to help. I believe @snigdha is working on this (based on our conversations) but I see now that it wasn't properly claimed.

To answer your questions though, your point 3 is correct. This task is a little outdated now, but seeing as we have since introduced the `redirects.txt` file we should be using that. Or, you could adjust the parser to create additi

[2017-01-10 18:17] #319 closed

[2017-01-11 04:26] BillyBarbaro commented on #624
I took a shot at creating an Instant Answer Page at [https://duck.co/ia/view/itext7](https://duck.co/ia/view/itext7).

I've also been working on a script to scrape the data and it's just about finished, but I have a few questions about some of the details.  Is that best discussed here, on a PR, or is there somewhere else to do that?

[2017-01-11 11:52] #681 closed

[2017-01-11 18:04] moollaza commented on #624
@BillyBarbaro thanks for taking this up and getting started. Let us know if you need any help!

[2017-01-11 19:37] #462 closed

[2017-01-11 23:40] rahulxxarora commented on #301
@tagawa I would like to work on it if it's not assigned to anybody else.

[2017-01-12 05:52] tagawa commented on #301
Hi @rahulxxarora, that's very kind of you - thank you! Please feel free to tackle this and if you get stuck, either leave a question here or in our online chat at https://duckduckhack.slack.com (the #ask-anything channel is best). If needed, you can get a Slack invite here: http://quackslack.herokuapp.com/

[2017-01-12 05:58] rahulxxarora commented on #301
Since this is my first time so just to make sure what I have thought is right. Here is my plan. I am planning to crawl [this page](http://en.cppreference.com/w/cpp/header) to fetch all the examples of member functions for each header file. I ran a test script on my system, It took around 10 minutes to scrape all the data and process it, is it fine? is anything wrong with this approach?

[2017-01-12 10:53] devanshdalal commented on #670
https://duck.co/ia/view/tflearn_fathead

[2017-01-12 11:40] rahulxxarora opened #686 "New C++ fathead to show examples of member functions"
## Description of new Instant Answer, or changes

This fathead gives C++ member function example code from [Cpp Reference](http://en.cppreference.com/) User can search by mentioning the **header file** and the **member function**

Working for me on Codio

![fathead](https://cloud.githubusercontent.com/assets/7351791/21888350/ea2b3ef6-d8e9-11e6-876b-110dddf7422f.png)

## Related Issues and Discussi

[2017-01-12 19:47] carolkng commented on #684
I'd like to work on this, if it hasn't been assigned yet.
I just have one question, the example from numpy.array mentioned in #584 was taken from https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html, which is not included in the dataset being used to generate the fathead right now. In that case, is it worth downloading all the doc entries from https://docs.scipy.org/doc/numpy/refe

[2017-01-13 00:11] #686 closed

[2017-01-13 06:33] ashishbhate commented on #684
Hi Carol, thanks for volunteering!

numpy.array is already included in the dataset that is downloaded by the parser. You can verify this by downloading the zip file that the parser uses (currently https://docs.scipy.org/doc/numpy/numpy-html-1.11.0.zip). The `reference/generated/numpy.array.html` file in the zip file is the same as the one at https://docs.scipy.org/doc/numpy/reference/generated/num

[2017-01-13 12:34] ashishbhate commented on #684
@carolkng Looks like someone has just submitted a PR for this issue. Sorry if you already started working on it. I had no idea someone was working on this issue.

Would you be interested in working on any of the other open issues? There are quite a few Python specific ones, if that's your area of interest.

[2017-01-13 14:34] mayank commented on #616
@moollaza @tagawa
When I search `php array_key_exists`, IA is not triggered while if I search for `php array-key-exists` IA is triggered.
In `output.txt` title is `php array-key-exists`.

what needs to be done? should I create redirects?

[2017-01-13 14:51] VitorVRS commented on #616
@mayank actually you removed the code which replaces "-" to "_".

Look at this diff on you last PR: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/678/files#diff-b1ea04c31c1b207fde401593e8a86892R151

This wrongly pass by the review :sob:

[2017-01-13 14:53] mayank commented on #616
@VitorVRS sorry 😕, it was not working on queries so I removed it, let me redo and check it again, I will raise a PR.

[2017-01-13 15:38] itai421 commented on #511
I can take a look at this

[2017-01-13 15:48] carolkng commented on #684
@ashishbhate Project recommendations would be great, thank you!

On Fri, Jan 13, 2017, 05:09 Puneet Gupta <notifications@github.com> wrote:

[2017-01-14 15:21] itai421 commented on #511
This is what I did so far:

At first, I took a look at the "Steps to recreate":

- [node dns lookupService](https://duckduckgo.com/?q=node+dns+lookupService&bext=msl&atb=v32-1__&ia=software): did not triggered to [node dns.lookupService](https://duckduckgo.com/?q=node+dns.lookupService&bext=msl&atb=v32-1__&ia=software), but it did triggered both: [nodejs dns lookupService](https://duckduckgo.com/?

[2017-01-15 06:32] titsuki opened #689 "Perl 6 Documentation Bug: parse.pl fails in parsing code snippets"
### Description
As you can see, some Perl 6 IA lack their code snippets:
https://duckduckgo.com/?q=perl6+Cool.chomp&t=h_&ia=about

Recently, the official documentation of Perl 6 changed its syntax highlighter.
See: https://github.com/perl6/doc/commits/12a65aa80ba13aedf17efbf16a83b49057f18748/highlights

I found that the above modification also changes the structure of html documents and it's cause

[2017-01-15 08:20] PuneetGupta123 commented on #548
@moollaza Can I work on this?

[2017-01-16 07:26] Hestben commented on #548
@PuneetGupta123 I looked at the queries above, and now all works. The [python replace](https://duckduckgo.com/?q=python+replace) displays the Q/A answer, but under [Meanings](https://duckduckgo.com/?q=python+replace&ia=meanings), there is an disambiguation.
One caveat is that str.replace is not in the disambiguation list for general python, but I see no easy fix for that right now. In [python2 rep

[2017-01-16 09:39] ashishbhate commented on #684
It looks like all the Python related issues are already taken. There are open issues on the issue list, but not all are Python related. You could also take a look at  https://forum.duckduckhack.com/ for ideas for new fatheads.

[2017-01-16 21:49] pjhampton opened #691 "R: Create New CRAN Fathead"
# Create a new CRAN (R Package Manager) Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write

[2017-01-17 15:44] pjhampton opened #692 "New Scala Docs Fathead"
# Create a new Scala Docs Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2017-01-17 15:47] pjhampton commented on #692
Hey @pedrozan,

Are you still working on this? I'm just wondering based on this conversation a couple of months ago?
https://forum.duckduckhack.com/t/new-scala-documentation-fathead/1011
If not, please let me know 😄

[2017-01-17 16:59] moollaza commented on #301
@p12tic which size restraints are you referring to? We (DuckDuckGo) don't have any constraints on Fathead abstracts as we automatically hide extra content on the front end. The user only needs to click the 'Show More' to see the rest of the content.

I would prefer to have a single Fathead, that shows the example usage alongside the definition of the function/method/algorithm/etc. This is also how

[2017-01-17 17:11] rahulxxarora commented on #235
@pjhampton I would like to work on it if nobody else is currently active.

[2017-01-17 17:25] pjhampton opened #693 "JavaScript: Create new NPM (CLI) Fathead"
# Create a new NPM (CLI) Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2017-01-17 17:27] pjhampton commented on #235
Hey @rahulxxarora,

I will give @pbronez some more time to respond. Sometimes life can get in the way of open source 😄

[2017-01-17 17:28] rahulxxarora commented on #693
@pjhampton I would like to work on it.

[2017-01-17 17:29] pjhampton commented on #693
Awesome @rahulxxarora 😄  don't forget to create the duck.co/ia/new_ia page!

[2017-01-17 17:30] rahulxxarora commented on #693
@pjhampton Sure

[2017-01-17 18:44] rahulxxarora commented on #693
@pjhampton The IA page has been created https://duck.co/ia/view/npm_cli

[2017-01-17 19:13] pjhampton commented on #515
Hey @marteki,

How are you getting on? Do you have any questions? 😄

[2017-01-17 20:39] pjhampton commented on #691
Anybody interested in this? @duckduckgo/duckduckhack-contributors 🚀
This could make a good first Fathead

[2017-01-17 20:45] pbronez commented on #235
@rahulxxarora go for it!

[2017-01-17 20:51] pjhampton commented on #235
I will open this back up for claiming. You can take it on after the npm fathead @rahulxxarora if you're up for it?

[2017-01-17 21:04] gautamkrishnar commented on #691
Looking great @pjhampton I would like to work on this. I will populate the output.txt with python. What template should i use?

[2017-01-17 21:10] laurenancona commented on #691
I actually had a local stub repo for this that I was trying to work on last year. I haven't checked back in a while but at the time there was something weird about the way CRAN's master package list was formatted (e.g. I'd thought I would need to write a scraper).

I'd like to dig back in since this has been on my personal wish list, so I'll take it @pjhampton

[2017-01-17 21:13] gautamkrishnar commented on #691
@laurenancona you can take this if you want 👍. Shall i assign you on this?

[2017-01-17 21:15] pjhampton commented on #691
Yes, please @gautamkrishnar! And thanks so much @laurenancona!

[2017-01-17 21:15] sam09 commented on #692
Would love to work on this.

[2017-01-17 21:49] ahetawal-p commented on #594
I can take this one..

[2017-01-17 22:38] marti1125 commented on #594
@ahetawal-p of course 👍

[2017-01-17 22:55] ahetawal-p commented on #594
Can you assign this to me plz...

[2017-01-18 01:54] pedrozan commented on #692
Hello, unfortunately life hás trampled me over and I couldn't continue. Please, feel free to develop this

[2017-01-18 03:33] rahulxxarora commented on #235
@pjhampton Okay

[2017-01-18 05:56] ashishbhate commented on #685
I'll finish this after #688 is in. The code changes in that PR will be useful here.

[2017-01-18 15:11] PuneetGupta123 commented on #548
Ok :)

[2017-01-18 15:47] Hestben commented on #548
...and as a continuation of my comment above 2 days later. @moollaza We should probably close this issue.

[2017-01-18 18:00] pjhampton opened #695 "JavaScript: Create new Webpack Fathead"
# Create a new Webpack Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrapes or

[2017-01-18 18:03] pjhampton commented on #695
It seems there is quite a demand for quick look up of Webpack functions. Anybody interested taking this forward @duckduckgo/duckduckhack-contributors?

[2017-01-18 18:20] souravbadami opened #696 "Numpy: Unable to fetch docs."
### Description

Fetching _Numpy_ docs returns 404.

## Steps to recreate

Try to execute **fetch.sh** from numpy parser.

## People to notify

@moollaza

---

Instant Answer Page: https://duck.co/ia/view/numpy

[2017-01-18 18:45] itai421 commented on #695
I'll give it a try

[2017-01-18 18:49] pjhampton commented on #695
Awesome @itai421, ping me if you have any questions! 😄

[2017-01-18 18:50] pjhampton commented on #696
Hey @souravbadami,

This is currently being addressed here: https://github.com/duckduckgo/zeroclickinfo-fathead/pull/688

Hopefully we can get it merged soon.

[2017-01-18 18:50] #696 closed

[2017-01-18 18:56] pjhampton opened #697 "JavaScript: Create new Lodash Fathead"
# Create a new Lodash Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrapes or

[2017-01-18 18:56] ahetawal-p commented on #594
FYI @tagawa

[2017-01-18 19:02] itai421 commented on #695
The link given at task 4 is for viewing `npm_cli` IA.
Did you mean to ref [this link](https://duck.co/ia/new_ia)?

[2017-01-18 19:05] pjhampton commented on #695
Yeah, sorry - My bad!

[2017-01-18 20:42] itai421 commented on #695
(IA page)[https://duck.co/ia/view/webpack_config]

[2017-01-18 21:46] itai421 commented on #695
The [webpack site](https://webpack.js.org/configuration/) is [open source](https://github.com/webpack/webpack.js.org/tree/master/content/configuration), so can I fetch the data from gitHub?

[2017-01-19 01:03] tagawa commented on #594
Great, thank you for offering to help @ahetawal-p!

[2017-01-19 09:54] pjhampton commented on #695
You can do, but .md files are going to be difficult to scrape. I recommend you scrape the converted HTML files.

[2017-01-19 12:01] sam09 commented on #692
Hi I created the IA page [here](https://duck.co/ia/view/scala_documentation)

[2017-01-19 12:13] grubobeats commented on #697
Can this be done only with Python and JS?

[2017-01-19 13:39] pjhampton commented on #697
@grubobeats preferably, but Perl and Ruby are ok too. 🤘

[2017-01-19 15:16] viveksg commented on #624
Hello, May I take this one?

[2017-01-19 16:13] pjhampton opened #698 "JavaScript: Create new React-Native Fathead"
# Create a new React-Native Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script th

[2017-01-19 16:33] pjhampton commented on #698
Anybody interested in this @duckduckgo/duckduckhack-contributors ? It seems that react-native queries have creeped into the popular react search space. Might be a good one to tackle especially since it's recent growth in popularity.

[2017-01-19 17:33] BillyBarbaro commented on #624
@viveksg I've been working on this one as I believe was confirmed above.  Not sure why I was never formally assigned.

[2017-01-19 18:16] viveksg commented on #624
@BillyBarbaro Hi, I went through comments but then I saw "No one assigned" in Assignee, so got confused.
Any way no problem.

[2017-01-19 20:54] #684 closed

[2017-01-19 22:52] russellholt opened #699 "Test issue (ignore)"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-01-19 23:47] #699 closed

[2017-01-19 23:48] pastorjamesgardiner50 commented on #699
Can someone please take me off this.
On Thu, Jan 19, 2017 at 5:39 PM, James Gardiner <jamesgardiner76@gmail.com>
wrote:

[2017-01-20 04:08] ahetawal-p commented on #594
@marti1125 please review.

[2017-01-20 07:17] Hestben commented on #698
@pjhampton I could take on this, if I am free to use python to create this fathead.

[2017-01-20 08:25] gautamkrishnar commented on #698
@Hestben just assigned it to you...

[2017-01-20 09:41] Hestben commented on #698
@gautamkrishnar Thanks.

[2017-01-20 09:48] pjhampton commented on #698
Hey @Hestben, Thanks! Yeah, use any of the 4 languages above!

[2017-01-20 13:51] sam09 commented on #692
@pjhampton From what I understand, the correct way to implement this would be to download scala documentation and parse it to generate a correct output.txt file. [This](http://www.scala-lang.org/download/2.10.2.html) page provides the entire docs offline. I assume we could use that?

[2017-01-20 14:09] Hestben commented on #698
I created the IA with the name [React Native](https://duck.co/ia/view/react_native)

[2017-01-20 14:30] pjhampton commented on #692
Yeah, downloading the entire docs is probably a good idea. I scraped a URL at a time in the Python PEP Fathead and it was a real hassle. I recommend you check out the Java Docs Fathead before you do this and run it. Check out the code too! This may help with implementing this as the HTML documents are similar.

https://duck.co/ia/view/java

[2017-01-20 18:46] pjhampton commented on #511
Hey @itai421,

Can you please push an early PR to create an ongoing to discourse?

[2017-01-20 20:09] jaredwelsh commented on #235
read the thread but noticed this still has the needs a dev tag, still up for grabs or does @rahulxxarora have it?

[2017-01-20 21:34] pjhampton commented on #235
Hey @jaredwelsh! No, @rahulxxarora is working on a couple of high priority things. You can take it if you want? 😄

[2017-01-20 21:35] jaredwelsh commented on #235
Awesome, will do!

[2017-01-21 00:03] laurenancona commented on #691
@pjhampton @gautamkrishnar

Created the IA page:
https://duck.co/ia/view/r_packages

Originally tried to name it `CRAN` but there is a [dead Spice](https://github.com/duckduckgo/zeroclickinfo-spice/pull/2644) by that name that depends on METACRAN's (unofficial) [API](https://www.r-pkg.org/).

What generally happens to IA names when deprecated (or never merged, etc)? No strong preference here - jus

[2017-01-21 06:23] gautamkrishnar commented on #691
@laurenancona Yes IA pages would become something just like ghosts  when the PR Is abandoned😄. Its not possible to anyone to delete it other than DDG employees.
Yes `r_packages` is a good name for this IA 👍.
Please don't forget to update the example queries when the IA is complete.

[2017-01-21 11:22] sam09 commented on #692
How exactly is output.txt  created?

[2017-01-21 14:05] itai421 commented on #511
Hey @pjhampton,
Unfortunately, I don't have anything to push, since, as mentioned in my comment, I did not know what to do...

[2017-01-21 18:19] pjhampton commented on #692
Hey Sam, Can you please expand on your question for me? It looks ash if you already have a function to *create* an outputfile.
see: https://docs.duckduckhack.com/resources/fathead-overview.html#output-fields

[2017-01-21 18:25] sam09 commented on #692
Yeah. What I meant was that I was unable to run it on codio. I wanted to
know whether I have to run the script locally and push the file or is there
any other way?

On Sat, 21 Jan 2017 at 11:49 PM, PJ Hampton <notifications@github.com>
wrote:

[2017-01-21 20:08] pjhampton commented on #692
Hey @sam09,

Once the output.txt file has been created in codio you can run it by `duckpan server <ia_name>` and that will start up the dev machine 😄

[2017-01-23 01:58] doorknob22 commented on #501
I'm interested in taking a crack at this, would testing the fix be confined mainly to running duckpan server apple_docs_ios on codio?

[2017-01-23 03:30] Targren commented on #546
It looks like this bug has re-appeared.

Example Query: "php file_get_contents"

The widget link opens http://php.net/results.php/?q=file_get_contents  instead of http://php.net/manual/en/function.file-get-contents.php

[2017-01-23 11:21] Lord-Lavios commented on #697
I'll give it a try

[2017-01-23 13:41] pjhampton commented on #697
Awesome, @Lord-Lavios! Let us know when you [create the IA page](https://duck.co/ia/new_ia) 😄

[2017-01-23 16:23] avenger444 opened #705 "C Reference Docs:"
------
IA Page:  http://duck.co/ia/view/cppreference_doc
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @manrajgrover

[2017-01-23 16:23] avenger444 commented on #705
avenger444

[2017-01-23 16:51] pjhampton commented on #705
Hi @avenger444,

I'm not entirely sure what the issue is here. If there is an issue with the IA page referencing the IA, please reopen an appropriately titled issue with information to help us identify the issue.

[2017-01-23 16:51] #705 closed

[2017-01-23 17:10] pjhampton commented on #663
Hey @johnjkim,

Sorry for the delay! I got looking into this for you. It seems that this is a [good URL to start from](https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/). From the unanswered query data, I think the sections that would be helpful for c# developers current are:

  - [C Sharp Keywords](https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-referenc

[2017-01-23 18:28] pjhampton opened #706 "Ruby: Improve Reference Coverage (Stdlib)"
# Description

Currently, the [Ruby Docs Fathead](https://duck.co/ia/view/ruby) is only parsing the [Ruby Core documentation](http://ruby-doc.org/core-2.4.0/) and has left out the [Stdlib documentation](http://ruby-doc.org/stdlib-2.4.0/). This means that some developers are missing out on an IA. For example:

**Core: Ruby Time** 👍

![screen shot 2017-01-23 at 6 19 47 pm](https://cloud.githubuserco

[2017-01-24 13:41] pjhampton opened #707 "HTMLRef Suggestion: Add tags redirect file"
##  Description

It seems that people are searching for terms like `html5 a tag`, `html article tags`. I think we should try improve the coverage by [adding a cover/tags.txt file](https://docs.duckduckhack.com/programming-mission/creating-effective-fatheads.html#using-coverage-data-to-generate-redirects).

## People to notify
@lucassmagal

## Get Started
- [ ] 1) Claim this issue by commenting bel

[2017-01-24 13:48] pjhampton commented on #707
Turns out this is being taken care of here:

https://github.com/duckduckgo/zeroclickinfo-fathead/pull/441

[2017-01-24 13:48] #707 closed

[2017-01-24 14:04] pjhampton opened #708 "Python: New PyTest Fathead"
# Create a new PyTest Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scr

[2017-01-24 14:29] pjhampton opened #710 "Python: New Coverage Fathead"
# Create a new Coverage Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that s

[2017-01-24 14:41] pjhampton opened #711 "Python: New PyMongo Fathead"
# Create a new PyMongo Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2017-01-24 15:39] pjhampton opened #712 "JavaScript: New Electron Fathead"
# Create a new Electron Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that s

[2017-01-24 17:13] #616 closed

[2017-01-24 17:34] moollaza commented on #689
@titsuki thanks for reporting this! Would you be interested in fixing it?

[2017-01-24 18:14] rahulxxarora commented on #712
@pjhampton I would like to work on it but it has too much information in a random pattern so can you please specify what exactly is needed to be scraped here?

[2017-01-24 20:32] pjhampton commented on #712
Hey again @rahulxxarora!

That would be awesome 😄  Ok, so I took two screenshots to scrape what I think would make a good fathead (annotated in blue):

**API**

![electron 1](https://cloud.githubusercontent.com/assets/8960296/22265468/14b11086-e274-11e6-96c2-396224085cca.png)

**Classes & Instance Methods**

![electron 2](https://cloud.githubusercontent.com/assets/8960296/22265483/26cbad12-e274-11

[2017-01-24 20:35] rahulxxarora commented on #712
Sure @pjhampton, would love to do this :)

[2017-01-25 11:13] altern8tif commented on #509
@tagawa noticed that the current fathead implementation is for Swift 2.2.  Should I be generating the `.txt` file for Swift 3 instead?

[2017-01-25 12:23] titsuki commented on #689
@moollaza Thanks for your reply!
I'm interested in fixing this issue, but I'm not very familiar with HTML::Parser. So it may take a little bit time.

[2017-01-25 13:57] rahulxxarora commented on #712
@pjhampton Link to IA page https://duck.co/ia/view/electron_api

[2017-01-25 17:02] pjhampton opened #714 "C#: Create new asp.net Reference Fathead"
# Create a new asp.net Reference Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a scri

[2017-01-25 17:02] ioanmoldovan commented on #714
Could I work on this?

[2017-01-25 17:48] pjhampton opened #715 "Haskell: Create new Haskell Reference Fathead"
# Create a new Haskell Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that sc

[2017-01-25 20:17] pjhampton opened #716 "Haskell: Create new Pandoc Fathead"
# Create a new Pandoc Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scr

[2017-01-25 20:47] GuiltyDolphin commented on #716
@pjhampton We may very well be able to create a generic parser for these Haskell FatHeads; as they all use Haddock (and are on Hackage), the parsing required should be pretty much the same for all of them.

If we didn't want to support _all_ the packages at once, we could perhaps have a whitelist in which we could specify supported packages.

[2017-01-25 20:59] pjhampton commented on #716
@GuiltyDolphin https://forum.duckduckhack.com/t/generic-haskell-parser/1606

[2017-01-25 20:59] #716 closed

[2017-01-25 21:07] pjhampton opened #717 "C: Create new C Reference Fathead"
# Create a new C Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrapes

[2017-01-25 21:57] itai421 commented on #695
Things are going great :)
![screenshot_2017-01-25_23-47-56](https://cloud.githubusercontent.com/assets/9339779/22310733/da46bd52-e358-11e6-978b-5e3e807fa549.png)

But I wonder how to add the *More at* link near the *Show more/less*. Looking at the docs was not so helpful for this, I tried to use the `External links` for that with, but no success on that one. Reading the note: ([taken from here](ht

[2017-01-25 22:15] iamsidshetty commented on #665
Hi @MariagraziaAlastra

I would like to give this a try.

Sid

[2017-01-25 22:43] moollaza commented on #689
@titsuki that's no problem! We're here to help 👍

[2017-01-25 22:45] #548 closed

[2017-01-25 22:57] moollaza commented on #696
@pjhampton this is actually unrelated to #688 -- that issue is about the output.txt containing unescaped unicode.

@souravbadami can you provide more info? What errors are you seeing? Any ideas on the cause or fix?

[2017-01-25 22:59] moollaza commented on #696
@souravbadami I just ran the script on current master of the repo and everything seems to work just fine. I'm not seeing any errors...

Please confirm you're not mistaken. Which python are you using?

[2017-01-25 23:06] moollaza commented on #692
As @pjhampton said you can test your output.txt locally in Codio with `duckpan test <ia_id>`, but also you'll want to commit that file and push it here. We will then automatically install the new Fathead on beta.duckduckgo.com so you can see how it will behave in a real production environment. DuckPAN is just a very basic approximation of the production environment. It's mostly there so you can ch

[2017-01-25 23:09] moollaza commented on #695
@itai421 that is controlled by your IA Page data. Please see https://docs.duckduckhack.com/resources/fathead-overview.html#instant-answer-page-fields

[2017-01-25 23:11] moollaza commented on #695
@itai421 I've filled it in for you so you should see it now. Feel free to adjust it.

[2017-01-25 23:25] moollaza commented on #624
@BillyBarbaro sorry, you need to be part of the DDG organization before we can assign you. I'll add you to the DDH Contributors Team

[2017-01-26 03:51] moollaza commented on #699
@pastorjamesgardiner50 you have to unsubscribe yourself.

If you are not a programmer, you should probably delete your GitHub account.

[2017-01-26 07:59] ioanmoldovan commented on #714
Created IA page: https://duck.co/ia/view/asp_net

[2017-01-26 09:45] shreelock commented on #717
I'd like to work on this!
Just want to know, if we have some specific kind of queries in mind here.
IMO, we'd just need a lookup on c language documentations, and accordingly show the results.

[2017-01-26 10:16] pjhampton commented on #717
Hey @shreelock,

That's awesome! 😄  Thank you!
I can imagine queries including the likes of `c printf`, `c #define` etc are what we are looking for

[2017-01-26 10:25] pjhampton commented on #696
@moollaza are you sure? He says he couldn't fetch the docs using the fetch.sh. In #688 they fixed the [redundant link here](https://github.com/PuneetGupta123/zeroclickinfo-fathead/commit/1d473700b8775886c86adfff999b2fac90cd3e90#diff-841056973cd7299649f49bd14f377416) along side the output.txt issue. The reason why it works now is because it got merged. The original link which @souravbadami is refer

[2017-01-26 11:14] rasikapohankar commented on #717
There's an IA page here: https://duck.co/ia/view/c_reference

[2017-01-26 11:36] shreelock commented on #717
thanks @rasikapohankar, I'll keep you posted as I proceed.

[2017-01-26 16:29] moollaza commented on #696
@pjhampton aah, thanks for explaining! Now I understand. Glad to know the problem is solved then 👍

[2017-01-26 17:17] pjhampton opened #718 "Objective-C: Create new Objective-C Reference Fathead"
# Create a new Objective-C Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script tha

[2017-01-26 17:41] #693 closed

[2017-01-26 17:41] pjhampton commented on #693
Thanks again @rahulxxarora!!

[2017-01-26 18:31] rahulxxarora commented on #693
@pjhampton Glad to help :)

[2017-01-26 23:57] alexnewmannn commented on #171
Hey, I've picked this up. The code should be done, I have a test failing but just reset to master branch and appears it's failing there too, not even sure if the module has tests. It's late now so will be checking this tomorrow and will have a PR then too. 👍

[2017-01-27 18:03] rahulxxarora commented on #712
@pjhampton Should I remove relative hyperlinks from the scraped description? Also, how am I suppose to display <ul> tags in the description?

[2017-01-27 20:19] pjhampton commented on #712
Hey @rahulxxarora. Thanks for reaching out! Emm, no. Please strip out any hyperlinks for now! `<ul>`s are fine 😄

[2017-01-27 21:09] pjhampton commented on #718
Anybody interested? @duckduckgo/duckduckhack-contributors

[2017-01-27 21:14] shanmbic commented on #718
@pjhampton Yo !! I can do it

[2017-01-27 21:15] pjhampton commented on #718
Thanks @shanmbic. You rock!

[2017-01-27 22:52] moollaza commented on #691
@laurenancona @gautamkrishnar I can "ghost" IA pages, which relinquishes their ID. I'll ghost the cran page so you can use it here, or elsewhere as it's a good name ;)

[2017-01-27 22:55] moollaza commented on #691
@laurenancona I've updated the ID for your r_packages IA Page. It's now `cran`:

https://duck.co/ia/view/cran

[2017-01-28 00:40] jonathanKingston opened #722 "MDN CSS: HTML <code> blocks are stripped from result"
Using the following search:
  https://duckduckgo.com/?q=radio+element+pseudo&t=ffab&ia=about

The `<code>` blocks within the source of the MDN page are stripped meaning code is injected into the page directly from MDN. This could lead to XSS'ing users of DDG.

Note the checkbox, radio button and select that are all visible in the search results.

------
IA Page:  http://duck.co/ia/view/mdn_css
[Ma

[2017-01-28 00:51] hchienjo commented on #722
@moollaza What is your take on this? Should we leave the leave the <code> and wrap it in another <code>?

[2017-01-28 17:01] pjhampton commented on #708
Anybody up for this? Could make a good first Fathead. @duckduckgo/duckduckhack-contributors

[2017-01-28 18:20] adityatandon007 commented on #708
@pjhampton I would like to give a try.

[2017-01-28 18:48] pjhampton commented on #708
Awesome @adityatandon007! You rock 🤘
Reach out anytime if you need some help and we can help when we can.

[2017-01-29 07:54] adityatandon007 commented on #708
@pjhampton created the IA page:
https://duck.co/ia/view/pytest

[2017-01-29 19:00] shanmbic commented on #718
Hey, @pjhampton , The IA page is https://duck.co/ia/view/objective_c

[2017-01-30 04:44] ashishbhate opened #725 "Python: numpy fathead - backslash in some examples need escaping"
### Description
There are some escape sequences in the generated examples that need escaping. See this [issue comment](https://github.com/duckduckgo/zeroclickinfo-fathead/pull/688#issuecomment-275255792) in #688

## Get Started
- [x] 1) Claim this issue by commenting below
- [x] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [x

[2017-01-30 04:44] ashishbhate commented on #725
@pjhampton Could you please assign this issue to me?

[2017-01-30 17:11] pjhampton opened #727 "Sass Suggestion: Add Rules, Directives & Expressions"
## Description

From the [forum statistics](https://forum.duckduckhack.com/t/css-search-overview/96), it's clear that the [Sass docs IA](https://duck.co/ia/view/sass) is steady in delivering content for Sass related queries. However, there is a lot of Sass queries not being served by the IA currently. A [very] small sample includes queries such as:

[code]

It could be a worthwhile effort to updat

[2017-01-30 18:55] pjhampton commented on #529
Hey @mbad0la :) how are you getting on?

[2017-01-30 18:56] pjhampton commented on #527
Hey @mohitgupta07

How are you getting on? 😄

[2017-01-30 19:12] pjhampton commented on #511
Hey @itai421,

Sorry for the late reply. The previous PRs have not improved the coverage for this Fathead. We need to create better redirects as Maria has pointed out. From my analysis of the unanswered query data, I have found that:

[code]

The first two can be added as redirects in the `cover/redirects.txt` file, the third can be covered in `triggers.txt`. You can see an example here https://do

[2017-01-30 21:49] itai421 commented on #511
O.K, good to know, I'll see what I can do

[2017-01-30 23:18] dankolbrs commented on #710
I'd like to contribute to one of these. I'll grab this.

[2017-01-31 05:18] TowelDude commented on #638
Can you further explain the task needed to be done?
I would like to contribute.

[2017-01-31 10:44] pjhampton commented on #710
Awesome, @dankolbrs. Thanks so much 😄
Please consider joining the DDG Github org so I can assign you to the issue: https://github.com/duckduckgo/duckduckgo/issues/182

[2017-01-31 11:02] ashishbhate commented on #685
Waiting on #728 now.

[2017-01-31 13:11] #725 closed

[2017-01-31 13:47] acflint commented on #706
I'd be happy to take a crack at this. Anyone else who is interested, please get in touch! I'm new to Ruby so help is appreciated 👍

[2017-01-31 14:06] pjhampton commented on #706
Thanks @acflint! You rock! 🤘
Consider joining the DDG Github org so I can assign you to the issue: https://github.com/duckduckgo/duckduckgo/issues/182

[2017-01-31 14:43] dankolbrs commented on #710
@pjhampton , thanks, added.

[2017-01-31 15:56] #689 closed

[2017-01-31 16:40] pjhampton opened #729 "Python Requests Suggestion: Extend Parser and Add Coverage"
## Description

It seems that this Fathead (Python Requests) just isn't triggering based on the following stats:

- Bounce Rate: 100%
- Engagement Rate: 0%

This is a shame because there is a lot of people searching for requests related stuff. For example:

[code]

Further, I have noticed that:

Triggers: `JSON Response Content`
Doesn't Trigger: `requests JSON Response Content`

I think it would b

[2017-01-31 16:42] Dgibbins commented on #706
Hey all, will be helping acflint with this, would anyone be able to recommend some good Nokogiri references?

[2017-01-31 17:08] ashishbhate commented on #685
Yaay! All numpy fathead fixes are in. I'll open a PR for scipy soon.

[2017-01-31 17:36] pjhampton commented on #522
Hey @mr-karan! How are you getting on? 😄  Do you have any questions?

[2017-01-31 17:40] moollaza opened #730 "Angularjs (1.X): Replace h2 in Parser with span, as outlined in Fathead Documentation"
The parser is creating headings using `<h2>`, but it should be using `<span class=prog__sub">` as outlined in the docs.

This should be adjusted in the parser, and a new output.txt should be generated.

------
IA Page:  http://duck.co/ia/view/angularjs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rafaelpadovezi

[2017-01-31 17:51] rafaelpadovezi commented on #730
My bad. I can do this

[2017-01-31 18:54] shreelock commented on #717
Hi @pjhampton , @rasikapohankar
It is mentioned in the details above that we have to use  _https://devdocs.io/c/_ as a Data Source. However, I found that it uses _http://en.cppreference.com/w/c/_, as its source, and IMO, it would be easier to work with, too, given it uses plain html, unlike devdocs.

Should I proceed with _cppreference.com_ ?

[2017-01-31 19:03] pjhampton commented on #717
Hey @shreelock,

Please join the convo - https://forum.duckduckhack.com/t/c-search-brainstorming/752/9
We can discuss this.

[2017-02-01 04:12] mr-karan commented on #522
got a lil busy this, will try to wrap it up by this weekend @pjhampton

[2017-02-01 10:53] hchienjo commented on #729
I'll look into this.

[2017-02-01 11:09] gautamkrishnar commented on #729
@hchienjo just assigned you agin... Its all yours :smile:

[2017-02-01 11:42] pjhampton commented on #522
That's cool @mr-karan 😄  Thanks for the update!

[2017-02-01 16:01] hchienjo commented on #729
@pjhampton Is this issue partly escalated by the lack of a trigger word? I recall @moollaza was [concerned about triggering](https://github.com/duckduckgo/zeroclickinfo-fathead/pull/385#issuecomment-250499911). Then not so long afterwards, a [cheat sheet](https://duck.co/ia/view/requests_cheat_sheet) came along. Should we deprecate this fathead or we go ahead and improve it?

[2017-02-01 16:20] shivamgupta-gupta commented on #638
Hi, I am interested in contributing.

[2017-02-01 16:23] hchienjo commented on #638
@ankitbisla21 Any updates?

[2017-02-01 16:24] hchienjo commented on #638
@shivamgupta-gupta  @TowelDude thanks for offering to help. Unfortunately this issue has already been claimed.  However, there are issues [here](https://duckduckhack.com/issues.html) as well if you're interested in helping out.

[2017-02-01 16:25] shivamgupta-gupta commented on #638
@hchienjo ok.

[2017-02-01 16:27] pjhampton commented on #729
Hey @hchienjo! 👋

The cheat sheet is awesome! But it's not really serving meeting the demands of the queries above. I think it would be good to take it forward, but I will leave it to @moollaza to make the final call 😄

[2017-02-01 16:44] VeerpalBrar commented on #727
The parser already parses the  http://sass-lang.com/documentation/file.SASS_REFERENCE.html file.

It seems this may be a triggering issue? I'm not sure how to go about fixing that ....

[2017-02-01 16:52] pjhampton commented on #727
Hmm, you are correct @VeerpalBrar, the current parser is [catching these](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/sass/output.txt#L192) but they are not triggering. I suspect it has something to do with the special characters such as `!`, `?`. @moollaza will redirects rectify this issue?

[2017-02-01 16:57] pjhampton commented on #714
I just replied on slack to your question! 😄

[2017-02-01 16:57] VeerpalBrar commented on #727
Also it seems that even though the output text contains:
import	R	@import
searching  'sass import' doesn't trigger the AI either.

[2017-02-01 16:59] ioanmoldovan commented on #714
I have no time for this project, please asign somebody else.
Sorry!

[2017-02-01 17:39] #573 closed

[2017-02-01 20:45] pjhampton commented on #670
Hey @devanshdalal!

Just checking in! How are you getting on? 😄

[2017-02-01 20:48] pjhampton commented on #461
Like PR, closing due to inactivity.

[2017-02-01 20:48] #461 closed

[2017-02-01 20:49] pjhampton commented on #460
@vidhan13j07 any update? 😄

[2017-02-01 20:50] pjhampton commented on #671
Hey! How are you getting on @souravsingh? It would be awesome to get this live 😄

[2017-02-01 20:56] souravsingh commented on #671
@pjhampton Only a few things left. I will make a PR right away.

[2017-02-01 20:58] pjhampton commented on #671
That's cool @souravsingh 😸  Just making sure you weren't stuck :)

[2017-02-01 20:59] pjhampton opened #732 "Python: New SKLearn Fathead"
# Create a new SKlearn (Scikit-Learn) Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?

@jrasanen has created a [Scikit Learn Examples Fathead](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/scikit_learn) which is awesome! Based on the unanswered query data, there is sufficiant demand to warrent a Fathe

[2017-02-01 21:41] devanshdalal commented on #670
hi @pjhampton , Sorry for the delay, will raise a pull request soon.

[2017-02-01 22:08] pjhampton commented on #670
No need to apologize! 😄
Just making sure you don't need any help.

[2017-02-02 10:16] himanshugarg commented on #523
Yes I also confirmed that output.txt does have parentheses.

[code]

[2017-02-02 15:51] pjhampton commented on #298
@amarlearning Any update? 😄

[2017-02-02 16:25] pjhampton commented on #715
Turns out Maria already created an issue for this in #664. We will push ahead there.

[2017-02-02 16:25] #715 closed

[2017-02-02 16:48] pjhampton opened #733 "Ruby: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2017-02-02 17:38] pjhampton opened #734 "C: New Linux Man Pages Fathead"
# Create a new Linux Man Pages Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?

There is surprisingly quite a lot of searches for linux commands and their man pages. It would be great to scrape the [following URL](http://man7.org/linux/man-pages/dir_all_alphabetic.html) and turn this into a fathead. A random portion of the queries

[2017-02-02 17:59] danidee10 commented on #734
@pjhampton i would like to handle this.

[2017-02-02 18:16] pjhampton commented on #734
Awesome! Thanks @danidee10 👍
Let me know if you need any help! 😄

[2017-02-02 19:03] moollaza commented on #729
@pjhampton @hchienjo let's add a trigger-words.txt file -- that should allow it to trigger on queries like the ones above, assuming we have matching articles 👍

A cheat sheet serves a different purpose and very specific query space, so they can't be compared. A cheat Sheet would never trigger for those queries because of how they work.

[2017-02-02 19:28] pjhampton opened #735 "SQLAlchemy: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2017-02-02 20:09] pjhampton opened #736 "NPM CLI: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2017-02-02 20:11] pjhampton commented on #692
Hey @sam09! How are you getting on? 😄  Need any help?

[2017-02-02 20:27] sam09 commented on #692
Hi @pjhampton... Thanks a lot.. I have been a bit busy past couple of days... opened a pull sometime back..
https://github.com/duckduckgo/zeroclickinfo-fathead/pull/704

[2017-02-03 00:52] himanshugarg commented on #735
May I claim this for upto 48hrs from assignment?

[2017-02-03 01:37] moollaza commented on #494
@hchienjo this issue should be re-worded to more clearly describe what the task is -- can you take a look at some of the other issues we've created about increasing coverage and add some explanation of what's involved?

[2017-02-03 10:29] pjhampton commented on #735
Hey @himanshugarg, it's all yours 😄

[2017-02-03 11:33] amarlearning commented on #298
@pjhampton I didn't get time to do that :disappointed:

[2017-02-03 17:55] pjhampton commented on #734
@danidee10 It seems that there is already a fathead for this (Sorry!). But reach is fairly limited. I reckon you update the trigger words of that fathead for now, and in a couple of weeks time if the bounce data is low or there is a high click through rate we will change the source. What do you think?

https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/unix_man
https://duc

[2017-02-03 17:57] pjhampton commented on #174
We are now going to address this issue here: https://github.com/duckduckgo/zeroclickinfo-fathead/issues/734. Closing this due to inactivity

[2017-02-03 17:57] #174 closed

[2017-02-03 17:59] pjhampton commented on #507
@lakshmanaram I'm going to close this due to inactivity and based on it's low priority (due to stats). Please keep us updated if you plan to take this forward 👍

[2017-02-03 17:59] #507 closed

[2017-02-03 18:00] pjhampton commented on #541
Not getting this. If I'm mistaken we can reopen and discuss this.

[2017-02-03 18:00] #541 closed

[2017-02-03 18:03] pjhampton commented on #624
Hey @BillyBarbaro! 👋
How are you getting on? Any update? 😄

[2017-02-03 18:05] pjhampton commented on #622
Because of lack of Retrofit searches + development inactivity, I am going to close this down for now.  I will be relaying new Java issues to @marti1125 soon 👍

cc. @xvf, @devanshdalal

[2017-02-03 18:05] #622 closed

[2017-02-03 18:10] pjhampton commented on #435
Closing due to lack of searches and developer inactivity. Hopefully, we can take this forward in the future! 👍

[2017-02-03 18:10] #435 closed

[2017-02-03 18:16] pjhampton commented on #234
Closing due to inactivity. We can chat further on the forum re this 😺

[2017-02-03 18:16] #234 closed

[2017-02-03 18:19] pjhampton commented on #734
Hmm, weird. @edgesince84 reported this issue (https://github.com/duckduckgo/zeroclickinfo-fathead/issues/273) which is pretty serious. Maybe we will just deprecate that one if it's got these problems and not a lot of content. What do you think, @danidee10? 😄

[2017-02-04 03:37] mbad0la commented on #529
Hi @pjhampton

@bfmags and I have been a bit preoccupied lately, but we'll get to this soon. Sorry for any inconvenience.

[2017-02-04 12:27] pjhampton commented on #529
No inconvenience at all 😄  just making sure you aren't stuck!

[2017-02-04 12:29] Lord-Lavios commented on #711
Is there a fathead for [Node.js MongoDB Driver](https://mongodb.github.io/node-mongodb-native/2.2/api/index.html)? If there's a need for it or if it hasn't already been made, then I think I'll be able to make it.

[2017-02-04 12:47] pjhampton commented on #711
@Lord-Lavios no there is any queries from what I can see regarding the MongoDB Driver. However there does seem to be a demand for [Mongoose](http://mongoosejs.com/docs/api.html) related searches. Would you be interested in take something like this forward? If so, let me know and I will create an issue for you

[code]

[2017-02-04 18:53] Lord-Lavios commented on #711
Yup. Create an issue for this, I'll do it.

[2017-02-04 20:07] pjhampton opened #737 "JS: New Mongoose Fathead"
# Create a new Mongoose Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that s

[2017-02-04 20:08] pjhampton commented on #737
Thanks for stepping up @Lord-Lavios 💙  💛  💜

[2017-02-04 22:46] itai421 commented on #511
Do you want me to push work in progress?

[2017-02-04 23:16] pjhampton commented on #511
Sure, sounds good!

[2017-02-05 00:09] dankolbrs commented on #710
Created new [IA page](https://duck.co/ia/view/python_coverage)
https://duck.co/ia/view/python_coverage

[2017-02-05 05:33] adityatandon007 opened #739 "Cpp Boost Suggestion: Update the data source"
**Suggestion**

Update  the data source link http://www.boost.org/doc/libs/1_62_0/ to the new data source link
http://www.boost.org/doc/libs/1_63_0/

------
IA Page:  http://duck.co/ia/view/cpp_boost
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nikhilsingh291

[2017-02-05 11:18] Lord-Lavios commented on #737
Here's the IA: https://duck.co/ia/view/mongoosejs

[2017-02-05 12:25] pjhampton commented on #739
Thanks for suggesting this @adityatandon007. I don't think this will necessarily improve coverage or impact of this IA, but we should always strive to have the latest source. Are you going to take this forward?

[2017-02-05 14:17] souravbadami opened #740 "NPM CLI: Parser throwing requests.exceptions.SSLError."
### Description

Parser throws requests.exceptions.SSLError. Here's the traceback.

[code]

## Steps to recreate

Try to run `parse.sh` from the npm_cli directory.

## People to notify

@moollaza @rahulxxarora

---

Instant Answer Page: https://duck.co/ia/view/npm_cli

[2017-02-05 15:03] rahulxxarora commented on #740
@souravbadami I tried running it on my codio environment too, but it didn't give me any error @moollaza  what could be the reason here?

[2017-02-05 15:15] souravbadami commented on #523
@himanshugarg -- The internal bugs are fixed internally by the _duckduckgo_ team.

[2017-02-05 16:50] pjhampton commented on #740
According to this article in their documentation, Python 2.7.6 (The version installed by default on codios box) doesn't include native support for SNI in their SSL modules. Which **_could_** be causing this issue. I can't reproduce either. Can you please upgrade to Python 2.7.10(or +) and try again @souravbadami 😄

http://docs.python-requests.org/en/master/community/faq/#what-are-hostname-doesn-t-

[2017-02-05 18:51] t-d-e opened #741 "C Boost:"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-02-05 18:53] t-d-e opened #742 "C Boost:"
### Description

## Steps to recreate

## People to notify

---

Instant Answer Page: https://duck.co/ia/view/{ID}

[2017-02-05 20:09] pjhampton commented on #742
Closing this and #742 due to no content.

[2017-02-05 20:09] #742 closed

[2017-02-05 20:09] #741 closed

[2017-02-05 20:12] BillyBarbaro commented on #624
Hi @pjhampton

Was a little busier than I expected the last couple weeks.  I got the Fathead to the point where it would respond to queries for all the classes in the library.  But before I submitted I wanted to try and add support for methods as well.  I'll spend a bit of time with it the next few days and hopefully I'll have something by the end of the week.

[2017-02-05 20:15] pjhampton commented on #624
That's cool @BillyBarbaro! Just making sure you weren't stuck 😄

[2017-02-06 02:21] souravbadami commented on #740
Ah, I tried it on **codio** and it's working fine there. Also, It's working fine on my local system with `Python 2.7.6` now without any upgrade.

[2017-02-06 02:21] #740 closed

[2017-02-06 07:00] adityatandon007 commented on #739
@pjhampton Yeah, I will look into this. Also that deprecated cpp reference is not removed from IA. It still triggers and sometimes clashes with this IA.

[2017-02-06 07:40] nikhilsingh291 commented on #739
@adityatandon007 There is almost no difference between 1.62 and 1.63 library. The number of functions listed is exactly the same. Just a few character changes in the description. We can simply move on by changing the source url only. I don't think there is a need to create a new IA for this.

[2017-02-06 07:47] adityatandon007 commented on #739
@nikhilsingh291 You didn't get me. I was not taking about your IA . There is this IA https://duck.co/ia/view/cppreference_doc which I was talking about which is deprecated and sometimes clashes with your IA triggers. Yeah you can change the source url or if you want I can change the url so that we always have the latest available for our audiences.

[2017-02-06 08:14] adityatandon007 commented on #739
@nikhilsingh291 One more thing I want to ask Why is that your IA triggers for some and doesn't trigger at all for other. Ex: cpp boost ref trigger and cpp boost smart ptr doesn't trigger. Though when I looked into your output.txt it has the title for smart ptr. Here are the screenshots
![screenshot from 2017-02-06 13-42-11](https://cloud.githubusercontent.com/assets/25108385/22639094/4899d2f4-ec72

[2017-02-06 08:27] nikhilsingh291 commented on #739
@adityatandon007 Even I noticed that but couldn't figure out why that happens.

[2017-02-06 09:19] danidee10 commented on #734
@pjhampton i think we should change the source. Because aside from `adduser` some other commands might also have the same issue.
The new source is also easier to parse (all the commands are listed on the main page) Looking at the future this is going to be more maintainable, and it's kinda harder to get things wrong with the new source :smile:

[2017-02-06 09:40] danidee10 commented on #734
@pjhampton The new source is easier to parse (all the commands are listed on the main page) Looking at the future this is going to be more maintainable, and it's kinda harder to get things wrong with the new source :smile:

On the Other hand `adduser` is not really a *nix command, it's just a perl script that still calls `useradd` at the backend. Currently on my Machine (ArchLinux) I don't have `a

[2017-02-06 09:59] pjhampton commented on #734
Hey @danidee10,

So I'm confused by your first and third paragraph. Are you taking this forward or are we just updating the current IA?

[2017-02-06 10:04] pjhampton commented on #739
@adityatandon007 Please always strive to be as clear as possible when creating issues so there is no confusion 👍
No, cppreference_doc is not yet deprecated. We are still discussing it in favor of rebuilding as we don't have the code to update it.
As for `smart prt`, it could be a problem with the description in the output.txt file.

[2017-02-06 10:39] adityatandon007 commented on #739
@pjhampton I didn't mean to create confusion. I apologize for that. It's just that I am very new to the open source world and still learning the etiquettes on how I can be more effective and more clear. Although suggestions and feedback from someone like you do help a lot. :hugs: :smile: :innocent:
I looked into the output.txt file. I couldn't figure out. Even @nikhilsingh291 couldn't get get this

[2017-02-06 10:43] pjhampton commented on #739
You are in the right place! You're more than welcome in the DuckDuckHack community and always will be. We all appreciate your enthusiasm.

Does the entry show up in codio?

[2017-02-06 11:41] adityatandon007 commented on #739
@pjhamptop I tried to run this command in codio
DDG_TEST_FATHEAD=<lib/fathead/cpp_boost/> prove -Ilib t/validate_fathead.t

and it printed
-bash: -Ilib: command not found
Is it something wrong with this command

[2017-02-06 16:03] pjhampton opened #745 "JS: New Vue.js Fathead"
# Create a new Vue.js Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scr

[2017-02-06 16:16] pjhampton opened #746 "JS: New Babel Fathead"
# Create a new Babel Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scra

[2017-02-06 17:07] danidee10 commented on #734
My point is changing the source won't really do much good if it's just to address #273 because the new source doesn't have a section for the `adduser` command

And i assume that they both cover the same set of commands (I'm yet to do a thorough check yet). So the new source doesn't add more commands to the IA.

[2017-02-06 17:26] #572 closed

[2017-02-06 18:27] pjhampton opened #747 "Meta issue: High Value Tasks"
The below issues have been created based on relevant search data. Development on these potentially high impact issues would enable Instant Answers to appear for more programming search queries on [DuckDuckGo](https://duckduckgo.com):

### Existing IAs to be Improved

- **High Impact** (These are the most important issues!)
  - [x] ~~[Node.js: Improve Descriptions](https://github.com/duckduckgo/zer

[2017-02-06 19:50] adityatandon007 opened #749 "CPP Boost: Overtriggering"
**Issue Description**:

This IA triggers for any query related to things like cpp preprocessor. This happens because boost has a preprocessor title in output.txt which matches but the search is simply regarding cpp preprocessor and not cpp boost preprocessor.

Below is the screenshot

![screenshot from 2017-02-07 01-02-51](https://cloud.githubusercontent.com/assets/25108385/22663692/8cd0d100-ecd3-

[2017-02-06 20:07] pjhampton commented on #749
Space Coverage is less than 1% - https://forum.duckduckhack.com/t/c-boost-fathead/1368
We can remove `cpp` for now as a trigger and reevaluate the unanswered query data in 2 - 4 weeks. What do you think @sahildua2305?

I guess another option would be giving higher priority to the outgoing cpp_reference

[2017-02-06 20:23] adityatandon007 commented on #749
@pjhampton @sahildua2305 we can remove cpp for now as a trigger but there is one minor change that I would like to bring into your knowledge it should not trigger for <cpp> but it should trigger for <boost cpp> when boost cpp is at the end. Currently it triggers only for starting <cpp boost> triggers but not ending. Here are the screenshots
![screenshot from 2017-02-07 01-45-42](https://cloud.gith

[2017-02-06 21:15] TheDeBug commented on #735
im new to programming, i can programm little things but im not a professional, and thought if someone could "giude" me through a task like this and explain me somethings.... i would really appreciate if someone helped me.
I also would appreciate if i could just watch (idk how but we'll figure that out..) someone programm something and tells me what he's doing.

[2017-02-07 05:34] ashishbhate commented on #732
I'll take this one.

[2017-02-07 09:05] tagawa commented on #732
Hi @ashishbhate. That's very kind - thank you! Feel free to use this page or the #ask-anything channel in [Slack](https://duckduckhack.slack.com/) if you need any help.

[2017-02-07 10:56] sam09 commented on #664
I am already working on something else and have a PR up for review. Is it fine if I take this up? Or should I wait till the other PR is merged before taking up something new?

[2017-02-07 11:33] pjhampton commented on #664
Hey @sam09,

That is ok. You can have this one 😄  Thanks!

[2017-02-07 15:18] dankolbrs commented on #711
I can grab this, but to save some work for everyone I'll be waiting for #738 for final feedback/merge before submitting this one.

If someone wants this before the other gets merged, I'm cool with that.

[2017-02-07 17:21] #594 closed

[2017-02-07 17:47] pjhampton commented on #638
@ankitbisla21 ping

[2017-02-07 17:50] pjhampton commented on #171
Hey @alexnewmannn, sorry for the delayed response. what is the failing test? Is it regarding coverage?

[2017-02-07 17:56] pjhampton commented on #515
Hey @marteki,

Due to inactivity, I'm going to open this issue back up for claiming. Please feel free to jump back in if you find the time.

[2017-02-07 18:00] alexnewmannn commented on #171
no worries mate, yeh it is. looks like there isn't any tests for this
particular module at all at the minute.
On Tue, 7 Feb 2017 at 17:50, PJ Hampton <notifications@github.com> wrote:

[2017-02-07 18:01] pjhampton commented on #171
That's ok, don't worry about the coverage. We can add that at another stage. Push it up and we can review 😄

[2017-02-07 18:03] pjhampton commented on #569
Hey @deserted! I assume you are still working on this so I assigned it to you

[2017-02-07 18:08] pjhampton commented on #161
Hey @xfix. I've assigned this to based on your first statement. Let me know if you aren't working on this so I can open it back up. 👍

[2017-02-07 18:09] pjhampton commented on #735
Hey @himanshugarg! Are you still working on this?

[2017-02-07 18:10] pjhampton commented on #665
Hey @iamsidshetty, sorry for the delayed reply

Are you still interested in working on this?

[2017-02-07 18:16] adityatandon007 commented on #638
@pjhmapton @hchienjo It seems @ankitbisla21 is currently inactive. We should give this issue to someone else. It is unfair to new members, who just come looking to find a way to get in to the community. We cannot let them go, by saying statements like:
However, there are issues [here](https://duckduckhack.com/issues.html) as well if you're interested in helping out.
We should always encourage them

[2017-02-07 18:29] pjhampton commented on #638
@adityatandon007 we can release this back to the wild soon if we don't hear back from @ankitbisla21. Sometimes this happens, and it's always fine 😄

[2017-02-07 18:30] pjhampton commented on #502
Hey @fankee, are you working on this?

[2017-02-07 19:15] moollaza commented on #722
@hchienjo yes, we need to wrap any html inside `<p>` in `<code>`

[2017-02-07 20:12] itsN1X opened #750 "Guessmoviebyinfo:"
------
IA Page:  http://duck.co/ia/view/guessmoviebyinfo
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @itsN1X

[2017-02-07 20:19] pjhampton commented on #750
Due to the lack of information on this issue, I assume it was opened by mistake. Closing 👍

[2017-02-07 20:19] #750 closed

[2017-02-07 20:28] #698 closed

[2017-02-07 20:33] pjhampton opened #751 "Numpy: Improve Redirects"
Numpy queries make up a huge part of the Python Search Space so we need to get it right. It seems that there is a redirect issue in [output.txt](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/e44b6520fa67ed6dca5f96dd9baf629205965c41/lib/fathead/numpy/output.txt).

[code]

It turns out `numpy absolute	R	numpy.absolute` is redundant, because the query parser ignores `.`. So this redirect w

[2017-02-07 20:49] #669 closed

[2017-02-07 20:52] adityatandon007 commented on #751
@pjhampton Can I look into this

[2017-02-07 21:01] #685 closed

[2017-02-07 22:02] #695 closed

[2017-02-07 22:06] #500 closed

[2017-02-07 22:46] #692 closed

[2017-02-07 23:11] #579 closed

[2017-02-07 23:17] #453 closed

[2017-02-07 23:23] #455 closed

[2017-02-07 23:28] #444 closed

[2017-02-07 23:59] souravsingh commented on #671
@pjhampton I have created the IA page for Pandas here- https://duck.co/ia/view/pandas

[2017-02-08 01:11] loganom commented on #714
For the sake of following the checklist explicitly, I am claiming this issue.

[2017-02-08 01:25] himanshugarg commented on #735
Sorry @pjhampton . No. Please reassign.

[2017-02-08 01:29] loganom commented on #714
@pjhampton I noticed that in the original issue the data source listed is https://docs.microsoft.com/en-us/aspnet/core/api/ ; however, the IA page that was created about a week ago lists https://www.asp.net/aspnet/overview/api-reference. Was the original intention to cover ASP.net CORE reference data? (meaning: https://docs.microsoft.com/en-us/aspnet/core/api/ , as the issue specifies)

Can this b

[2017-02-08 01:38] moollaza commented on #714
@loganom yup we should be scraping docs.microsoft.com 👍

You can't edit the IA page as you're not the creator -- I can delete that page though so you can create & own a new one?

[2017-02-08 01:39] loganom commented on #714
@moollaza 👍 I'll create a new one if you delete the existing.

[2017-02-08 01:40] moollaza commented on #714
Go ahead! The old one is gone 👍

[2017-02-08 01:50] moollaza commented on #749
This is due to a known, internal bug -- we don't have a fix for it right now though.

[2017-02-08 02:39] JelaniThompson commented on #736
Hi there, I'd like to claim this issue!

[2017-02-08 05:50] wenforcu158 opened #752 "http://musclesciencefacts.com/max-testo-xl-reviews/"
Discover bodybuilding long time research inside the bodybuilding field led them to a hit bodybuilding recipes. The informative articles are extraordinarily beneficial and are severa so there could be difficult and nearly impossible not to find some thing associated.So pass ahead and do a little studies on all the different kinds of supplements to be had in the market. Test out all your options ear

[2017-02-08 07:47] adityatandon007 commented on #749
@moollaza So, should I close this issue for now.

[2017-02-08 10:48] #752 closed

[2017-02-08 14:22] ashishbhate commented on #751
If I understand the issue correctly, then the fix is pretty simple. `get_redirects` in `parse.py` will need to be changed to something like the following:

[code]

[2017-02-08 14:36] adityatandon007 commented on #751
@ashishbhate I have messaged you on slack

[2017-02-08 15:14] Lord-Lavios commented on #745
I'll take this.

[2017-02-08 16:27] #712 closed

[2017-02-08 17:00] #751 closed

[2017-02-08 17:53] pjhampton opened #755 "Angularjs (1.x) Suggestion: Add further redirect"
## Description

It seems from the unanswered query data a lot of people are searching for `angular js` as well as `angularjs` and `angular`. It would be good to update this trigger and see if it improves the coverage of this IA.

## People to notify

Lang Leader: @bfmags
Maintainer: @rafaelpadovezi

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guid

[2017-02-08 19:02] pjhampton commented on #509
Sorry for the late reply, @altern8tif. Yes, please!

[2017-02-08 19:12] pjhampton opened #757 "Swift Suggestion: Update docs from 2.2 to 3.1"
## Description

Update the source of the docs from [2.2](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/swiftdocs/swift/src/parse.js#L28) to [3.1](http://swiftdoc.org/v3.1/)

## Get Started
- [x] 1) Claim this issue by commenting below
- [x] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [x] 3) [Set

[2017-02-08 19:16] adityatandon007 commented on #757
@pjhampton can I give it a try :question:

[2017-02-08 19:42] pjhampton opened #758 "React.js Suggestion: Improve Redirects"
## Description
There is a problem with the [redirects that needs fixed](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/reactjs/). It seems that we might need to add trigger words as well.

**react.component** triggers

![screen shot 2017-02-08 at 7 35 47 pm](https://cloud.githubusercontent.com/assets/8960296/22753994/ecad6b52-ee35-11e6-8e1c-ab7eb4cc9637.png)

**react c

[2017-02-08 19:49] rasikapohankar opened #759 "GitManual: Incorrect 'More at' URL"
The 'More at' link shows `git-scm` but its pointing to `http://csurs.csr.uky.edu/cgi-bin/man/man2html?1+query` which gives a 404.

Example, the More at link for https://duckduckgo.com/?q=git+cherry+pick&t=canonical&ia=about points to
http://csurs.csr.uky.edu/cgi-bin/man/man2html?1+git-cherry-pick.

------
IA Page:  http://duck.co/ia/view/git_manual
[Maintainer](http://docs.duckduckhack.com/maintai

[2017-02-08 20:01] pjhampton commented on #759
It's pointing to the correct place for me. What is your location setting?

![screen shot 2017-02-08 at 8 00 13 pm](https://cloud.githubusercontent.com/assets/8960296/22754986/3f3b4346-ee39-11e6-97a9-7e4a7c30a0d0.png)

[2017-02-08 20:12] adityatandon007 commented on #757
@pjhmapton please reply on slack

[2017-02-08 20:18] rasikapohankar commented on #759
@pjhampton The location was set to India. I restarted my browser and now it's pointing to the correct URL for me too.

Its looking like this now:
![screenshot](https://cloud.githubusercontent.com/assets/8025692/22755565/b74418ec-ee69-11e6-9834-81adc52b6241.png)

Earlier, the result was showing a single line with a scroll bar. Unfortunately, I did not capture a screen shot. Apologies.

I'll close t

[2017-02-08 20:18] #759 closed

[2017-02-09 09:55] pjhampton commented on #666
Closed based on our slack convo.

[2017-02-09 09:55] #666 closed

[2017-02-09 15:17] pjhampton commented on #641
Hey @rahuldecoded! How are you getting on? 😄

[2017-02-09 15:21] pjhampton commented on #635
@pa7ryk Was this closed in #661 aswell?

[2017-02-09 15:27] pa7ryk commented on #635
@pjhampton Yes :)

[2017-02-09 15:33] #635 closed

[2017-02-09 16:38] adityatandon007 commented on #755
@pjhampton Hi, :smile: can I take this

[2017-02-09 16:58] pjhampton commented on #755
@adityatandon007 it's all yours! 😄  Thanks!

[2017-02-09 17:06] rafaelpadovezi commented on #755
@adityatandon007 Great!

[2017-02-09 17:34] pjhampton opened #762 "MDN CSS Suggestion: Improve Coverage with further redirects"
## Description

This Fathead is awesome, but based on the unanswered query data it's not triggering for a lot of searches. This issue is part experiment. We want to see if updating the redirects manually in [redirects.txt](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdn_css/redirects.txt) will improve coverage for the CSS language space which can be seen on the [for

[2017-02-09 17:40] pjhampton opened #764 "CSS: New Less Fathead"
# Create a new Less Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrap

[2017-02-09 18:26] pjhampton opened #765 "Python Suggestion: Improve Coverage with further redirects"
## Description

This Fathead is awesome, but based on the unanswered query data it's not triggering for a lot of searches. We want to see if updating the redirects manually in [the cover directory](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/python/cover) will improve coverage for the Python language space which can be viewed on the [forum](https://forum.duckduckhac

[2017-02-09 18:33] #755 closed

[2017-02-09 18:43] pjhampton opened #766 "Django Suggestion: Extend parser to include submodules + methods"
### Description

This is a really cool IA, but it's not covering much of the search space and it's definitely under-triggering based on the unanswered query data. Currently, we are only scraping the top module and need information on sub modules and their methods. For example:

Triggers: `django admin`
Doesn't trigger: `django admin modelAdmin`

## People to notify
Maintainer: @vigzmv

## Get Star

[2017-02-09 20:49] #757 closed

[2017-02-10 03:16] souravbadami opened #770 "Sqlalchemy parser throws IOError."
### Description

Sqlalchemy parser throws IOError. Here's the traceback:
`
Traceback (most recent call last):
  File "parse.py", line 409, in <module>
    dp.get_pages()
  File "parse.py", line 22, in get_pages
    file = open(file_loc,'r+')
IOError: [Errno 2] No such file or directory: 'download/events.html'
`
## Steps to recreate

Try to fetch the docs using `fetch.sh` and then parse using `pars

[2017-02-10 05:23] BillyBarbaro commented on #506
I'd like to help with this one.  I can just add the entries to the coverage directory, right?  Or should I include the script I use to pull the info as well?

[2017-02-10 10:35] pjhampton commented on #506
Either @BillyBarbaro :-) Have you seen [this perl script Maria wrote](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/utils/extract_articles.pl)?

[2017-02-10 10:52] pjhampton commented on #770
Hey @souravbadami! Thanks for reporting

Reproduced. Yeah, this is going to need to be fixed 👍

[2017-02-10 11:48] gautamkrishnar commented on #770
I think we need to remove the backup/ dir too @moollaza

[2017-02-10 11:50] shravan97 commented on #770
@gautamkrishnar , I already removed the backup dir in this PR : https://github.com/duckduckgo/zeroclickinfo-fathead/pull/756

[2017-02-10 12:34] Hestben commented on #758
I would like to take a look at this. First try showed that parse.sh doesn't run. Maybe the doc source has changed its format =/

[2017-02-10 12:45] pjhampton commented on #758
Thanks @Hestben!! And yes, that's possible. Let me know if that's the case and we can create an issue

[2017-02-10 12:48] Hestben commented on #758
@pjhampton It is not easy to see if they have changed their design, since, they seem to have a rolling release of the docs, and not locked to each released react version. I think it is safe to say that something has broken recently.
Do you think we need to create a different issue for this? I think I could solve both things in this issue.

[2017-02-10 13:59] pjhampton commented on #758
If you think you can solve it, that is fine @Hestben. Please just make sure the git trail is clear. For example, **fixed parse error** -> **improve redirects** -> _future tasks_. I don't we have been doing a great job of this so far in this repository.

[2017-02-10 14:09] Hestben commented on #758
@pjhampton I see. If I fix both things in one PR, the commits will be squashed into one commit. Maybe it is more clear if those things are fixed in different PRs?

[2017-02-10 14:34] pjhampton commented on #758
@Hestben Sure 👍

[2017-02-10 14:52] Hestben commented on #758
@pjhampton OK, could I also create an issue for parsing error?

[2017-02-10 16:03] pjhampton commented on #758
Yeah, sure thing! Just make sure to assign yourself 😄

[2017-02-10 16:10] Hestben opened #772 "React.js bug: Fix parsing error"
### Description
Currently running parse.sh results in an error:
`Traceback (most recent call last):
  File "parse.py", line 189, in <module>
    parsed_api_docs.parse_data(file_data)
  File "parse.py", line 77, in parse_data
    content = self.parse_content(api)
  File "parse.py", line 114, in parse_content
    if tag.name == 'hr' or tag.name == 'blockquote':
  File "/usr/lib/python2.7/dist-packag

[2017-02-10 16:11] Hestben commented on #772
And I would like to assign myself.

[2017-02-10 16:34] #772 closed

[2017-02-10 16:53] pjhampton commented on #550
Hey @dejbug

Just wondering if there is any update? 😄

[2017-02-10 18:36] BillyBarbaro commented on #506
@pjhampton Thanks! That's a really neat tool.  Unfortunately the attributes aren't included in the output.txt for iOS docs.

I took a look at the existing parse script, and like the other Apple parse scripts, it uses the docset databases installed with Xcode to scrape the data.  When I went to look for the database, I couldn't find it.

After a little bit of research, I found that with the release

[2017-02-12 00:08] acflint commented on #733
@pjhampton I can take this one!

[2017-02-12 01:23] acflint commented on #733
@pjhampton I think I've got this done. Since it's not part of the normal fathead repo, I've added you as a collaborator on my repo. Let me know if there's a better way to do this. Thanks!

[2017-02-12 07:40] hchienjo commented on #729
Hey @pjhampton @moollaza I have added the parsing of [http://docs.python-requests.org/en/master/api/](api docs) as well as added a trigger-words.txt. The problem is finding a source for cover data. What is the recommended way for looking for a source for cover data since in some modules, the official API docs are the only comprehensive source and this is not allowed to be taken as a source of cove

[2017-02-12 14:35] Lord-Lavios commented on #745
IA: https://duck.co/ia/view/vuejs

[2017-02-12 20:18] aeisenberg commented on #730
Sorry, @pjhampton, I had some time and wanted to get started contributing to duckduckhack and sent a PR.

[2017-02-13 06:52] dejbug commented on #550
It's been a while 😭 So so sorry @pjhampton !
Thanks for the friendly reminder though. Let me see what I can do.
Realistically I should be able to muster the willpower to wrap up the groff parser I think I was about to finish and at least get the tk man pages shipshape for anyone who wants to pick it up from there, just in case my energy should fizzle out again, which, during this time of year, is

[2017-02-13 09:19] pjhampton commented on #550
Hey @dejbug! We all really appreciate your help 😄  Let me know if I can help further

[2017-02-13 09:44] dejbug commented on #550
ty 👍

[2017-02-13 11:11] altern8tif commented on #509
@pjhampton sweet, thanks!  Will send a PR across soon.

[2017-02-13 13:15] sam09 commented on #664
Hey @pjhampton .. It seems the Haskell fathead has already been created.

Also [this](https://downloads.haskell.org/~ghc/latest/docs/html/libraries/index.html) looks like a pretty good source for documentation. It provides offline downloading of documentation which we could use. Your thoughts?

[2017-02-13 13:28] pjhampton commented on #664
Where @sam09? Are you talking about this: https://duck.co/ia/view/hayoo?

[2017-02-13 14:20] sam09 commented on #664
I mint this https://duck.co/ia/view/haskell

[2017-02-13 15:24] pjhampton commented on #664
@GuiltyDolphin are you cool if I ghost this IA page?

[2017-02-13 18:06] sahildua2305 commented on #749
@moollaza @adityatandon007 does it trigger when keyword is in the middle of the query? For example, for this query - `cpp boost ref` if we remove `cpp` from the trigger?

[2017-02-13 19:09] pjhampton opened #779 "Python: New Celery Fathead"
# Create a new Celery Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scr

[2017-02-13 20:27] pjhampton opened #780 "JS: New Meteor Fathead"
# Create a new Meteor Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scr

[2017-02-13 20:45] pjhampton opened #781 "C++: CPP Reference Fathead"
# Recreate the CPP Reference Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script t

[2017-02-13 21:27] pjhampton commented on #298
Closing due to https://github.com/duckduckgo/zeroclickinfo-fathead/issues/781 👍

[2017-02-13 21:27] #298 closed

[2017-02-13 21:29] pjhampton commented on #407
Closing due to https://github.com/duckduckgo/zeroclickinfo-fathead/issues/781 👍

[2017-02-13 22:24] adityatandon007 commented on #749
@sahildua2305 it does trigger for boost ref (after removing cpp from the trigger). I think something was recently added to the triggrer_words.txt file. This is what I have mentioned earlier that there is something generic going on with this IA and we should avoid generic triggering and therefore I created this issue in the first place.

[2017-02-13 22:27] adityatandon007 commented on #749
@sahildua2305 I think @moollaza recently added this **boost** in the trigger_words.txt if I remember it correctly and I think it became now more inconsistent.

[2017-02-13 22:31] adityatandon007 commented on #749
yeah @sahildua2305 I found it and I was correct. here is the [https://github.com/duckduckgo/zeroclickinfo-fathead/commits/master/lib/fathead/cpp_boost/trigger_words.txt](url)

[2017-02-13 22:37] adityatandon007 commented on #749
@sahildua2305 I also think that we should remove this **boost** trigger because boost and anything related to title of that output.txt file can trigger this IA which user might not want to see. Like he might type "boost spirit" and he want to see the answer regarding how to boost spirit but instead he would see this IA result which we didn't want in the first place.
![screenshot from 2017-02-14 04

[2017-02-14 01:26] acflint commented on #706
We think this is done, but @kotoshenya is going to look it over before we submit. If anyone else is interested, we welcome your feedback! https://github.com/acflint/stdlib

[2017-02-14 08:09] p12tic commented on #781
Note to whoever considers implementing this: the current implementation of cppreference_doc fathead is more than 1000 lines of python code - see https://github.com/p12tic/cppreference-doc/blob/master/index2ddg.py and its dependencies on the same repository. So any (re-)implementation of this will be either of similar complexity or lower quality, because the existing script relies on some manually

[2017-02-14 08:43] GuiltyDolphin commented on #664
@pjhampton Err, yeah. I forgot about that ^.^

[2017-02-14 09:18] pjhampton commented on #664
Thanks @GuiltyDolphin! 😄
This page is now gone @sam09 if you want to remake it 👍

[2017-02-14 10:22] Hestben commented on #758
Hmm, I just found out, that the redirects.py is never executed. @bfmags Did you mean to run that in parse.sh, or is it supposed to be used separately? I see that it doesn't generate any output to output.txt. I think I will change so that it adds redirects to the output.txt, so we get the redirects in the output.

[2017-02-14 10:26] pjhampton commented on #758
Hey @Hestben,

This is supposed to be run separately. Redirects can go into the output.txt or cover directory 👍

[2017-02-14 10:38] Hestben commented on #758
@pjhampton OK. So I take it the format "<redirect key>,<original article>" is correct.
I will simply modify the redirect.py to add more redirects.
I guess the cover directory is something you generate when deploying the fathead?

[2017-02-14 12:12] Hestben commented on #758
@pjhampton I have looked in the redirects.txt it currently generates, and there is an entry `component,React.Component`. So, in my understanding of the fatheads, I guess the keyword `react` should trigger this fathead, and the redirects.txt seems to have the correct redirect. So my guess is that something internal does not trigger the redirect (where do you load in the redirects.txt? Have they bee

[2017-02-14 12:16] anton19291 opened #783 "Instant answers show Icon when it is disabled via customized DuckDuckGo Theme"
## BUG FIX

lyrics Bug: I disabled Icons in the DuckDuckGo Theme settings but in instant answers the Icon is still displayed.

## SUGGESTION
lyrics Suggestion: Either add a possibility to configure the instant answers seperately or take over the theme settings configured for duckduckgo

## Steps to recreate

Disable Icon display via the DuckDuckGo Theme settings. After that search for "torture lyr

[2017-02-14 12:18] pjhampton commented on #783
@anton19291 Can you please take a screenshot. I can't reproduce.

[2017-02-14 12:19] anton19291 commented on #783
![lyrics](https://cloud.githubusercontent.com/assets/7266161/22928731/a290dcf4-f2c0-11e6-9523-87dbcecb8eb3.png)

[2017-02-14 12:21] anton19291 commented on #783
![lyrics](https://cloud.githubusercontent.com/assets/7266161/22928774/cfccc976-f2c0-11e6-9431-1570ba69a068.png)

[2017-02-14 12:28] anton19291 commented on #783
Seems to be some kind of caching issue. Also The "Show visited symbol" is still there even after I deactivated it right now. I tried a refresh with shift but that didn´t help. I think this can be closed as it seems to be on my end.

[2017-02-14 12:52] bsstoner commented on #783
Thanks for the suggestion. The setting was only intended to affect the organic links, but you have a valid point about also removing from IA's. I'll take it back to the team internally as nothing can be done here in this repo.

[2017-02-14 12:52] #783 closed

[2017-02-14 13:37] pjhampton opened #784 "Bower: List all topic titles and language features to help measure coverage"
### Description

For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creati

[2017-02-14 13:46] nunocastromartins opened #785 "MDN CSS: <input> rendering"
Search for [::-moz-range-track](https://duckduckgo.com/180/%3A%3A-moz-range-track)

The MDN page has the following text:

DDG is displaying:
![screenshot from 2017-02-14 13-37-21](https://cloud.githubusercontent.com/assets/8314616/22930988/c36728b2-f2ba-11e6-84bb-b81c77994bb0.png)

I wonder, how does DDG/zero-clicks handle XSS? Would this be at all possible to exploit?

------
IA Page:  http://duc

[2017-02-14 13:49] hchienjo commented on #785
On it.

[2017-02-14 14:01] pjhampton opened #786 "Spark: Fix Description Truncation & Articles that won't Triggering"
### Description

It seems that a couple of the articles for the Spark (Scala) reference are being truncated. It would awesome if we could get this fixed. It would probably be a lot more helpful.

**Screenshot 1**

![screen shot 2017-02-14 at 1 55 18 pm](https://cloud.githubusercontent.com/assets/8960296/22931648/4eb9c0a8-f2bd-11e6-87a0-ee26e0f614f5.png)

**Screenshot 2** (org.apache.spark.ml.featu

[2017-02-14 14:48] pjhampton opened #788 "Spark Suggestion: Add Redirects"
### Description

Currently, a user has to type in the full API path to get a description back from this IA. For example:

![screen shot 2017-02-14 at 2 08 33 pm](https://cloud.githubusercontent.com/assets/8960296/22932257/2317d56e-f2bf-11e6-8055-19b1a12af417.png)

As a result, this IA is undertriggering like crazy. Which is a shame! As a Spark user myself, I would love to search `ml QuantileDiscre

[2017-02-14 15:08] sam09 commented on #664
I tried remaking it but I get the same error that the an IA with same title exists.

[2017-02-14 16:59] pjhampton opened #789 "Spring Suggestion: Add Redirects (Split Casing)"
## Description

Spring is currently the most queried Java Web Framework work on DuckDuckGo, but this IA is under-triggering. I suspect because of the long class / method names and the fact the triggering doesn't reflect how a user queries. I think it would be good to experiment breaking up the camel / pascal / snake case with a regex and generating the redirects.

**Triggering**

![triggered](http

[2017-02-14 17:49] #540 closed

[2017-02-14 17:59] GuiltyDolphin commented on #664
Hmm, @sam09 @pjhampton mightn't it be better to call this FatHead `haskell_wiki`? Then `haskell` could be used for the main docs.

[2017-02-14 17:59] #745 closed

[2017-02-14 18:10] sam09 commented on #664
Sounds good to me
On Tue, 14 Feb 2017 at 11:29 PM, Ben Moon <notifications@github.com> wrote:

[2017-02-15 20:14] sahildua2305 commented on #749
I agree

[2017-02-16 03:37] adityatandon007 commented on #749
I will make the changes and then let you know

On Feb 16, 2017 1:44 AM, "Sahil Dua" <notifications@github.com> wrote:

[2017-02-16 07:13] sam09 commented on #664
Hey @pjhampton @GuiltyDolphin  I have created a new IA page https://duck.co/ia/view/haskell_wiki. Also the haskell wiki site mentions [this](https://downloads.haskell.org/~ghc/latest/docs/html/libraries/) as a complete documentation. And I think this is available offline too. I think we should be using that.

[2017-02-16 09:44] alexnewmannn commented on #171
Ill try do it tonight, havent been able to get on my personal computer the last week! :)

[2017-02-16 10:25] adityatandon007 commented on #749
@sahildua2305 I have updated the triggers. I have also removed the cpp trigger too avoid the clashes with cpp reference fathead. If you suggest it's not right then I can add that in the trigger_words.txt file.

[2017-02-16 15:20] Lord-Lavios commented on #764
I can take this.

[2017-02-17 05:52] iamsidshetty commented on #665
@pjhampton,

Yes, I am willing to work on this. You can assign this to me.

-Sid

[2017-02-17 06:13] mayank commented on #634
I am picking this.

[2017-02-17 09:08] Lord-Lavios commented on #764
@pjhampton Is there a way to display colours in the abstract? [eg](http://lesscss.org/functions/#color-blending-negation) - The colours are images so they will be stripped out.

[2017-02-17 09:50] pjhampton commented on #665
Hey @iamsidshetty, it's all yours! Can you please create an IA page and join the org here: https://github.com/duckduckgo/duckduckgo/issues/182 - I can assign you after that.

[2017-02-17 09:52] Lord-Lavios commented on #764
@pjhampton I found another issue for the less fathead while filling in the pull request. This seems to be a duplicate. #634 is the old one.

[2017-02-17 09:54] pjhampton commented on #634
Sorry, @mayank. This is a duplicate issue which is already being worked on (https://github.com/duckduckgo/zeroclickinfo-fathead/issues/764). Please see https://github.com/duckduckgo/zeroclickinfo-fathead/issues/747 for high value tasks.

[2017-02-17 09:54] #634 closed

[2017-02-17 09:57] pjhampton commented on #634
I have pinged @beng on Slack

[2017-02-17 09:59] mayank commented on #634
@pjhampton It's okay I will pick something else.

[2017-02-17 10:00] mayank commented on #780
@pjhampton picking this.

[2017-02-17 10:02] pjhampton commented on #764
@Lord-Lavios no, just strip out the colors for now, please. I have dealt with the duplicate issue there. This is the second time this has happened now - I have an idea on how to prevent this which I will work on later.

[2017-02-17 10:23] mayank commented on #780
IA : https://duck.co/ia/view/meteor_api

[2017-02-17 17:19] pjhampton commented on #334
Closing in favour of https://github.com/duckduckgo/zeroclickinfo-fathead/issues/747. The last issue is referenced there 😄

[2017-02-17 17:20] pjhampton commented on #571
Closing in favor of #747. The last issue is referenced there 😄

[2017-02-17 17:20] #571 closed

[2017-02-17 17:55] pjhampton commented on #460
Closing due to inactivity.

[2017-02-17 17:55] #460 closed

[2017-02-17 18:00] pjhampton commented on #549
Hey @nikhilsingh291! How are you getting on? Do you have any questions?