[2012-05-08 18:21] yegg opened #18 "Reverse port lookup"
https://duckduckhack.uservoice.com/forums/5168-plugins/suggestions/2835485-service-name-to-port-port-to-service-name-lookup

[2012-06-21 12:11] lucassmagal opened #27 "HTML5 plugin"
Hello @rpicard ,

I was looking and testing some queries in duckduckgo, and searching for "html video" it returned to me the Wikipedia source, instead of HTML5Doctor's trough my plugin. What's going on?

More: I've noted that my plugin only works with I search with something like this: "html tag". What happened with my other queries, like "tag abbr", "html5 table" and so on?

[2012-07-27 22:08] rpicard opened #33 "HTML "h1-h6" should have redirects for "h1", "h2", ..."
There is only an item for "h1-h6" (https://duckduckgo.com/?q=html+h1-h6) in html_ref.There should be items for h1, h2, h3, h4, h5, and h6 that redirect to "h1-h6." This should be an easy one to fix.

[2012-11-07 18:34] rpicard opened #40 "Open source internal Mercurial Fathead"
Creating this issue for any discussion to take place.

[2013-08-28 23:43] yegg opened #52 "Apple reference missing stuff"
Like NSStatusItem

https://duck.co/ia/view/ask_different

[2013-09-02 19:00] zekiel opened #53 "Bug w/ bible IA"
User reported here: http://www.reddit.com/r/duckduckgo/comments/1ll0pv/help_us_find_bad_instant_answers/

One I've noticed is that if you search for a two-digit bible chapter, it splits those two digits and gives you a one-digit chapter and a one-digit verse. For instance, look at a search for Exodus 12[1] . It quotes Exodus 1:2 at me, when I clearly wanted Exodus 12 instead.

[2013-10-08 21:07] zekiel opened #56 "Update javadoc instant answer for Java SE 8"
http://docs.oracle.com/javase/8/docs/api/

[2013-10-31 23:38] moollaza opened #67 "Mercurial documentation instant answer - broken "More At" link"
When you search for a Mercurial command, like `hg commit`, it gives a short description from the documentation site. However, clicking on that to go to the documentation site doesn't show you the correct spot on the page.

It links to `http://www.selenic.com/mercurial/hg.1.html#hg commit`, when it should be `http://www.selenic.com/mercurial/hg.1.html#commit`. (The difference is the last part, afte

[2013-11-15 19:14] dvogel opened #69 "duckpan 0.132 disallows empty icon_url values"
As of commit bf16240e93f845b4a9f8c33ab15efd88d4a0e629

[code]

[code]

[2013-11-15 19:17] dvogel opened #70 "Can't locate object method "handle_request_matches" via package "DDG::Fathead::ArchPkgs" at /home/dvogel/perl5/lib/perl5/DDG/Block.pm line 186."
[code]

[2013-11-27 23:14] yegg opened #72 "Open source all non-open source code docs"

[2013-12-02 23:11] ghost opened #74 "Update pypi output"
An alternative is to not link to specific version numbers. "python pip" would show https://pypi.python.org/pypi/pip/1.1, but we could just use https://pypi.python.org/pypi/pip/ to give us the latest package every time.

[2014-01-07 20:12] zekiel opened #78 "Perl doc search showing too large of a block of text"
https://duckduckgo.com/?q=perl+print

[2014-01-22 17:50] #18 closed, assigned to nobody

[2014-01-22 17:56] #27 closed, assigned to nobody

[2014-01-22 18:09] #40 closed, assigned to nobody

[2014-01-22 18:24] #69 closed, assigned to nobody

[2014-01-22 19:17] #70 closed, assigned to nobody

[2014-04-04 17:51] zekiel opened #81 "Airport codes not working"

[2014-07-04 22:32] p12tic opened #88 "C++ documentation plugin is broken"
The C++ documentation plugin is completely broken at the moment -- all target links are invalid. Take, for example, search query `std::unordered_map`. The returned link points to `http://www.cplusplus.com/%5Bhttp://en.cppreference.com/w/cpp/container/unordered_map%20Cppreference%5D` which is an invalid link.

In addition to that, newlines are displayed as `\n`.

[2014-09-16 15:35] #74 closed, assigned to nobody

[2014-09-18 14:17] #78 closed, assigned to nobody

[2014-09-25 16:17] #53 closed, assigned to nobody

[2014-09-25 20:18] jdorweiler opened #99 "legal_docs: remove internal links form the abstract text"
There's a `(` showing up at the end of the abstract text.  Just need to update the parser to remove the internal links inside the `()`.
![selection_196](https://cloud.githubusercontent.com/assets/1882892/4411655/9e670336-44f0-11e4-8588-e410f62eedfe.png)

Here's the source data for this entry as an example.

[code]

[2014-10-03 20:53] #88 closed, assigned to nobody

[2014-10-06 16:17] #81 closed, assigned to nobody

[2014-11-13 13:37] yegg opened #102 "Python docs out of date"
https://twitter.com/excsc/status/532663726986760192

[2014-11-13 14:39] #102 closed, assigned to nobody

[2014-11-18 01:36] moollaza opened #103 "SearchCode - Errant "[" after code snippet?"
Looks like the parser is adding `[]` around it the "More at" link which is causing problems. We can remove them as the source has rebranded itself anyways: https://searchcode.com/

https://duckduckgo.com/?q=php+implode

![php_implode__php__at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/5074168/d8cf31d6-6e55-11e4-848a-583ca51772a0.png)

[2014-12-05 14:07] #56 closed, assigned to nobody

[2015-01-14 14:05] bsstoner opened #110 "Add more docs from MDN"
MDN fathead currently only pulls docs on global JS objects. Would be very useful if we could cover more of the other sections too.

https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
https://developer.mozilla.org/en-US/docs/Web/HTML/Element
https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes
https://developer.mozilla.org/en-US/docs/Web/API

cc @mrshu @jdorweiler

[2015-01-23 20:28] jdorweiler commented on #110
I added Web/API but we could still use the others.

[2015-02-07 05:35] MrChrisW opened #113 "Inconsistent title on query: suitable | PyPI"
The Definition (wordnik) IA is triggered, however the title is changed as the [PyPI.pm](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/DDG/Fathead/PyPI.pm) flathead is also triggered, this is incorrect.

**Reproduce Issue:**
https://duckduckgo.com/?q=suitable

**Expected result:**

[code]

**Actual result**

[code]

[2015-02-18 09:53] sevastos opened #115 "Outdated data"
I was checking out the fathead IAs and noticed on the [docs](https://duck.co/duckduckhack/fathead_overview) the following part:

However, I couldn't find details on how to instruct this, I checked some existing fathead IAs and I assume they are not specified on meta.txt or .pm, but you maybe add a cron on per-case basis?
In any case, it would help to clarify this at the docs.

Lastly, I did a sear

[2015-02-20 05:58] moollaza commented on #115
@sevastos for now we've been updating the fatheads as needed. Usually when someone let's us know it's out of date, we tend to update it :)

I like the idea of indicating how often it should be updated though. I'll mention this to the team because its a problem that we don't have a great solution for.

[2015-02-26 21:11] dermusikman opened #118 "unix_man missing a lot"
[Unix man](http://duck.co/ia/view/unix_man) seems to be missing a lot. I've tried `man bash`, `man dd`, `man sh`... these are not obscure, but they're not getting picked up.  If it's an issue with the source, I wonder if this may need to be revised. I might also recommend the man pages from [die.net](http://linux.die.net/man/).

I'm happy to contribute, if that's what it would take. Wanted to brin

[2015-03-02 20:53] jdorweiler opened #123 "airport code parse error"
I get the following error when running the airport code parser.  https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/airports/parse.py
[code]

[2015-03-02 21:23] jdorweiler commented on #118
@dermusikman Running an update right now, thanks!
I like die.net too.  Feel free to switch the code over to use that site if you want.

[2015-03-02 21:34] jdorweiler commented on #118
@dermusikman should be live in the next few days :cake:
![selection_374](https://cloud.githubusercontent.com/assets/1882892/6451072/03082efc-c0fa-11e4-88e9-9c7e4f56863f.png)

[2015-03-02 21:34] #118 closed

[2015-03-02 21:36] jdorweiler commented on #115
Ran into an error with the airport code parser. https://github.com/duckduckgo/zeroclickinfo-fathead/issues/123

[2015-03-07 21:49] pfirsichbluete commented on #123
The wiki's page structure changed. Pull request https://github.com/duckduckgo/zeroclickinfo-fathead/pull/124
adapts the fathead to those changes.

[2015-03-13 18:04] #123 closed

[2015-03-13 19:48] jdorweiler commented on #115
Fixed!
https://duckduckgo.com/?q=airport+AHJ&ia=about

[2015-03-13 19:48] #115 closed

[2015-03-21 14:09] iambibhas opened #127 "ISO3166Codes is broken; Needs new source URL"
Seems like the source url mentioned in the [data.url](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/iso_3166_codes/data.url) file is broken - http://www.iso.org/iso/list-en1-semic-3.txt

Tried searching for `us iso` and `iso tk` as mentioned in the [fathead script](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/DDG/Fathead/ISO3166Codes.pm), not

[2015-04-03 04:48] tagawa opened #128 "Wikipedia French: Meanings subheading has typo"
Searching for [Notre Dame](https://duckduckgo.com/?q=Notre+Dame&kad=fr_FR&ia=meanings) returns the IA subheading "Affichage 186 ÉLéments". This should be "Affichage 186 Éléments" (lower case L).

-- http://duck.co/ia/view/wikipedia_french

[2015-04-03 21:27] moollaza commented on #128
/cc @b1ake @mrshu -- are you guys able to fix this?

[2015-04-04 17:30] b1ake commented on #128
@moollaza It looks like a typo in the translation token for the word 'Items', which lives in the community platform I think. Maybe @jbarrett or @zekiel can fix it or show us how to do ourselves?

Screenshot of the issue:
![2015-04-04_1329](https://cloud.githubusercontent.com/assets/8975/6993802/a46b9b7e-dace-11e4-9bfb-c716b38151bb.png)

[2015-04-04 17:33] b1ake commented on #128
@moollaza Scratch that, I just saw that it's correct here: https://duck.co/translate/tokenlanguage/117190 (as @mrshu has noted).

We'll look into it internally, it might be something with how our capitalize string code works on the frontend. Maybe the accented first letter is throwing it off. cc @bsstoner

[2015-04-07 03:17] tagawa commented on #128
Thanks @b1ake. And when you consider adding a Japanese Wikipedia IA please count me in for QA/dev/whatever.

[2015-04-07 11:36] b1ake commented on #128
@tagawa Okay great! I'm ccing @mrshu, as he'll be involved with that too when we get to it.

[2015-04-12 03:40] tagawa opened #129 "Add wink to emoticon meanings"
Both these emoticons:
;)
;-)
can be used to mean "winking".

http://duck.co/ia/view/emoticon

[2015-05-13 22:19] zekiel commented on #128
just caught this in my old notifications -- please let me know if anything else is still needed

[2015-05-13 22:50] tagawa commented on #128
Thanks @zekiel. The problem's still there even though the translation token is correct so it must be the frontend's capitalization logic, as @b1ake mentioned.

[2015-06-14 15:43] smola opened #133 "File Formats: IA is outdated, does not work with latest data"
File Formats IA relies on all extensions being present in this URL:
https://en.wikipedia.org/wiki/List_of_filename_extensions_(alphabetical)

But this list has been splitted into different pages, so it does not work anymore.

---

IA Page:  http://duck.co/ia/view/file_formats

[2015-06-17 19:15] jdorweiler opened #134 "IOS: bad result for "ios devices""
![selection_084](https://cloud.githubusercontent.com/assets/1882892/8216306/b028e150-1503-11e5-8800-118b501a02ca.png)
---

IA Page:  http://duck.co/ia/view/ios

[2015-06-18 13:48] yegg opened #135 "Irrelevant/badly parsed result for iOS devices"
https://duckduckgo.com/?q=iOS+devices&ia=about

http://duck.co/ia/view/ios

[2015-06-23 14:18] javathunderman commented on #135
Duplicate of #134

[2015-06-23 17:43] moollaza commented on #135
Closing as it's a duplicate.

[2015-06-23 17:43] #135 closed

[2015-06-23 17:44] moollaza commented on #134
@jdorweiler any idea how we can fix? I take it, this isn't an internal fix?

[2015-06-24 00:58] Juerd opened #136 "Perl6Doc: Documented example "perl 6 str" does not work."
There's no instant answer box when you search for "perl 6 str". The first regular hit is great, but it's probably better if the first documented example worked as expected :-)

The examples "Str.rindex" and "Int.div perl6" work fine.

------
IA Page:  http://duck.co/ia/view/perl6doc

[2015-06-24 15:42] jdorweiler commented on #134
Looks like the code is here https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/UNCLEAN/parse_appleosx.py

Reprocessing the data is probably best.  I'm sure it's been a long time since that was done anyway.

[2015-06-24 23:15] moollaza commented on #136
@jdorweiler could it be that the Fathead is out of date and needs to be re-run?

[2015-06-26 19:22] mbeijen opened #137 "PyPi: module info out of date"
The module information for the pypi instant answer is out of date. The Latest Version is incorrect and also the 'More at Python Package Index'  points at the location of the old package.

In case of [certifi](https://duckduckgo.com/?q=python+certifi&ia=about) the package points to version https://pypi.python.org/pypi/certifi/14.05.14 while the latest version is a year newer. This is not only with

[2015-06-26 20:36] moollaza commented on #137
@jdorweiler shall we re-run the fathead?

[2015-06-27 12:06] jdorweiler commented on #137
@mbeijen @moollaza thanks! I'll make a task to update the data.

[2015-07-08 21:45] jdorweiler commented on #137
I update it today.  Thanks @mbeijen

[2015-07-08 21:45] #137 closed

[2015-08-02 20:46] stelt opened #140 "MDNJS: [ and ] for optional parameters are not shown"
------
IA Page:  http://duck.co/ia/view/mdnjs

[2015-08-03 16:22] AnthonyMastrean opened #141 "Subversion: use version 1.7 of the svn book"
The svn "fathead" links to out-of-date docs (1.5). The latest is 1.7 and 1.8 is in draft now.

https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/UNCLEAN/parse_svn.py#L38

---

IA Page:  http://duck.co/ia/view/subversion

[2015-08-04 12:02] ghost opened #142 "MySQL: linebreaks `__NEWLINE__` and prefix 'mysql>' shown in example view"
When DDG-ing for [`mysql substring`](https://duckduckgo.com/?q=mysql+substring), the example view contains:

[code]

It contains linebreaks `__NEWLINE__` and prefix `mysql>`.

Instead, this would be much more readable:

[code]

---

IA Page:  http://duck.co/ia/view/my_sql

[2015-08-19 13:51] JamyGolden opened #143 "HelloWorld: fullstop required after certain "hello world" searches"
While going through the [Basic Fathead Tutorial](https://duck.co/duckduckhack/fathead_basic_tutorial) I noticed it has an example link of the "hello world" [Instant Answer](https://duckduckgo.com/?q=hello+world+scala.). That link has a fullstop in search. I tried removing it and the instant answer stopped working entirely.

Doesn't Work:
`hello world scala` [link](https://duckduckgo.com/?q=hello+w

[2015-08-25 15:34] tagawa opened #144 "Plural: IA triggered without "plural" keyword"
E.g. the query https://duckduckgo.com/?q=railcard&ia=about displays the plural IA which seems redundant.

Raised on Twitter: https://twitter.com/jackhughesweb/status/636197752028962817

---

IA Page:  http://duck.co/ia/view/plural

[2015-08-26 20:35] moollaza commented on #143
@JamyGolden thanks for reporting!

I'm able to recreate this for the JavaScript example, however it works as expected for the "hello world scala" query.

I suspect another Instant Answer may have taken priority in these cases.

@jdorweiler any ideas why the JavaScript link doesn't pop the IA at all? Can the Q/A tab be blocking this IA?

[2015-08-26 20:36] moollaza commented on #142
@fcturner thanks for reporting!

[2015-08-26 20:39] moollaza commented on #142
Crap, looks like this is an internal IA. We'll have to do it ourselves I guess.

@jdorweiler do you have any idea if we can open source this IA? Should we ask the community to re-implement it themselves?

[2015-08-26 20:43] moollaza commented on #141
@AnthonyMastrean thanks a lot for reporting this!

The linked file isn't actually the code that's being used in production, it's code from a developer who wrote a scraper for SVN that he's "donated" to use in case any devs out there feel like adapting it for a Fathead Instant Answer.

This is actually a "legacy", internal IA which will need to be fixed internally.

[2015-08-26 20:44] moollaza commented on #140
@stelt thanks a lot for reporting this!

Can you please explain in a little more detail what the problem is? Do you have an example link that demonstrates the problem?

[2015-08-26 20:46] moollaza commented on #133
The code for this one can be found here:
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/file_formats/parse.go

Looks like it needs some updates!

[2015-08-26 20:50] moollaza commented on #127
@pfirsichbluete would you be interested in fixing up this Fathead? It looks like the URL originally used to download the data no longer exists!

[2015-08-26 23:51] jdorweiler opened #145 "Plural: weird result for moose"
Maybe something with the extra parentheses?
![selection_041](https://cloud.githubusercontent.com/assets/1882892/9509286/baa29888-4c2b-11e5-9122-325de228d22a.png)
![selection_042](https://cloud.githubusercontent.com/assets/1882892/9509289/bf0b2b88-4c2b-11e5-809f-0d46e829ffb5.png)
https://duckduckgo.com/?q=plural+moose&ia=about

------
IA Page:  http://duck.co/ia/view/plural

[2015-08-27 17:19] pfirsichbluete commented on #127
@moollaza I touched this fathead only once, when mass-updating the code urls. So I have no clue about
the inner workings here.

I had a brief look nonetheless.

Some copies of the file can be found on the net.
E.g.:
* https://raw.githubusercontent.com/vandrijevik/iso3166/f98486e42183828490e122d216ef08a934b8bd36/lib/iso3166/list-en1-semic-3.txt
* http://sermad.soup.io/post/18530218/http-www-iso-org

[2015-08-30 22:39] stelt commented on #140
https://duckduckgo.com/?q=mdn+substr&t=ffsb&ia=about&iax=1
gives
String.prototype.substr (start, length)
and via "More at Mozilla Developer Network"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substr
gives
str.substr(start[, length])

Only in 1 of the 2 cases it's clear LENGTH is an optional parameter

[2015-09-03 20:12] jdorweiler commented on #145
@wilkox any interest in looking at this bug?

[2015-09-05 02:40] wilkox commented on #145
I'll take a look at it.

[2015-09-05 14:30] jdorweiler commented on #145
@wilkox thanks!

[2015-09-07 09:52] andrey-p opened #147 "GitManual: Source seems to have been taken down"
Just tried clicking the MoreAt link when searching for e.g. `git push` and got a 404. Maybe we need a new source?

------
IA Page:  http://duck.co/ia/view/git_manual

[2015-09-20 01:18] Geo1088 opened #150 "ThePokemonEncyclopedia: Multiple "Read More" Sources"
Hello!

First, I'd like to say thanks for this add-on. It's really useful, especially for quickly looking up a pokémon's type in battle. I would like to suggest that there be more options for the "Read More"/"More Info" links. For example, Umbreon's card only shows a link to the Pokémon Wikia, but it could link to other sources as well, such as Bulbapedia. (I'm not sure if it already does this for

[2015-09-24 13:50] #145 closed

[2015-10-19 20:14] lucideer opened #158 "GitHub: Zeroclick seems to prioritise repositories strangely"
Example: Zeroclick for https://duckduckgo.com/?q=github+ranger should really point to https://github.com/hut/ranger rather than https://github.com/ralesi/ranger.el

(I'm sure ralesi's repo is good, but I would imagine ZeroClick should try to present somewhat "canonical" results based on notability, etc.?)

Note: the DDG search results has hut's repo at the top.

------
IA Page:  http://duck.co/ia/

[2015-10-20 15:41] moollaza commented on #158
@jdorweiler seems like this may be due to the Fathead going stale? Can we re-build the info?

[2015-10-20 15:50] jdorweiler commented on #158
@moollaza this is the spice.

[2015-10-23 17:00] russellholt opened #159 "Airports: need examples queries"
need examples queries

------
IA Page:  http://duck.co/ia/view/airports

[2015-10-23 20:03] moollaza commented on #159
Fixed!

[2015-10-23 20:03] #159 closed

[2015-11-01 10:23] xfix commented on #136
Seems to for me.

[2015-11-01 10:26] xfix opened #161 "Perl6Doc: Ignore inheritance for method search"
This is a reminder to myself.

Query like `Str.clone` should point to `Mu.clone`. Query like `perl6 clone` shouldn't show a `clone` method for every single object in a language, but just `Mu.clone` and possibly objects that override it (if there are any).

https://duck.co/ia/view/perl6doc

[2015-11-16 01:08] tagawa opened #163 "Country languages: Doesn't trigger for some languages"
Sometimes this IA is triggered but sometimes the standard Wikipedia fathead is triggered instead, or even no IA at all. For example...

Works (triggers country languages IA):
https://duckduckgo.com/?q=afghanistan+language

Triggers Wikipedia fathead IA:
https://duckduckgo.com/?q=language+in+brazil
https://duckduckgo.com/?q=mexico+language
https://duckduckgo.com/?q=language+in+mexico

Doesn't trigg

[2015-11-16 12:44] CristianoNicolaFerreira opened #164 "HelloWorld:"
@jperla

------
IA Page:  http://duck.co/ia/view/hello_world

[2015-11-16 12:45] #164 closed

[2015-11-16 14:49] moollaza commented on #164
Hey @CristianoNicolaFerreira welcome to DuckDuckHack!

Are you interested in contributing?

[2015-11-19 11:08] tuxd00d commented on #147
I noticed that as well ...

[http://csurs.csr.uky.edu/](http://csurs.csr.uky.edu/) no longer provides a man2html service.

[http://linux.die.net/man/](http://linux.die.net/man/) is one that has been around since ... forever.

[2015-11-21 02:38] moollaza commented on #136
@xfix looks to be working for me too now :+1:

[2015-11-21 02:38] #136 closed

[2015-11-21 02:42] moollaza commented on #158
@jdorweiler I believe @lucideer is referring to the `About` tab pointing to `ralesi/ranger` instead of the more popular `hut/ranger` -- the Spice orders `hut` as the first because they're ordered by # of stars (which hut has many more of)

[2015-11-21 02:42] moollaza commented on #158
![github_ranger__software__at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/11316237/96a134fc-8fcf-11e5-95fa-c94cb06f9961.png)

[2015-11-21 14:27] jdorweiler commented on #158
@moollaza ok, thanks.  @mrshu knows more about how the github fathead works.

[2015-11-22 12:01] lucideer commented on #158
Thanks @moolaza - I would've clarified myself but I didn't quite understand that the spice was a different : this is the `Software` tab yeah?

Another thing to note, the `Software` tab shows ralesi (in third) with a different more up-to-date title: "ranger.el" instead of just "ranger" so I guess this could indicate the info in the `About` tab is stale as suggested

[2015-11-22 18:12] moollaza commented on #158
@lucideer yes the "Software" tab is powered by the GitHub Spice which uses the GitHub API (so it's always up to date)

The "About" is powered by the Fathead, which is a DB, in this case, containing the names of all (or most) GH repos, and the descriptions. The Fathead is more prone to being outdated though, but can detect exact matches on existing repo names.

[2015-11-25 23:42] mrshu commented on #158
Hi @lucideer,

I am sorry for the late reply and your confusion. What @moollaza wrote above is correct, the "About" tab is powered by an internal Fathead that desperately needed an update.

The query you mentioned above currently shows the GitHub repository you suggested it should.

[2015-11-25 23:48] moollaza commented on #158
Sounds like we can close this then!

@mrshu thanks for updating the Fathead :+1:

[2015-11-25 23:48] #158 closed

[2015-11-27 17:32] MrTimscampi commented on #163
Belgium triggers the Wikipedia entry instead of the country language: https://duckduckgo.com/?q=belgium+language

[2015-12-10 01:38] tagawa commented on #163
Sri Lanka is another example of no triggering:
https://duckduckgo.com/?q=language+of+sri+lanka&t=ffab
although the data is in the source CIA page:
https://www.cia.gov/library/publications/the-world-factbook/geos/ce.html

[2015-12-11 00:03] holaman25 opened #166 "WikipediaSpanish:"
------
IA Page:  http://duck.co/ia/view/wikipedia_spanish

[2015-12-11 01:38] moollaza commented on #166
@holaman25 did you mean to report a bug? If not, please close this issue.

[2015-12-15 09:41] mischk opened #167 "GitHub: markdown cheat sheet"
If you ask ddg for markdown cheat sheet, instant answer provides a link to a github page with a markdown cheat sheet. Think it should provide the cheat sheet instead.

------
IA Page:  http://duck.co/ia/view/git_hub

[2015-12-15 18:43] moollaza commented on #167
@mischk thanks for this! I'll move this to the Goodies Repo where Cheat Sheets live

[2015-12-15 18:43] #167 closed

[2015-12-22 20:59] anothernewphone opened #168 "GitManual:"
the "more at" link 404s.

------
IA Page:  http://duck.co/ia/view/git_manual

[2015-12-26 08:15] jagtalon opened #169 "Can I Use: Update to add Edge Browser"
For example, Edge now supports partial support for CSS Filter Effects, but it doesn't say that in our IA: https://duckduckgo.com/?q=can+i+use+CSS+Filter+Effects&t=ffab&ia=about&iax=1

This might need an update.

[2015-12-26 08:16] jagtalon commented on #169
+ @jdorweiler @moollaza

[2015-12-26 08:20] jagtalon opened #170 "Can I Use: Update to get rid of some browser prefixes"
For example in https://duckduckgo.com/?q=can+i+use+css+animation&t=ffab&ia=about&iax=1 I think it should say "Safari 9+" because `-webkit` was dropped in that version.

\+ @jdorweiler @moollaza

[2015-12-26 08:26] jagtalon opened #171 "Can I Use: Add other aliases for CSS filters"
It triggers on "can i use css filters" and "can i use css filter effects" but not on "can i use css filter" or "can i use css filter effect"

See https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/share/fathead/caniuse/output.txt#L370...L372

https://duck.co/ia/view/caniuse

[2015-12-26 08:28] jagtalon opened #172 "Can I Use: Broaden search results by adding more aliases"
### Description

The "Can I Use" Instant Answer shows results for the search "can i use css animation", but not for "can i use css animations" or "can i use animations"

### What to do
For each line in the [articles.txt file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/caniuse/articles.txt), create aliases and store them in a new redirects.txt file, in the same dire

[2015-12-28 19:00] jdorweiler opened #173 "error updating c++ docs"
[code]

https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/share/fathead/c%2B%2B_ref

[2015-12-29 17:40] moollaza commented on #169
There was a developer the was interested in updating it...

The data is now hosted on GitHub in a JSON file, which would make it very easy to re-implement a FatHead using that as the source, instead of scraping the site.

[2016-01-05 12:14] runical commented on #168
This is a duplicate of #147.

[2016-01-05 12:31] tagawa opened #174 "Unix Man Pages: Doesn't trigger on some commands"
@flaming-toast

E.g. `man cd` doesn't trigger the IA: https://duckduckgo.com/?q=man+cd
(Report via Twitter: https://twitter.com/manuelmagic/status/684309512552099840)

---

IA Page:  http://duck.co/ia/view/unix_man

[2016-01-05 15:55] runical commented on #147
Is anybody working on this at all?

[2016-01-10 23:18] scottmacpherson opened #176 "Wookieepedia: triggered when searching for definition"
### Reproduce issue

https://duckduckgo.com/?q=vindictive

### Expected result

    <title>vindictive at DuckDuckGo</title>

### Actual result

    <title>vindictive (Star Wars) at DuckDuckGo</title>

Page source contains references to `DDG::Fathead::Wookieepedia`, but apart from the title the rendered page looks like a normal word definition IA.

I can't find any reference to "Star Wars" or "vind

[2016-01-11 21:59] moollaza commented on #176
@scottmacpherson thanks for reporting. The Wookiepedia Fathead is a closed source one so there's no code here related to it.

It looks like there's no Wikipedia articles related to this, which is why Wookipedia is showing, but I'm glad that we're showing the definition as the default tab.

@jdorweiler @mrshu can we prevent Wookiepedia from triggering on dictionary words? should we consider this to

[2016-01-14 15:49] #168 closed

[2016-01-14 15:50] moollaza commented on #147
@runical no one has mentioned any plans to fix this -- if you're interested in updating this Instant Answer, we'd really appreciate it!

[2016-01-14 19:19] runical commented on #147
I'll take a look, but I'm a complete noob when it comes to this kind of thing. Any documentation you can point me to?

[2016-01-14 20:22] runical commented on #147
I'm probably blind, but I can't for the life of me find the GitManual plugin. Where is it hidden?

I did find a file in UNCLEAN (parse_git), but I can't make heads or tails out of that one.

[2016-01-16 22:26] rugk commented on #147
I think https://git-scm.com/docs/... is the best choice as i8t is the official git documentation/website AFAIK.

[2016-01-19 15:39] mbionchi commented on #174
@tagawa that happens because the source for this IA, linuxcommand.org, doesn't have all the man pages.  One possible solution to this would be to use a more complete source, e.g. linux.die.net/man/.  I'd like to fix this later this week.

[2016-01-21 20:38] mbionchi commented on #174
So apparently linux.die.net's robots.txt blocks wget.  There is a way to circumvent that by changing the user agent or not honoring robots.txt at all, but I'm not sure if that's ethically correct.
@moollaza what do you think?

[2016-01-28 14:59] sarahgoodman opened #179 "test"
test @stands4

------
IA Page:  http://duck.co/ia/view/abbreviations #

[2016-01-28 15:30] stands4 commented on #179
Hey @sarahgoodman, anything wrong with our Fathead?

[2016-01-30 03:12] moollaza commented on #179
@stands4 I don't think so, apologies for the noise!

[2016-01-30 03:12] #179 closed

[2016-01-31 11:19] stands4 commented on #179
No worries!

[2016-02-09 06:09] samskeller commented on #147
Hey @runical,  if you're not still working on this I'd like to take a stab at it.

@moollaza I too am having a tough time figuring out where this answer is currently populated from... can you point me in the right direction?

[2016-02-09 15:31] runical commented on #147
@samskeller Go right ahead. I still haven't found out how it is supposed to work.

[2016-02-09 19:57] moollaza commented on #147
@andrey-p @samskeller @runical

apologies -- I didn't realize this was an internal Fathead. You're correct that the source isn't here. We'll have to update internally or open-source this one if the code is still around.

@jdorweiler can we easily update the link? Or open source this one?

[2016-02-11 12:51] jdorweiler commented on #147
@samskeller do you want to make a new parser for https://git-scm.com/docs/?

[2016-02-11 15:41] samskeller commented on #147
@jdorweiler sure! would that just involve creating the "share/fathead/fathead_name/parse.xx" that's mentioned in [this Fathead tutorial](http://docs.duckduckhack.com/resources/fathead-overview.html) or would i just write a whole new Fathead that would replace the internal one?

[2016-02-11 18:59] jdorweiler commented on #147
@samskeller yep you could just replace the current source since it's gone.
You will need a new fetch script to download the data and a parse script to generate the output file.

[2016-02-11 19:28] samskeller commented on #147
@jdorweiler great, I'll get started on this. thanks!

[2016-02-24 05:46] arush0311 commented on #103
Can I take this?

[2016-02-24 15:24] moollaza commented on #103
Yes!

[2016-02-24 23:10] arush0311 commented on #103
Sorry I could not find where the bug is. Can you help me?

[2016-02-27 14:49] bsstoner opened #181 "Abbreviations: shouldn't trigger on ".""
@stands4

<img width="977" alt="screen shot 2016-02-27 at 9 49 08 am" src="https://cloud.githubusercontent.com/assets/126358/13373501/6d1bbb10-dd37-11e5-9115-7daec0d617e5.png">

---

IA Page:  http://duck.co/ia/view/abbreviations

[2016-03-02 17:13] GuiltyDolphin opened #183 "Wikipedia: Omitting text in summary."
The summary looks like this for https://duckduckgo.com/?q=2010+JL88&t=ffab&ia=about

![screenshot from 2016-03-02 17 08 55](https://cloud.githubusercontent.com/assets/8598426/13468277/cd056caa-e099-11e5-8cf9-4d2cae94b32f.png)

But on the Wikipedia page it has:

![screenshot from 2016-03-02 17 09 07](https://cloud.githubusercontent.com/assets/8598426/13468315/edb87726-e099-11e5-94ef-39db3c30feee.pn

[2016-03-04 18:41] GuiltyDolphin commented on #181
@bsstoner Why not? There's no other results and it is definitely an interesting surprise!

[2016-03-04 18:56] bsstoner commented on #181
I agree it is a cool surprise for technical users. I think it's confusing for mainstream users that have no idea what UNIX or DOS are. Most searches for this query are probably a typo and if we're going to show something for this query it should be more broadly applicable.

[2016-03-04 19:11] GuiltyDolphin commented on #181
@bsstoner Humm... Having a look at https://duckduckgo.com/?q=..&t=ffab perhaps we should remove it. If that doesn't trigger it there may be disappointment for excited users trying other queries after having done `.`.

[2016-03-04 19:40] bsstoner commented on #181
Yea, good point, there seems to be an internal bug here, I will open a task to look into it. If you switch to Germany region it returns organic links.

![screen shot 2016-03-04 at 2 38 33 pm](https://cloud.githubusercontent.com/assets/126358/13538149/cfb6bc96-e216-11e5-9795-5fc5ad10e0d6.png)

[2016-03-04 20:17] chdsbd opened #184 "Python: Uses Python 2 docs by default, should use Python 3 instead"
I was thinking that since Python 3.5 is the most current stable version of Python, Python 3.5 docs should be returned instead of the archaic Python 2 docs.

------
IA Page:  http://duck.co/ia/view/python

[2016-03-06 10:28] stands4 commented on #181
Hmm... looks like when you're adding the keyword 'abbreviation' after the
two dots (..) it does return a result back:

https://duckduckgo.com/?q=..+abbreviation&t=ffab&ia=about

Not sure why it's not required for '.' though...

[image: Inline image 1]

On Fri, Mar 4, 2016 at 9:40 PM, Brian Stoner <notifications@github.com>
wrote:

[2016-03-06 10:39] GuiltyDolphin commented on #181
@stands4 Yeah, I'd expect the explicit query to trigger - but I think something weird is just going on with `.`.

[2016-03-07 14:19] splewako opened #185 "Use HTTPS for international Wikipedias"
When other then en.wikipedia.org result is showed as instant answer, HTTP instead of HTTPS is used for article title and more at Wikipedia (ab) links.

[2016-03-07 17:50] moollaza opened #186 "Testing..."
Just a test...

...aand now I'm mentioning @zachthompson

[2016-03-07 17:54] #186 closed

[2016-03-07 19:41] GuiltyDolphin commented on #186
@moollaza Did you do this remotely?

[2016-03-07 21:08] moollaza commented on #186
@GuiltyDolphin did it on GH. Testing if modifying a message with an @mention sends a notification to the user -- and it does :)

[2016-03-07 21:29] GuiltyDolphin commented on #186
@moollaza Ah, alrighty! It also works for issue/PR references as well :smile:

[2016-03-13 08:22] halosbe opened #189 "Wikipedia: does not take into account locale"
Region is set to Belgium (language = Dutch). Wikipedia instant answer always shows me English page. First result in regular search results is the Dutch version I would expect. Screenshot attached.
Thanks.

![schermafbeelding 2016-03-13 om 09 16 01](https://cloud.githubusercontent.com/assets/12977828/13727683/d7bcde88-e8fc-11e5-8246-9ee8af6f0aca.png)

---

IA Page:  http://duck.co/ia/view/wikipedia

[2016-03-14 18:59] GuiltyDolphin opened #190 "Remove Metadata"
We still have lots of file with metadata in! This is handled by https://duck.co now.

Pretty sure we want to be removing the metadata from FatHeads too @moollaza?

[2016-03-23 08:29] samskeller commented on #147
@jdorweiler not sure if you have seen this yet, but just letting you know I submitted a pull request for the new git manual Fathead

[2016-03-24 15:44] #190 closed

[2016-04-05 15:51] #147 closed

[2016-04-05 19:55] ChristianBagley commented on #184
This is tough. Although Python 3.5 is the most current and stable release, Python 2.7 still dominates much of the Python code out there, and 2.7 seems to be version most [searched](http://jmp.sh/dbN34nu) for, compared to 3.4 and 3.5.

[2016-04-07 08:46] mrshu commented on #128
I am not sure if this was intentional or not, but it turns out that I can no longer see ÉLéments on the page (https://duckduckgo.com/?q=Notre+Dame&kad=fr_FR&ia=meanings).

@tagawa would you mind confirming that and then perhaps closing this issue?

Thanks!

[2016-04-08 08:19] tagawa commented on #128
Yes, looks like that term is not used now so all good.

[2016-04-08 08:19] #128 closed

[2016-04-11 09:39] tagawa commented on #185
Thanks for reporting @splewako - looks like something we can address internally.

[2016-04-11 09:53] tagawa commented on #183
Thanks for reporting @GuiltyDolphin. Looks like it's just ignoring the distance units (although it's fine with time units, e.g. seconds).

[2016-04-11 09:57] tagawa commented on #189
Thanks for reporting @halosbe. I actually get English for both the Wikipedia entry and search results (with Belgium-nl selected). Anyway, @mrshu might know if it's possible to get localised Wikipedia displaying.

[2016-04-11 11:17] nobe4 opened #193 "HTTP Status Codes: link to direct http code"
Hi,
Is there a way to add a direct link to the HTTP status on the fathead ?
On Wikipedia, each status has an id on the HTML element, so I think this can be as simple as adding `#200` at the end of the link url.

(also, I would like to contribute, maybe even starting with this, how can I ?)

Thanks,

---

IA Page:  http://duck.co/ia/view/httpstatus
[Maintainer](http://docs.duckduckhack.com/maintain

[2016-04-11 15:04] mrshu commented on #185
Thanks @splewako and @tagawa, I'll take a look.

[2016-04-11 15:14] mrshu commented on #183
Thanks @GuiltyDolphin and @tagawa, I'll take a look but from the first glance this seems to be related to strange Wikipedia processing constructs (a template called `convert` which converts `{{convert|0.00257|AU|km mi|abbr=on|lk=on}}` to `0.00257 AU (384,000 km; 239,000 mi)`) so I am not sure if I can materially fix anything here.

Will keep you (and this issue) posted for sure.

[2016-04-11 16:04] mrshu commented on #189
Thanks @halosbe and @tagawa.

It turns out that this is a localized issue with just the example @halosbe pointed out. I can trigger Dutch Wikipedia for other queries, such as [Alan Turing](https://duckduckgo.com/?q=alan+turing&kad=nl_BE&ia=about) and also the (I suppose) Dutch name of the flower in your query [Knoopkruid](https://duckduckgo.com/?q=Knoopkruid&kad=nl_BE&ia=about).

The fact that I c

[2016-04-11 16:22] gsquire commented on #193
Is there an existing fathead for HTTP status codes? I also want to add this to DDG as an instant answer. I tried looking through old issues but couldn't find any indication of a PR or other links. I would be happy to help write it too.

[2016-04-11 17:20] nobe4 commented on #193
Yup: https://duckduckgo.com/?q=http+code+406&ia=about

As you can see on the screenshot, the **406** does not link back to the specific 406 element in the wikipedia page.
<img width="567" alt="screen shot 2016-04-11 at 18 19 08" src="https://cloud.githubusercontent.com/assets/2452791/14435889/eac33bd6-0011-11e6-9b25-960918ea5506.png">

[2016-04-13 16:42] jdorweiler commented on #184
We could have both.  Someone would need to create a Python 3 docs fathead though.

[2016-04-13 19:36] jdorweiler commented on #142
I think this is it.  Unfortunatly, I don't think it's working. https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/UNCLEAN/parse_mysqlfunction.py

[2016-04-13 19:42] jdorweiler commented on #143
Looks like it's been fixed.

[2016-04-13 19:42] #143 closed

[2016-04-16 13:44] Mylainos opened #194 "Cpp Reference Docs:"
I’d like to maintain this!

------
IA Page:  http://duck.co/ia/view/cppreference_doc

[2016-04-18 19:46] jdorweiler opened #195 "test issue"

[2016-04-18 19:46] #195 closed

[2016-04-18 20:41] jdorweiler opened #196 "test issue"
https://duck.co/ia/view/latex

[2016-04-18 20:47] jdorweiler opened #197 "test"
https://duck.co/ia/view/latex

[2016-04-18 20:47] #197 closed

[2016-04-19 14:31] #196 closed

[2016-04-19 14:34] jdorweiler commented on #194
@Mylainos thanks!
http://docs.duckduckhack.com/maintaining/guidelines.html

[2016-04-19 14:34] #194 closed

[2016-04-19 14:48] jdorweiler commented on #193
@nobe4 I'm not sure if the code to generate this data still works but this is where it is https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/UNCLEAN/parse_httpcode.py

You could start with that or do your own fathead from scratch if you want.

[2016-04-19 14:50] jdorweiler commented on #193
Here is the section on fatheads from our docs. http://docs.duckduckhack.com/resources/fathead-overview.html

Let me know if you have any questions.

[2016-04-19 14:54] nobe4 commented on #193
@jdorweiler: thanks, I'll have a look tonight. 👍

[2016-04-19 20:20] jdorweiler commented on #176
Seems like it has been fixed?

[2016-04-19 20:20] #176 closed

[2016-04-19 20:34] chdsbd commented on #184
Why was this closed? This is still an unresolved issue.

[2016-04-19 20:43] jdorweiler commented on #184
Can you suggest a source for Python 3 docs?

[2016-04-19 20:49] chdsbd commented on #184
I can't seem to find the fathead for Python, but if you use the Python docs website, changing from Python 2 to Python 3 docs is a matter of changing a number in the url.
https://docs.python.org/2/library/functions.html to https://docs.python.org/3/library/functions.html

I figure that it would likely be pretty easy to change the fathead, wherever that is stored, so that it would return the Python

[2016-04-19 20:50] jdorweiler commented on #184
@chdsbd thanks, I was just thinking that

The old parser for the Python 2 docs is here
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/UNCLEAN/parse_python.py

It looks like it may have even been set up to parse both Python 2 and Python 3 docs.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/UNCLEAN/parse_python.py

[2016-04-19 20:53] jdorweiler commented on #184
It might be easier to just write a new parser from scratch though.

[2016-04-21 13:21] #173 closed

[2016-04-21 13:35] #166 closed

[2016-04-21 13:36] #72 closed

[2016-04-21 15:09] jdorweiler opened #198 "Ben10: test issue - ignore"
------
IA Page:  http://duck.co/ia/view/ben10
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-04-21 15:10] #198 closed

[2016-04-27 18:48] mrshu commented on #198
Too many ducks in here =)

[2016-04-27 18:53] jdorweiler commented on #198
Sorry, done testing now :)

[2016-04-28 08:04] tagawa opened #201 "Java: Doesn't trigger on some terms"
For example, `java threadlocal` doesn't trigger the instant answer (but `java accessmode` does).

Reported in the [Java subreddit](https://www.reddit.com/r/java/comments/4gqudt/improving_duckduckgos_javarelated_searches/d2k1awc).

------
IA Page:  http://duck.co/ia/view/java
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html):

[2016-04-29 13:29] rasikapohankar commented on #103
Hey @moollaza! Is this done? If not, can I try this?

[2016-05-01 20:51] CristianoNicolaFerreira commented on #164
Thank you @moollaza!
Yes, I'm interested in contributing

[2016-05-05 08:38] amouat commented on #174
What about http://manpages.ubuntu.com/ ?

I was trying to find man capabilities, which is strangely difficult and several resources seem out of date.

[2016-05-06 07:35] cquike opened #203 "C++ Reference Docs:"
I would like  the following query to be part of IA for C++:

cpp begin valarray

---

IA Page:  http://duck.co/ia/view/cppreference_doc
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mylainos

[2016-05-06 07:37] cquike opened #204 "New IA: POSIX Reference Docs"
It would be great of DDG would give IA for POSIX interfaces.
 Querying something like "posix fork" could get some IA from the opengroup (for this call it would be http://pubs.opengroup.org/onlinepubs/000095399/functions/fork.html).

 Thank you!

[2016-05-08 12:02] leftshift opened #205 "Wikipedia: Omits part of chemical formulas in paranthesis"
A good example for this is a search for Acetone:
![Screenshot](https://cloud.githubusercontent.com/assets/1733162/15097698/7467dea6-1524-11e6-8af2-29dec2eafa00.png)
The ![bildschirmfoto vom 2016-05-08 13 58 01](https://cloud.githubusercontent.com/assets/1733162/15097715/f0de41c8-1524-11e6-934b-30fd2a85b48f.png) from Wikipedia becomes "2CO" which clearly isn't correct and completely changes the mea

[2016-05-09 21:14] scribblemaniac opened #206 "Wikipedia: Inconsistent triggering for regional indicator symbol pairs"
When searching for unicode [regional indicator pairs](https://en.wikipedia.org/wiki/Regional_Indicator_Symbol), sometimes the corresponding wikipedia page comes up and sometimes it doesn't. For example, the Flag of Spain wikipedia page shows up when you [search for 🇪🇸](https://duckduckgo.com/?q=🇪🇸), but the Flag of Canada page will not show up when you [search for 🇨🇦](https://duckduckgo.com/?q=%F0

[2016-05-09 21:44] mrshu commented on #206
@scribblemaniac interesting issue.

For me personally its peculiarity is amplified by the fact that GitHub also seems to replace 🇪🇸 with the flag of Spain but ignores 🇨🇦.

Thanks for reporting it, will look into this a bit more closely and get back to you.

[2016-05-10 18:23] harisphnx opened #207 "LinuxError:"
The linked page (http://sysinf0.klabs.be/usr/include/asm-generic/errno-base.h) is unavailable.

---

IA Page:  http://duck.co/ia/view/linux_error
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-05-10 21:28] Mylainos commented on #203
Hi @cquike!
Sorry for the delay, I will look at this tomorrow.

[2016-05-10 21:34] Mylainos commented on #204
This is not related to the cpp reference IA. Maybe someone in @duckduckgo/duckduckhack-contributors would like to create a new IA.

[2016-05-10 21:44] zachthompson commented on #204
Like the suggestion @cquike. Thanks for checking it out @Mylainos.

[2016-05-11 06:48] kimthomas109 commented on #204
I'm a first-time contributor, I would love to help out with this IA!

[2016-05-11 06:53] hchienjo commented on #204
I am interested in helping out in making this.

[2016-05-11 19:35] jdorweiler commented on #204
Here's the relevant part of our docs
http://docs.duckduckhack.com/resources/fathead-overview.html

[2016-05-14 18:21] p12tic opened #208 "C++ reference: Missing parentheses in code snippets on some queries"
The code snippets returned by e.g. https://duckduckgo.com/?q=std%3A%3Avector%3A%3Abegin lack parentheses.
Current output:
`iterator begin;`
`const_iterator begin const;`

Expected output:
`iterator begin();`
`const_iterator begin() const;`

According to https://github.com/duckduckgo/zeroclickinfo-fathead/pull/177#issuecomment-187383835 the issue is not related with the cppreference plugin itself.

[2016-05-16 21:36] Mylainos commented on #203
I've found why it don't work. In the archive file downloaded from http://upload.cppreference.com the file index-functions-cpp.xml have this:
[code]
But should have something like this:
[code]
I've contacted them.

[2016-05-17 11:32] tagawa commented on #203
Thanks for doing that @Mylainos. Hopefully they'll update the file.

[2016-05-23 16:06] alohaas commented on #203
Hey @Mylainos any updates from cppreference?

[2016-05-23 16:41] stevenmg opened #211 "IOS: No content for IA query"
When searching for the stringByAppendingPathComponent function the iOS IA correctly appears, but it is empty.

https://duckduckgo.com/?q=stringByAppendingPathComponent&t=ffcm&ia=about

![ios](https://cloud.githubusercontent.com/assets/3642158/15477643/b21ba73a-20e3-11e6-8133-23db774bfa9c.PNG)

------
IA Page:  http://duck.co/ia/view/ios
[Maintainer](http://docs.duckduckhack.com/maintaining/guideli

[2016-05-23 18:23] edgesince84 commented on #211
Thanks for finding this, Steve.  I'll try to find someone on the staff to address this.

[2016-05-26 06:46] McIntireEvan opened #213 "WowWiki: Use WowPedia as a source instead"
Among the WoW community, WowPedia (http://wow.gamepedia.com/) is generally considered the more up-to-date, more accurate source, and Blizzard has officially linked to it as a community site.

---

IA Page:  http://duck.co/ia/view/wow_wiki
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-05-31 16:08] edgesince84 commented on #211
This seems to be a really old bug, so we are working on a fix to go out in our next release in a week or so.  I'll update here when we do.  Thanks again, Steve!

[2016-06-03 09:44] tagawa opened #214 "HarryPotter: Triggered by general medical term"
This is triggered by the query "ringworm" - a medical term. Either the Wikipedia Instant Answer should be shown or none at all - just search results.

[Reported on Twitter](https://twitter.com/janeclocker/status/738655353546498048)

---

IA Page:  http://duck.co/ia/view/harry_potter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-06-03 10:18] tagawa opened #215 "Wikipedia: Zoom Comics tile redirects to Reverse-Flash"
**To reproduce:**
1. Search for "zoom" and show the "Meanings" tab: https://duckduckgo.com/?q=zoom&ia=meanings
2. Click on the "Zoom - Comics" tile (probably the first one)

**What should happen:**
A "Zoom comics" result page should open.

**What actually happens:**
The search result page for "Reverse-Flash" opens: https://duckduckgo.com/Reverse-Flash

[Reported on Twitter](https://twitter.com/Not

[2016-06-04 03:56] jonk1993 commented on #201
It seems there are a bunch of terms that do not trigger the IA, `java ArrayList`, `java PriorityQueue`, `java HashMap` to name a few obvious ones. I'd like to help with this but what do you think is a good scope for addressing this issue? In addition to triggers, I think it'd also be handy to include some sample methods in the IA box under the description. What are your thoughts @tagawa?

[2016-06-06 12:35] moollaza commented on #213
@McIntireEvan thanks for the suggestion!

We actually previously tried building a Fathead from a Gamepedia subdomain and were quickly blocked. They have a ton of great content that we'd like to share with our users though so I think it would be good to reach out to them and ask if they can help us out here. Ideally we can use their data for several Fatheads!

As a WowPedia community member, would

[2016-06-08 12:53] tagawa commented on #201
Thanks for the offer @jonk1993. I'm not really familiar with our "Fathead" type of Instant Answers so I'll have to ask my colleague.
@moollaza - what's the easiest way to add more triggers for this Fathead? The code is here by the way: https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/java

[2016-06-13 22:54] moollaza commented on #201
@tagawa @jonk1993 if the source contains results for those, then it may be as simple as us re-running the parsing script to regenerate the output.txt file.

However if the current parser isn't picking those up, then the Fathead code needs updating.

If the source doesn't have that data available, then a new source needs to be chosen and a new Fathead written to build the desired output.txt

[2016-06-14 06:38] jonk1993 commented on #201
Ok, I'll do some investigation on the Fathead source/parsing.

[2016-06-14 16:42] sahildua2305 commented on #103
Anyone of you working on this? @rasikapohankar @arush0311

[2016-06-14 18:35] sahildua2305 commented on #133
Looks like it's not there anymore, @moollaza

[2016-06-14 20:13] GuiltyDolphin commented on #133
@sahildua2305 Yeah - it got moved https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/file_formats/parse.go! I wonder if any docs are outdated...

[2016-06-14 22:11] moollaza commented on #103
@sahildua2305 you should be good to work on this 👍

[2016-06-14 22:31] sahildua2305 commented on #103
@moollaza Can you please help me in finding the code for this one? Unable to locate it in `/lib/fathead/` :disappointed:

[2016-06-15 00:08] moollaza commented on #103
@sahildua2305 it looks like this IA may actually be internal, meaning it's probably a little outdated.

@jdorweiler can you confirm if the PHP Fathead still exists internally?

@sahildua2305 would you be interested in created a new open-source, PHP Fathead?

[2016-06-15 00:21] sahildua2305 commented on #103
@moollaza yes! I'll be interested in creating a new PHP fathead once it's confirmed that the internal one doesn't exist.

[2016-06-15 16:01] moollaza commented on #103
@sahildua2305 seeing as we can't find it in the repo it almost certainly exists internally, but I doubt we have the original scripts used. It's likely just the data so an updated/improved open source PHP Instant Answer would only be an improvement. Ideally all the Programming Language Fatheads should be open source!

[2016-06-15 16:08] sahildua2305 commented on #103
@moollaza Ok. So I will start working on it.

Yes I could see Fatheads for almost all major languages except for PHP.

Also, as I can see for other fatheads, we can use any of the languages (Go, JS or Python) for downloading and parsing?

[2016-06-15 16:12] jdorweiler commented on #103
The old fathead is opensource but doesn't work anymore. I think this is the one https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/UNCLEAN/parse_phpfunction.py

I'd just start over from scratch though.

[2016-06-15 16:18] sahildua2305 commented on #103
@jdorweiler I think I will be good to take this up. What do you think?
cc @moollaza

[2016-06-15 16:20] jdorweiler commented on #103
@sahildua2305 sounds good. Ping me on a pull request if you need any help.

[2016-06-15 16:21] sahildua2305 commented on #103
Sure! @jdorweiler

[2016-06-16 20:36] sahildua2305 opened #218 "NodejsRef: Data URL gives 404"
The data URL mentioned here in the `fetch.sh` gives `404`.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/nodejs_ref/fetch.sh#L4

Mentioned Data URL - http://nodejs.org/api/all.json

[2016-06-16 21:41] sahildua2305 opened #219 "RedisCommands: Parsing code needs update"
HTML code fetched is of the following format:

[code]

And parsing code finds all the elements with class name `command` and then searches for `<a href=""></a>` in all those elements (which of course isn't present). And hence parsing returns empty data and hence empty `output.txt`.

Probably there was some recent update in website's HTML.

[2016-06-17 01:36] edgesince84 commented on #218
thanks, Sahil

[2016-06-17 01:36] edgesince84 commented on #219
....aaaaaand thank you again!

[2016-06-17 07:51] tagawa commented on #211
This seems to be fixed now so closing. Thanks for reporting @stevenmg!

[2016-06-17 07:51] #211 closed

[2016-06-17 11:27] stevenmg commented on #211
Awesome! Thanks guys.

[2016-06-17 18:00] NaveenKarippai opened #220 "GitHub: results does not provide description about the software"
The sample query [zeroclickinfo-goodies](https://duckduckgo.com/?q=zeroclickinfo-goodies&ia=answer) does NOT provide description of the software on the result. Also, queries like [git-scripts](https://duckduckgo.com/?q=git-scripts&ia=web) doesn't trigger the goodie.

---

IA Page:  http://duck.co/ia/view/git_hub
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-06-18 07:54] sahildua2305 commented on #219
@edgesince84 Can you please confirm this issue so that I can start working on fixing this?

[2016-06-20 18:11] moollaza commented on #219
@sahildua2305 it looks like you've already confirmed it?

We don't continuously run the Fathead scripts so it's not currently an issue for us, but if anyone notices the Fathead is out of date, the next time we run the script we're clearly going to have issues. Please go ahead an fix!

[2016-06-21 18:24] sekhavati opened #223 "IOS: fires on keyword "recipient""
Today I was using DDG and searched for ["recipient"](https://duckduckgo.com/?q=recipient) and was surprised to see this IA pop up. Feels like its relevancy checking could be better. Also the title of the tab ("About") seems rather generic.

---

IA Page:  http://duck.co/ia/view/ios
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-06-22 09:37] ncaunt opened #224 "Wikipedia: some extracts have numerical information stripped"
Some extracts from Wikipedia articles have numerical (distance) information stripped, and it doesn't look intentional.

One such example I've seen is "Autoroutes of France", as per the screenshots below. The text "11,882 km (7,383 mi)" is stripped.

Original:
![image](https://cloud.githubusercontent.com/assets/4837176/16261711/7a9163e8-3864-11e6-97a9-56f1b5bf6c02.png)
DuckDuckGo:
![image](https://

[2016-06-22 14:41] moollaza commented on #224
@mrshu can you please investigate this?

[2016-06-22 22:08] moollaza opened #226 "New Instant Answer: MDN CSS Fathead"
We previously had a CSS Fathead, but it was internal, and eventually become very outdated.

We need a new CSS Fathead and MDN is an excellent data source. It has a [CSS Reference](https://developer.mozilla.org/en-US/docs/Web/CSS/Reference) we can easily crawl to build a Fathead.

Improving our CSS search experience is also directly in-line with our [Programming Mission](https://duck.co/blog/post/2

[2016-06-22 22:23] pjhampton commented on #226
If there is no uptake on this I can take it forward... put anybody else more keen or more time please feel free 😄

[2016-06-22 22:25] hchienjo commented on #226
I am interested.

[2016-06-22 23:06] moollaza commented on #226
@pjhampton, @hchienjo thanks for the offering to help!

@hchienjo do you need help getting started?

[2016-06-22 23:07] hchienjo commented on #226
Yes I do.

[2016-06-22 23:13] hchienjo commented on #226
If you can point out a similar instant answer I would be pretty well off.

[2016-06-22 23:31] gaulrobe commented on #226
@hchienjo the document here is really helpful! http://docs.duckduckhack.com/resources/fathead-overview.html

As @moollaza pointed out a good one to start looking through is https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/mdnjs

Let us know if you have any additional questions! :smile:

[2016-06-22 23:33] hchienjo commented on #226
Great. Thanks. Will take a look first thing in the morning. It's 0233 hours right now on my side.

[2016-06-23 13:04] hchienjo commented on #226
Am I free to use such modules as Mojo::* especially Mojo::DOM and Mojo::UserAgent during fetching and parsing of html as I am more comfortable with it. Will such modules pose a problem during further deployment into production? @moollaza @pjhampton  @gaulrobe

[2016-06-23 13:13] gaulrobe commented on #226
@hchienjo other Fatheads (such as https://github.com/duckduckgo/zeroclickinfo-fathead/blob/85911ef28b2b7c00eeedb2e2219910a7f7e90a62/lib/fathead/duckduckhack/parseDocs.pl) are using `Mojo::DOM` so I don't think that'll be an issue... unless there is an issue that I am not aware of. :)

[2016-06-23 13:15] hchienjo commented on #226
Wonderful. Thanks.

[2016-06-24 10:47] hchienjo commented on #226
I am designing the extractor and I need a little help. From here [MDN CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/Reference), do I extract only the _KEYWORDS INDEX_ only or I even include data from _SELECTORS_? Thanks.

[2016-06-24 11:52] rosorrentino opened #229 "PHP: Instead of co.de why results are not from PHP manual"
I am not sure why results are going to co.de instead of http://php.net/manual (that is the official and therefore preferable)

------
IA Page:  http://duck.co/ia/view/php
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-06-24 12:23] gaulrobe commented on #226
@hchienjo I think there is a lot of value having both of those in this IA!

[2016-06-24 13:19] sahildua2305 commented on #229
@rosorrentino The current results are from an internal fathead that's outdated.

The new one is being developed using http://php.net/manual here - #221

[2016-06-24 17:41] edgesince84 commented on #229
thanks for answering that one @sahildua2305  - @rosorrentino thanks for the suggestion, source recommendations are always welcome!

[2016-06-24 17:42] #229 closed

[2016-06-24 20:51] NaveenKarippai opened #230 "GitManual: show short description of subcommands"
Could we (also) show short description of **git subcommands** on IA results? This could be more useful as a quick reference.

---

IA Page:  http://duck.co/ia/view/git_manual
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @samskeller

[2016-06-25 08:29] 122131 commented on #213
@moollaza What about making a Spice based on Gamepedia API (MediaWiki API)? I previously tried it but I gave up because the pages were to much complex for me. 😕

[2016-06-25 18:49] hchienjo commented on #226
I need a little clarification, for instance, the [:article](https://developer.mozilla.org/en-US/docs/Web/CSS/:active] element page, do I extract the Summary as well as the Example code snippets (the CSS and the HTML inclusive)?

[2016-06-25 18:49] hchienjo commented on #226
I need a little clarification, for instance, the [:article](https://developer.mozilla.org/en-US/docs/Web/CSS/:active] element page, do I extract the Summary as well as the Example code snippets (the CSS and the HTML inclusive)?

[2016-06-25 22:02] hchienjo commented on #226
Meanwhile, I have reached [here](https://github.com/hchienjo/zeroclickinfo-fathead/tree/mdn_css_devel/lib/fathead/mdn_css) in the actual coding.
@moollaza  @pjhampton  @gaulrobe

[2016-06-25 22:23] sahildua2305 commented on #226
@hchienjo Since you have already started working on it, I think you should submit a PR so that you can ask for help directly there without anyone having to go to your repo:branch for feedback :)

[2016-06-25 22:29] hchienjo commented on #226
@sahildua2305  [Done](https://github.com/duckduckgo/zeroclickinfo-fathead/pull/231)
Looking forward to guidance from all you guys.

[2016-06-27 16:05] moollaza commented on #213
@122131Fatheads are usually the ideal solution for Wiki content. A Spice would require a trigger word (or multiple) whereas a Fathead can trigger on the specific terms we index. Fatheads are also a little faster because they don't need to wait for an API response.

Depending on the API available a Spice could work, if there's a certain subset of queries that contain common trigger words.

[2016-06-27 16:58] moollaza commented on #218
@sahildua2305 looks like it requires `https` -- mind updating?

[2016-06-27 17:05] sahildua2305 commented on #218
Done at #232

[2016-06-27 17:45] #218 closed

[2016-06-27 20:58] moollaza commented on #226
@hchienjo this is looking awesome! 💯

Thanks a lot for writing this in Perl and submitting a PR so quickly!

@jdorweiler will deploy this to beta for me and then we can start testing it and give you some feedback 👍

[2016-06-27 21:00] hchienjo commented on #226
@moollaza it is still incomplete. Working on the parsing.

[2016-06-27 21:00] hchienjo commented on #226
Submitted PR so that in case I run into pronlems I can be guided along.

[2016-06-28 19:26] jdorweiler opened #233 "Python: Create New NumPy Fathead"
# Create a new NumPy Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scra

[2016-06-28 19:44] jdorweiler opened #234 "python tutorials"
Potential fathead source for python tutorials
http://interactivepython.org/runestone/static/pythonds/index.html

[2016-06-28 20:02] jdorweiler opened #235 "Python: Create new Matplotlib Fathead"
# Create a new Matplotlib Fathead Instant Answer
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that

[2016-06-29 00:18] gaulrobe commented on #234
@jdorweiler Another one that could be used is https://docs.python.org/3/tutorial/

That makes me wonder about differentiating between python 2.7 and 3+ for tutorial support. We should probably support both. (https://docs.python.org/2.7/tutorial/)

[2016-06-29 00:32] gaulrobe opened #236 "Create New Python unit testing Fathead"
Looks like the current python fathead doesn't support unittest-y queries. https://duckduckgo.com/?q=python+assertIsNotNone&ia=web

We could leverage https://docs.python.org/3.4/library/unittest.html for this.

[2016-06-29 00:41] gaulrobe opened #237 "Create New Beautiful Soup Fathead"
https://www.crummy.com/software/BeautifulSoup/bs4/doc/

This could also be a feedback loop back for Fathead developers (that are parsing using this library) since they could look up Beautiful Soup syntax :smile:

[2016-06-29 17:19] NaveenKarippai opened #238 "Emoticon: Add more emoticons"
could we add more emoticons to the list. For example, checkout [this](http://www.lovethispic.com/image/152303/facebook-emoticons-cheat-sheet).

---

IA Page:  http://duck.co/ia/view/emoticon
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-06-29 23:02] moollaza commented on #238
@NaveenKarippai would you like to build a new Fathead for emoticons? The current is closed-sourced but there's no real need. It should scrape the Emoticons page in Wikipedia that you've linked 👍

[2016-06-30 07:43] NaveenKarippai commented on #238
@moollaza yes, I'd love to!

[2016-06-30 14:18] edgesince84 commented on #236
Thanks, @gaulrobe - keep the Python improvements coming!

[2016-07-05 19:14] #226 closed

[2016-07-05 20:18] MariagraziaAlastra opened #239 "MDN JavaScript: make it a Longtail"
Currently, [MDN JavaScript](https://duck.co/ia/view/mdnjs) doesn't trigger nearly enough; it could cover a lot more JS reference queries, but the strict query - article title matching prevents it from doing that.
##### To Do
- Converting the [output file](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdnjs/output.txt) either to JSON or XML.

From there we'll be able t

[2016-07-09 10:38] GuiltyDolphin opened #241 "Fake Ia Test: TEST PR"
This is in the ***wrong*** format.

Hello https://duck.co/ia/view/fake_ia_test, how are you doing?

See duckduckgo/community-platform#1397 for more information.

------
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-07-09 10:39] GuiltyDolphin opened #242 "Fake Ia Test: TEST PR"
This is in the ***correct*** format.

See duckduckgo/community-platform#1397 for more information.

------
IA Page: https://duck.co/ia/view/fake_ia_test
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @GuiltyDolphin

[2016-07-12 07:55] bfmags commented on #239
Started work around converting the output file to XML (JSON will be the same).
Creating a bash script to parse the file (WIP https://github.com/bfmags/output2xml), considering switching to  python since there's already some parser code

[2016-07-12 09:48] #241 closed

[2016-07-12 09:48] #242 closed

[2016-07-13 16:52] moollaza opened #244 "Create New SASS Fathead"
### Objective

Create a Fathead Instant Answer for SASS queries by scraping the SASS documentation
### Background

Ongoing discussion in https://forum.duckduckhack.com/t/better-results-for-sass-searches/186/3 suggests that we should have **SASS Fathead**. It looks like a good starting place would be to document the various SASS Functions. There's likely lots more that can be included to make this

[2016-07-13 16:54] moollaza commented on #244
@duckduckgo/duckduckhack-contributors would anyone be interested in making this SASS Fathead? It will require some knowledge of the SASS language and should ideally be written in Perl, though other languages (Python, Ruby, JS) are acceptable!

[2016-07-13 18:25] moollaza opened #245 "Improve CanIUse Fathead"
### Objective

Improve the display of the results, and triggering for the CanIUse Fathead

### Background

CanIUse currently addresses most of the CSS queries (1.7%) but the Instant Answer also addressed various HTML and JavaScript queries.

Visually, it's not the most appealing Instant Answer, and it also has room for triggering improvements.

### ToDo

1. Queries containing "compatibility" don't

[2016-07-13 18:28] moollaza commented on #245
@duckduckgo/duckduckhack-contributors would anyone be interested in improving the CanIUse Fathead?

Seeing as the current [parser](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/caniuse/parse.py) is written in Python, it will require Python skills to improve it. If necessary, it could be re-written in another language, as long as the end result is a better Instant Answ

[2016-07-13 19:46] edgesince84 commented on #205
thanks for bringing this to our attention @leftshift.

This is something we're going to address internally, so hopefully it'll be fixed soon.

In the meantime, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-related searches. There are a lot of important tasks up for grabs that we'd like your help with, so feel free to and [jum

[2016-07-13 19:57] edgesince84 commented on #203
hey @Mylainos I wanted to see if you still planned on finishing this up - we really appreciate your contribution and want to see this go live. We're closing up old PRs and issues in the next week, so let me know if I should leave this open for you!

If you'd rather work on something new, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving prog

[2016-07-13 23:09] bfmags commented on #239
* got first xml output from output.txt
https://github.com/bfmags/zeroclickinfo-longtail/blob/master/lib/longtail/mdnjs/output.xml
* based on the existing code to generate the xml (some cleanup/rewrite still to be done) https://github.com/bfmags/zeroclickinfo-longtail/blob/master/lib/longtail/mdnjs/toxml.py
* the xml in the docs page http://docs.duckduckhack.com/resources/longtail-overview.html  do

[2016-07-14 12:50] moollaza commented on #245
@samskeller Awesome! Thanks for volunteering 👍

Are you familiar with the CanIUse website and how it's used? Have you used the CanIUse Fathead much?

If not, I'd suggest you familiarize yourself with it. Happy to discuss things further on the forum, or even on Slack 😃

[2016-07-14 12:55] moollaza commented on #244
@VeerpalBrar awesome! Thanks a lot for volunteering 👍

I take it you're familiar wit SASS? If you have any other ideas on ways we can improve searches for SASS, or other content this Fathead should be responsible for, please let us know on the forum and add in features here as you see fit.

[2016-07-14 12:56] moollaza commented on #244
As well, please be sure to signup on the [Forum](https://forum.duckduckhack.com) and join in on the [CSS discussions](https://forum.duckduckhack.com/c/programming/css)!

[2016-07-14 12:57] moollaza commented on #245
@samskeller As well, please be sure to signup on the [Forum](https://forum.duckduckhack.com) and join in on the [CSS discussions](https://forum.duckduckhack.com/c/programming/css)!

[2016-07-14 13:37] MariagraziaAlastra commented on #239
Yeah, missing an `</add>` at the end...

Thanks @bfmags, you're doing great!

[2016-07-14 17:28] jdorweiler opened #248 "Improve Python Fathead"
**Objective**

We could use some help updating the Python fathead parser to get us more coverage on Python classes.

**Background**

We have coverage for things like [python unittest.main](https://duckduckgo.com/?q=python+unittest.main&ia=about)

but nothing for [python unittest.stop](https://duckduckgo.com/?q=python+unittest.stop)

We could also use a general article for each module to answer que

[2016-07-14 17:41] jdorweiler commented on #248
@duckduckgo/duckduckhack-contributors is anyone interested in working on the Python fathead?

[2016-07-14 18:51] gautamkrishnar opened #249 "multiple "o" s in 'Procedural programming languages' query"
Querying about _Procedural programming languages_ displays multiple "o"'s:
![screenshot 79](https://cloud.githubusercontent.com/assets/8397274/16851628/05028646-4a22-11e6-8c77-e8423faaeaea.png)

[2016-07-15 08:08] gautamkrishnar opened #251 "PyPi: Not triggering for some queries"
Not triggering while searching for query:
* [python kivy](https://duckduckgo.com/?q=python+kivy)
* [python socli](https://duckduckgo.com/?q=python+socli)

Need to improve triggering... I think the Github ia is triggering sometimes instead of py_pi ia

------
IA Page:  http://duck.co/ia/view/py_pi
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ezgraphs

[2016-07-15 17:12] gautamkrishnar commented on #251
Closing this issue.. lets wait for the beta ia to go live:
https://forum.duckduckhack.com/t/py-pi-fathead-ux-improvements/194/5?u=gautamkrishnar

[2016-07-15 17:12] #251 closed

[2016-07-15 17:17] jdorweiler commented on #249
Nice find.

@andrey-p should be able to help

[2016-07-15 19:31] samskeller commented on #245
@moollaza thanks! I haven't used this Fathead or the website much but I'll take a look and post on the forum if I have questions

[2016-07-18 15:34] andrey-p commented on #249
Thanks for reporting this, @gautamkrishnar! I've created an internal task for it.

[2016-07-19 00:46] ejnel2 opened #254 "Abbreviations:"
------
IA Page:  http://duck.co/ia/view/abbreviations
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @stands4

[2016-07-19 00:47] ejnel2 opened #255 "Abbreviations:"
------
IA Page:  http://duck.co/ia/view/abbreviations
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @stands4

[2016-07-19 14:05] #255 closed

[2016-07-19 14:06] moollaza commented on #254
@ejnel2 is there a bug you'd like to report related to this Instant Answer?

[2016-07-19 14:06] #254 closed

[2016-07-19 14:28] jdorweiler commented on #248
No takers so I'll pick this one up.

[2016-07-19 18:55] MariagraziaAlastra opened #256 "MDN JavaScript: use Wget to fetch data"
Currently MDN JS uses [a custom method](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/mdnjs/fetch.py) to fetch the data, and it's taking too long to execute (wasn't finished after about 40 minutes on my machine).

Wget should be faster and easier, let's just use that and fetch:
- https://developer.mozilla.org/en-US/docs/Web/JavaScript
- https://developer.mozilla.org/e

[2016-07-19 19:01] MariagraziaAlastra opened #257 "MDN JavaScript: update parser to use Wget results"
Depends on #256
After updating MDN JS to use Wget, we'll probably need to update the parser as well, to maintain the functionality.

Read the docs to learn more about [Fatheads](http://docs.duckduckhack.com/resources/fathead-overview.html).

Please see the forum topic [Improve MDN JavaScript Fathead](https://forum.duckduckhack.com/t/improve-mdn-javascript-fathead/155) for more details.
Thanks!

--

[2016-07-20 21:01] moollaza opened #263 "Fathead Repo should have Util libraries for Python, Perl, Ruby, etc"
All Fatheads have their own parsers and many of these scripts define similar functions used to create articles, redirects, code blocks, define an image, etc.

To make writing Fatheads easier, I think we should have a Util library for each of the popular languages used (Perl, Python, Ruby, Node, etc.) which implement a common set of utility functions.

[2016-07-21 01:19] gaulrobe commented on #263
How many thumbs up's can I give this? :+1:

[2016-07-21 06:48] jrasanen commented on #263
I was wondering the exact same thing while creating my first fathead. Should we start thinking of common operations and drafting a spec for the util library?

[2016-07-21 14:55] jrasanen opened #264 "Automated tests against output.txt for PRs?"
Hi,

would it be possible to write some sort of unit-tests against the output.txt tsv-file and automate Travis (or equivalent) to do sanity check for each commit in PRs?

Doing automated testing would improve the quality of results and lessen the burden for maintainers/code reviewers.

I am not yet that familiar with what the actual tests could be, but couple ones I could think of:
- Sanity checks

[2016-07-21 15:07] jdorweiler commented on #264
@moollaza might be useful to add this into duckpan?

[2016-07-21 16:06] jrasanen opened #265 "Python: Smarter redirects to cover more possible search results"
**Problem**

Exact phrase needed to trigger the result, even if it's possible to have a redirect to content within current namespace.

These searches will work:
[code]

These will not work:
[code]

**Solution**

Create a script `redirect.py`, that reads in the output.txt and generates new output.txt with redirects.

More info about this issue on [the forum written by @jdorweiler](https://forum.duc

[2016-07-21 21:14] sahildua2305 commented on #264
@jrasanen This is a great idea, indeed! :smile:

[2016-07-22 17:21] jdorweiler commented on #263
Great idea! When I started on the Perl docs parser I made a few separate util functions.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/6f360519fd58aae371136717127a73a12fce7d03/lib/fathead/perl_doc/Parsers/Util.pm

[2016-07-22 17:23] jdorweiler commented on #263
I don't see any reason not to do this so lets go for it. I'd just put them in a new dir `/util/<language>/`.

[2016-07-22 18:27] GuiltyDolphin commented on #263
@moollaza My only concern is keeping all the util files in-sync; perhaps we can avoid this issue by perhaps 'assigning' each file to a few community members who can write good, idiomatic code in that language and keep their respective language file up-to-date?

[2016-07-25 23:12] bfmags commented on #256
Like original python script, it was taking 30 minutes to download 4011 pages (from the 15294 urls existing in sitemap.xml).

A solution would be using xargs for parallel download but it's tricky since it has custom output filename. This version using unattended background downloads, and it was pretty fast, but the processor usage is huge. WIP

https://github.com/bfmags/zeroclickinfo-fathead/blob/b

[2016-07-25 23:17] bfmags commented on #257
_started working on this one_

[2016-07-26 01:41] ericedens commented on #256
Have you guys tried modifying the 'sleep' parameter to make it go faster?
It appears to be set y

[2016-07-26 01:50] ericedens commented on #256
... It appears to be set to 5 seconds, which is to avoid overloading their
servers. At one request per second, which is probably what you'll get
single threaded without sleeping, you'll get 3600 pages per hour.

Have you considered contacting Mozilla to see if they'll provide an API? Or
a database dump? That would be less fragile, and allow you to spend more
time crafting nice search results inste

[2016-07-26 06:20] tagawa commented on #257
Thank you very much @bfmags! Please shout if you need assistance or want to share any of the work.

[2016-07-26 08:15] bfmags commented on #256
@ericedens thanks for the suggestion, that's definitely something to consider

[2016-07-26 13:00] MariagraziaAlastra commented on #256
@bfmags can you open a PR to this repo?
Anyway I tried it and it gives me this error:
<pre>fetch.sh: 23: fetch.sh: Syntax error: "(" unexpected (expecting "}")</pre>

Looks like it's [this line](https://github.com/bfmags/zeroclickinfo-fathead/blob/bfmags/mdnjs/lib/fathead/mdnjs/fetch.sh#L23)

@ericedens Thanks for the suggestion!

[2016-07-26 13:06] MariagraziaAlastra commented on #257
Hey @bfmags!
As I said on #256 as well, can you open a PR? Even if it's still a work in progress it's totally fine, and it'll be easier to follow along and provide feedback.

Thanks a lot for all the work you're doing!

[2016-07-26 13:23] bfmags commented on #256
PR done! https://github.com/duckduckgo/zeroclickinfo-fathead/pull/268

[2016-07-26 13:34] bfmags commented on #256
@MariagraziaAlastra

 I'm not getting that error. If running Debian based OS, using command sh it will use dash instead of bash, and sometimes can cause errors

[2016-07-26 15:12] jdorweiler commented on #248
Parser was updated in https://github.com/duckduckgo/zeroclickinfo-fathead/pull/258

[2016-07-26 15:12] #248 closed

[2016-07-26 16:17] MariagraziaAlastra opened #269 "MDN JavaScript: use keywords in the OpenSearch description documents for Categories"
Depends on #256 and #257
This is an idea @bfmags had!

This means we can use the keywords contained in there to programmatically generate categories for this Fathead.

Read the docs to learn more about [Fatheads](http://docs.duckduckhack.com/resources/fathead-overview.html).

Please see the forum topic [Improve MDN JavaScript Fathead](https://forum.duckduckhack.com/t/improve-mdn-javascript-fathead

[2016-07-27 16:58] jdorweiler commented on #264
Seems like a good idea to me. A few things to consider:
- stick with perl and [prove](http://perldoc.perl.org/prove.html) to be consistent with the other repos
- not every PR will have an output.txt file and it's okay if it doesn't
- To avoid testing large files maybe set an upper limit on the number of entries to test

[2016-07-27 17:03] jdorweiler opened #272 "Python: unify python2 and python3 docs"
**Background**

We have coverage of docs.python.org for Python3 but none for Python2. Even though Python2 is considered a legacy version, it still has a lot of use.

**Objective**

Unify our python docs fathead to cover both Python3 and Python2.

The exact implementation is up to whoever develops this but I think the general idea is to:

- Default to python3 docs in cases where both python3 & 2 ar

[2016-07-27 17:45] jdorweiler commented on #272
@duckduckgo/duckduckhack-contributors would anyone be interested in improving the Python Fathead?

Seeing as the current parser is written in Python, it will require Python skills to improve it. I'm happy to help out as much as anyone needs.

[2016-07-27 17:48] edgesince84 opened #273 "Unix Man Pages: wrong command displayed"
Feedback via a DuckDuckGo user:

here's a screenshot that I took:
<img width="972" alt="screen shot 2016-07-27 at 1 45 34 pm" src="https://cloud.githubusercontent.com/assets/9668802/17185801/982999fe-5400-11e6-81cb-3c0a190888a9.png">

---

IA Page:  http://duck.co/ia/view/unix_man
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @flaming-toast

[2016-07-27 20:21] jagtalon opened #274 "Cocoapods Instant Answer"
## Background

[CocoaPods](https://cocoapods.org/) has a great listing of third-party libraries that people can use. There's currently a CocoaPods Instant Answer that you can find in https://github.com/duckduckgo/zeroclickinfo-spice/pull/22241, but it hasn't been released because of HTTP request problems. See if you can finish it off!

### Objective

To get the Spice working again so that we can a

[2016-07-27 20:23] #274 closed

[2016-07-27 20:31] jagtalon opened #275 "Create SwiftDocs Instant Answer"
## Background

[http://swiftdoc.org/](http://swiftdoc.org/) has some excellent documentation on Swift types and protocols. We can absolutely use this data to answer queries like "swift array".

<img width="345" alt="eb96761b2088e9392921006e2d154e5cd7206f1f_1_690x359" src="https://cloud.githubusercontent.com/assets/81969/17191313/6791dc18-5417-11e6-96bd-91af7494b313.png">
### Objective

For it to a

[2016-07-27 20:32] jagtalon commented on #275
I'm currently working on this in #271, but feel free to take it from me! Lots of improvement things that we can do in there.

[2016-07-27 20:38] jagtalon opened #276 "Create macOS/ iOS Documentation Instant Answer"
## Background

[Apple Developer](http://developer.apple.com/) has all the standard classes and protocols in Swift (not to mention Obj-C as well), guides, and example code. Including this in a DuckDuckGo IA (Instant Answer) gets us far into answering queries for Swift. Best thing to crawl is probably the Foundation Framework since we already have SwiftDocs.org: https://developer.apple.com/library/m

[2016-07-27 20:39] jagtalon commented on #276
I'm currently working on this, but if you have any comments or if you'd like to take over, I'd be happy to hand it to you!

[2016-07-28 01:50] jagtalon commented on #276
@duckduckgo/duckduckhack-contributors if anyone would like to improve our Swift query space, come join me in the forums! https://forum.duckduckhack.com/t/swift-search-overview/98/7

I'm currently listing out Instant Answers that could cover the things that people search for so if you have any ideas feel free to post a comment!

[2016-07-28 13:48] jagtalon commented on #52
Trying to resolve this in #278 (Apple Docs) and #271 (Swift Docs)

[2016-07-28 14:15] jagtalon commented on #276
Just made a PR for this at #278. Feel free to take a look!

[2016-07-28 17:55] MariagraziaAlastra opened #279 "JQuery Fathead: rewrite it from scratch"
## Background
The JQuery Fathead is actually part of a larger collection of parsers used to generate docs for searchcode.com. See the directory [here](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/85911ef28b2b7c00eeedb2e2219910a7f7e90a62/lib/fathead/UNCLEAN).

As the README states, none of those files, including the [JQuery parser](https://github.com/duckduckgo/zeroclickinfo-fathead/blo

[2016-07-28 18:32] jagtalon commented on #52
This should be working btw
<img width="623" alt="screen shot 2016-07-28 at 2 31 43 pm" src="https://cloud.githubusercontent.com/assets/81969/17224707/1298e422-54d0-11e6-8a23-d692f7c8bdff.png">

[2016-07-28 18:32] #52 closed

[2016-07-29 21:37] gerlachry commented on #272
@jdorweiler I would be interested in giving this one a shot, I started taking a look at it this afternoon.

[2016-08-01 14:01] MariagraziaAlastra opened #280 "MDN JavaScript: fetch the errors reference articles and parse them"
## Background
Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.
Ultimately I think we should fetch all the categories, but let's start with the errors: a lot of people search for copypasted console errors,

[2016-08-01 14:28] jdorweiler commented on #272
Forgot to include a link to the forum post. https://forum.duckduckhack.com/t/python-docs-fathead/176/6

[2016-08-01 16:00] jagtalon opened #281 "Proposal for improving SwiftDocs: Add disambiguations to the output file"
Attention @duckduckgo/duckduckhack-contributors

**The proposal:**

Create a disambiguation entry in `output.txt` (check out http://docs.duckduckhack.com/resources/fathead-overview.html to learn how that's done) to disambiguate (separate) properties and functions that have the same name.

We need this so that people are not throwing out any information when people search for similarly-named things

[2016-08-01 16:07] gerlachry commented on #272
@jdorweiler I think I have a first draft of creating a second file, output_py2.txt w/ just the keys that have python2 abstracts different from those in the python3 output.txt.  Any docs on how fathead instant answers work and how to load both output files?  How to go about implementing your last bullet point:

[2016-08-01 16:09] jagtalon opened #282 "Proposal for improving Apple Docs: Add disambiguations to the output file"
Attention @duckduckgo/duckduckhack-contributors

**The proposal:**

Create a disambiguation entry in `output.txt` (check out http://docs.duckduckhack.com/resources/fathead-overview.html to learn how that's done) to disambiguate (separate) properties and functions that have the same name.

For example, if someone searched for `swift compare`, we should be able to give people a list of articles wher

[2016-08-01 16:20] jagtalon opened #283 "Improve Apple Docs macOS: Add redirects to the output file"
Attention @duckduckgo/duckduckhack-contributors

**The proposal:**

Create redirect entries in output.txt (check out http://docs.duckduckhack.com/resources/fathead-overview.html to learn how that's done) so that searches like `NSDate.compare` and `compare` would link to the same article. Similar to how [Dash](https://kapeli.com/dash) works:

<img width="845" alt="screen shot 2016-08-01 at 12 15 45

[2016-08-01 19:02] jdorweiler commented on #272
@gerlachry
Here's the fathead docs. http://docs.duckduckhack.com/resources/fathead-overview.html
I think we can use the category field for this.

As an example, let's say that `array.append()` is different in python2 vs python3. The entries in the output file for this might look like:

[code]

The first entry is our default python3 version and the second is the python2 version.  Since both entries

[2016-08-01 20:26] moollaza commented on #263
Hopefully once we have an idea of what functionality we want/need there won't be many changes necessary after, but I agree it's still a potential issue.

This sounds like an ideal solution. Similarly we can make an issue to update each codebase whenever a new feature is added to any other, that we think belongs in all of them 👍

We can have a spec written in english to describe the functions we ex

[2016-08-01 20:35] moollaza commented on #264
@jrasanen @jdorweiler yeah this sounds pretty do-able.

If you use `DBD::CSV` like I have to read the output.txt into a DB it may help to confirm the redirects have valid keys, but if we assume redirects are always defined after the article that may not be necessary.

I think that checking for 404's should be a special opt-in check because I imagine that will make the tests very lengthy.

@jrasane

[2016-08-01 21:38] GuiltyDolphin commented on #263
Perhaps a clear description of each function in the docs? Then we'd expect them all to behave in exactly the same way for each language, eg.,

[code]

[2016-08-01 21:38] sahildua2305 commented on #264
@moollaza This sounds good. I'd like to implement it in case @jrasanen doesn't take it up. :smile:

[2016-08-01 22:19] moollaza commented on #264
If we want these tests to be run for each PR by Travis, then they'll need to be implemented in the Fathead directory.

If we just want this as a DuckPAN feature, then we'll need to implement some new functionality into the `duckpan test` command.

The former sounds ideal so that future PRs should be guaranteed not to break anything in the output.txt

[2016-08-01 22:27] sahildua2305 commented on #264
Both things should be there. Travis integration should be preferred however. Because that will make PR reviewing very easy.

[2016-08-02 19:26] vidhan13j07 commented on #236
@edgesince84,
Can I implement this Fathead?

[2016-08-03 10:52] GuiltyDolphin opened #286 "'Category' vs 'Related'"
In the docs it says:

And

But this doesn't seem to be the case. On Beta 'related' topics are not shown for the `related` field, but it seems that instead anything in `categories` is displayed in the infobox under `Related Topics`:

![screenshot-2016-08-03-11 50 57_420_128](https://cloud.githubusercontent.com/assets/8598426/17363119/938782ce-5970-11e6-8dcc-1e23be88062a.png)

I find this behavior s

[2016-08-03 14:08] #272 closed

[2016-08-04 13:08] jdorweiler commented on #184
@chdsbd we switched over to python3 as the default now.

@gerlachry added an infobox in #285 linking the the python2 version in the case that it differs from the python3 version.
https://duckduckgo.com/35/eval?iax=1&ia=about

[2016-08-04 13:08] #184 closed

[2016-08-06 03:25] moollaza commented on #286
Whatever is on Beta is "correct". I was digging through our source code to simulate how Fatheads work in DuckPAN and I probably made a few mistakes because I'm not familiar with the entire Fathead codebase (which is large, and old).

Until recently, I hadn't been too familiar with Fatheads at all (Jason and Jag have been managing them) so I think I got confused here.

I now realize that "categorie

[2016-08-06 10:27] GuiltyDolphin commented on #286
@moollaza Currently there aren't any category pages or infoboxes in the DuckPAN implementation; this is all on Beta.

My intuition was that anything in the same category would be put in a disambiguation/meanings page when searching for that category, and the 'related topics' would appear in the infobox (which doesn't appear to be the case).

Instead, categories are displayed in the infobox, and re

[2016-08-06 19:46] GuiltyDolphin commented on #181
@bsstoner Any update on this? I'm still getting no results from `.` (unless I have a region active).

[2016-08-08 17:30] alohaas commented on #236
Hey @vidhan13j07, you'll want to speak to @jdorweiler about that :) He is in charge of improving the Python search space.

[2016-08-09 09:03] kotoshenya opened #290 "Ruby Fathead: some Instant Answer related topic links show the wrong IA"
Some linked queries on [Ruby Instant Answers](https://duck.co/ia/view/ruby) relate to topics wider than Ruby, meaning that they do not return the intended Instant Answer.

It’s useful to get Instant Answers for unprefixed by searching for “[enumerable grep](https://duckduckgo.com/?q=enumerable+grep&ia=about)”, but inter-IA links should have enough context to always be able to include the “ruby” ke

[2016-08-09 12:31] mrshu commented on #185
@splewako @tagawa Wikipedia now uses HTTPS by default, it is no longer possible to get a HTTP site. This also means that international Wikipedias will use HTTPS by default now.

I am therefore closing this. Thanks again for reporting!

[2016-08-09 12:53] jdorweiler commented on #290
@kotoshenya you're right. Adding the "Ruby" keyword to all categories should fix this.

[2016-08-09 16:29] moollaza opened #293 "MDN CSS: More Improvements"
The MDN CSS IA is live and is now the biggest CSS Instant Answer, accounting for 8% of CSS Related Queries.

There is lots of room for improvement though to make it's results more useful and to also further increase its coverage:
## Improvements
- [x] ~~Simplify new External Links to just grab the "Browser Compatibilty" link as only the first External Link is displayed on the result~~
  - After mo

[2016-08-09 16:38] hchienjo commented on #293
Great ideas. Looking forward to working on them with everyone.

[2016-08-09 17:27] moollaza commented on #293
@duckduckgo/duckduckhack-contributors would anyone out there be interested to dive and help us improve the CSS Fathead?

The code here is all Perl, so it will require someone with Perl experience!

[2016-08-09 17:31] mjgardner commented on #293
I'll pitch in.

[2016-08-09 17:39] moollaza commented on #293
@mjgardner thanks a lot! Which of the above tasks are you interested in?

[2016-08-09 17:43] mjgardner commented on #293
@moollaza I suppose I'll start with the first one (Simplify new External Links) and after I finish that grab whatever's next available.

[2016-08-09 17:44] moollaza commented on #293
Perfect! Thanks a lot  🙇

[2016-08-09 18:01] #290 closed

[2016-08-10 17:47] jdorweiler commented on #236
@vidhan13j07 this was actually fixed in https://github.com/duckduckgo/zeroclickinfo-fathead/pull/270#event-751442364.

Are you interested in building a fathead for something else?
https://forum.duckduckhack.com/t/coverage-for-popular-packages/433

[2016-08-10 17:47] #236 closed

[2016-08-10 18:41] jdorweiler opened #296 "Python: show built-in functions"
In #270 we removed some entries to avoid namespace conflicts. We might want to white list the built-in functions.
https://docs.python.org/3.5/library/functions.html#min

For example, even though there are likely conflicts for `open()` users are most
likely looking for the built-in.
https://duckduckgo.com/?q=python+open&t=canonical&atb=v23&ia=qa
https://docs.python.org/3.5/library/functions.html#op

[2016-08-10 18:50] jdorweiler opened #297 "Python: add disambiguations"
In #270 we removed articles with namespace conflicts.
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/python/redirect.py#L172
https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/python/redirect.py#L182

We could try to generate a disambiguation in these cases.
http://docs.duckduckhack.com/resources/fathead-overview.html

------
IA Page:  http://d

[2016-08-11 07:09] splewako commented on #185
@mrshu: wrong, DDG users are directed to HTTP site that redirects… so not fixed at all.

[2016-08-11 09:19] hchienjo commented on #293
About the "Related Topics", from the  [documentation](http://docs.duckduckhack.com/resources/fathead-overview.html)

it is not apparently clear how exactly the links are supposed to be organized.

Take for instance [active](https://developer.mozilla.org/en-US/docs/Web/CSS/:active), we have a [see also](https://developer.mozilla.org/en-US/docs/Web/CSS/:active#See_also) at the bottom, so, how should

[2016-08-11 10:03] mrshu commented on #185
@splewako Ok, can you please elaborate how is that wrong?

[2016-08-11 15:10] edgesince84 commented on #185
Can you give us an example query @splewako?

[2016-08-11 17:52] moollaza commented on #293
@hchienjo they should be separated with `\\n` like the External links.

The links themselves should be of the format `[[Article Name]]`  or `[[Title | Article Name]]`

e.g. `[[link]]\\n[[visited]]\\n[[hover]]`

OR

`[[Link Pseudo-Class | link]]\\n[[Visited Pseudo-Class | visited]]\\n[[Hover Pseudo-Class | hover]]`

[2016-08-11 17:54] hchienjo commented on #293
Thanks

[2016-08-11 21:43] sahildua2305 commented on #264
Any update on this, @jrasanen @moollaza  ?

[2016-08-12 08:34] GuiltyDolphin opened #298 "C++ Reference Docs: Improve triggering (more lenient)"
The IA triggers on ['cpp std::unordered_set'](https://duckduckgo.com/?q=cpp+std%3A%3Aunordered_set&ia=about), but not on ['cpp unordered_set'](https://duckduckgo.com/?q=cpp+unordered_set&ia=about) or ['cpp unordered set'](https://duckduckgo.com/?q=cpp+unordered+set&ia=about).

We should improve triggering by allowing the `::` header to be omitted, and we should allow whitespace in place of undersc

[2016-08-12 08:37] GuiltyDolphin opened #299 "Apple Docs macOS: Overtriggering on 'lenient'"
See https://duckduckgo.com/?q=lenient&ia=about (`about` was the default tab).

I was rather expecting the Worknik IA to appear - I doubt many people will be searching for that particular definition (perhaps force `apple` to be present).
---

IA Page:  http://duck.co/ia/view/apple_docs_macos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-08-12 08:41] GuiltyDolphin opened #300 "C++ Reference Docs: Support specific queries"
E.g., `std::unordered_set iterators` and `std::unordered_set member types`.

---

IA Page:  http://duck.co/ia/view/cppreference_doc
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mylainos

[2016-08-12 12:53] ManrajGrover opened #301 "C++ Reference Docs: Show example code on how to use particular member function"
Show example code on how to use particular member function. This is something that [cplusplus.com](http://www.cplusplus.com/reference/) provides under each member function of containers.

This will also help in understanding the use case better.

---

IA Page: https://duck.co/ia/view/cppreference_doc
Maintainer: @mylainos

[2016-08-12 13:09] jagtalon commented on #299
I love how ironic this is! I'll look into it. @GuiltyDolphin would you be interested in helping improve the Swift programming language? https://forum.duckduckhack.com/t/swift-search-overview

[2016-08-12 13:46] GuiltyDolphin commented on #299
@jagtalon I'm not really 'in the know' with Swift and I'm currently occupied with Perl/Haskell/Idris so I'm not sure how much I'd be able to contribute. Thanks for the offer though :heart:

[2016-08-12 16:12] moollaza commented on #256
Fixed in #268

[2016-08-12 16:12] #256 closed

[2016-08-12 16:13] moollaza commented on #257
Fixed in #268

[2016-08-12 16:13] #257 closed

[2016-08-12 18:24] moollaza commented on #264
@sahildua2305 there's no one working on it that I'm aware of

[2016-08-14 02:16] soleo commented on #281
I think this issue can be closed after https://github.com/duckduckgo/zeroclickinfo-spice/pull/2958 is merged.

It would show a list of related functions in different classes.

<img width="1280" alt="screen shot 2016-08-13 at 9 14 52 pm" src="https://cloud.githubusercontent.com/assets/635858/17646712/187ab348-619b-11e6-98ed-5ef44f75f94c.png">
<img width="1280" alt="screen shot 2016-08-13 at 9 13 53

[2016-08-14 02:16] soleo commented on #281
@jagtalon

[2016-08-14 14:16] souravbadami commented on #245
@moollaza -- I want to work on this.

[2016-08-14 14:36] samskeller commented on #245
@souravbadami thanks for the interest, but sorry I'm actually almost finished with this (I've just been very behind and haven't done one last thing)

[2016-08-14 14:41] souravbadami commented on #245
@samskeller -- Sounds good. Thanks!

[2016-08-15 09:38] bfmags commented on #269
_@MariagraziaAlastra  actually have to thank @ericedens for the initial idea about using a provided API_

### OpenSearch API and MDN

**Syntax**

`https://developer.mozilla.org/en-US/search?q={}`
`https://developer.mozilla.org/en-US/search?q=%22js%20array%22`

**Wget**

`wget -S -q --header "Accept: application/json" https://developer.mozilla.org/en-US/search?q=%22js%20array%22 --output-document=r

[2016-08-15 14:21] jagtalon commented on #299
@GuiltyDolphin That's alright! Just thought I'd ask. :)

[2016-08-15 15:07] souravbadami commented on #296
I would like to give it a shot.

[2016-08-15 17:35] edgesince84 opened #306 "CSS: "more at" link incorrect"
The link for the "more at Mozilla Developer Network" is actually a free dictionary link for REM sleep - http://www.thefreedictionary.com/rem

cc @moollaza

------
IA Page:  http://duck.co/ia/view/mdn_css
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hchienjo

[2016-08-15 17:40] moollaza commented on #306
Which query are you seeing that for? It looks to be working correctly,  but I think I did see that happen for one query while I was testing...

[2016-08-15 17:43] hchienjo commented on #306
Looking into it.

[2016-08-15 17:48] edgesince84 commented on #306
@moollaza "rem css" brings it up.  https://duckduckgo.com/?q=css+rem&kp=1&kad=wt_WT&kl=wt-wt&ia=about

@hchienjo that's a self-referential link you posted for "here."

[2016-08-15 18:14] hchienjo commented on #306
@edgesince84 very sorry. Fixed the link. Posting here again. https://github.com/duckduckgo/zeroclickinfo-fathead/pull/292

[2016-08-15 18:26] jagtalon opened #307 "Apple Docs: NSOperation is not being answered"
https://duckduckgo.com/?q=NSOperation&t=ffab&ia=web

It should be answered by https://duck.co/ia/view/apple_docs_macos

[2016-08-15 21:53] splewako commented on #185
@edgesince84 like https://duckduckgo.com/?q=warszawa&t=h_&ia=about?

Seriously? Ignoring speed, security, integrity and other things, [301 redirect means that one should use different URL](https://en.wikipedia.org/wiki/HTTP_301).

Besides that, I don't see the reason to use fake (now) URLs for Wikipedia (non en-US) articles and HTTPS for en.wikipedia.org.

[2016-08-16 09:45] GuiltyDolphin commented on #263
@moollaza I've created a branch over on the docs (https://github.com/duckduckgo/duckduckhack-docs/tree/fathead-spec) that we can ping ideas off and get a rough idea of what the spec might look like. Might it also be worth creating a forum topic for this so we can have more community involvement?

cc @duckduckgo/community-leaders

[2016-08-16 11:44] GuiltyDolphin opened #309 "GitManual: Support option queries"
We should support queries such as `git branch --delete` and display an [appropriate description](https://git-scm.com/docs/git-branch#_options).

---

IA Page:  http://duck.co/ia/view/git_manual
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @samskeller

[2016-08-16 15:12] moollaza commented on #263
Sure, let's discuss on the Forum. No need to discuss this on GitHub

[2016-08-18 01:50] samskeller commented on #309
@GuiltyDolphin this is an interesting idea -- would that mean creating a line in `output.txt` for each possible option for each git command? Would we just restrict it to one option and not try to handle the case of multiple options being queried?

[2016-08-18 11:45] GuiltyDolphin commented on #309
@samskeller Yeah, I was thinking creating entries like `branch --delete` or `git branch --delete` - so one for each option.

I don't think it would be worth doing it for multiple flags - the payoff/effort would likely be too little (and the output might become crowded).

[2016-08-18 15:03] moollaza commented on #293
@hchienjo @mjgardner I've updated this a bit, it turns out my understanding of Related Topics and External Links was wrong and we cannot use them as I had expected. For now I'll remove them. If we adjust Fatheads internally, we may be able to use them as I had expected.

[2016-08-18 18:17] jagtalon opened #314 "Create a Fathead that shows tvOS APIs"
**The proposal:**

Create a new language reference IA for tvOS.

<img width="1512" alt="screen shot 2016-08-18 at 2 15 00 pm" src="https://cloud.githubusercontent.com/assets/81969/17785383/76dd9b1a-654e-11e6-9380-e83e7116ffae.png">

**What to do:**

1. Familiarize yourself with https://github.com/duckduckgo/zeroclickinfo-fathead/pull/278. This is a Fathead--you can learn more about Fatheads in htt

[2016-08-18 18:32] #279 closed

[2016-08-18 18:39] jagtalon opened #315 "Apple Docs: Split the instant answer to two Fatheads"
Currently it's putting both APIs of iOS and macOS in one file. This means it's not easy to trigger something with "ios" or "osx" because they're showing the same IA. A good way to solve this is to split it in two. If we're going to add a new set of APIs like tvOS #314, that would go in another separate IA as well.

---

IA Page: https://duck.co/ia/view/appledocs

[2016-08-18 21:17] moollaza commented on #293
@hchienjo @mjgardner I've updated this a bit more. Adding support for the `-moz` and `-webkit` properties should be a fairly easy way of really increasing the coverage of this Fathead, assuming the pages can all be parsed with our existing code 👍

Also, I noticed a small bug with our handling of the initial value when it provides a list of values

[2016-08-18 22:03] hchienjo commented on #293
@moollaza Great. Will gladly collaborate with more volunteers to get the features implemented.

[2016-08-18 22:49] hchienjo commented on #293
@moollaza I think I already have a solution for the list in initial value in this [PR](https://github.com/duckduckgo/zeroclickinfo-fathead/pull/317).

Please review.

[2016-08-19 13:50] bfmags commented on #280
I'll soon resume work on this issue

[2016-08-21 05:51] JennaMalkin opened #318 "Wikipedia: Summaries given even when article is deleted."
Does not seem to take into account when a wikipedia article is deleted.

![lesleyroseddg](https://cloud.githubusercontent.com/assets/5298344/17835590/053b8682-67b7-11e6-8680-b04aa72cad43.PNG)

https://en.wikipedia.org/w/index.php?title=Special:Log/delete&page=Lesley_Rose indicates that this page was deleted in November 2014.

---

IA Page:  http://duck.co/ia/view/wikipedia_fathead
[Maintainer](htt

[2016-08-22 14:15] MariagraziaAlastra opened #319 "jQuery Fathead: show examples and args descriptions"
## Background

the jQuery IA was recently rewritten by @kotoshenya in #294 and it's already showing good progress, but there's more that can be done to improve it!

For instance we could try showing some code examples.
Also, right now for each method we show which args are required, but it would be more useful if we also explained them, specify what they represent and which values are allowed for

[2016-08-22 19:55] jagtalon opened #320 "Apple Docs: UIPrintInteractionController is not being answered"
https://duckduckgo.com/?q=UIPrintInteractionController&t=ffab&ia=web

It should be answered by https://duck.co/ia/view/apple_docs_ios

[2016-08-23 02:02] samskeller commented on #309
@GuiltyDolphin sounds cool! I'll get to work on it

[2016-08-23 08:13] GuiltyDolphin opened #321 "PerlDoc: Improve assigned categories"
As mentioned in https://github.com/duckduckgo/zeroclickinfo-fathead/pull/247#discussion_r75753147 we should be using more specific categories.

While fixing that, we should add some categories for the following:

- Variables
   - For each sub-section in http://perldoc.perl.org/perlvar.html we should have a category, e.g, `General Variables`, `Error Variables` etc.
- Functions
  - We could use the

[2016-08-23 16:05] #306 closed

[2016-08-23 16:06] moollaza commented on #110
I believe all of this will be addressed when the new JavaScript Fathead goes live.

The new MDN CSS Fathead takes care of the CSS Reference 👍

[2016-08-23 16:09] moollaza commented on #293
@mjgardner would you be interested in updating the fetch script to grab the `-moz` and `-webkit` extensions?

[2016-08-23 16:26] hchienjo commented on #293
@moollaza If no one takes it up I am willing to have a go at it.

[2016-08-23 21:59] moollaza opened #326 "Fathead parse.sh scripts should alpha-sort output.txt"
Currently, the ordering of most output.txt files is random, and in some cases, subsequent runs of `parse.sh` produce a differently ordered file.

This is currently the case for the MDN CSS Fathead, which means when the parser is modifed and a new output.txt file is generated, its hard to determine what changes are due to the code changes, and which are just a re-ordering of existing articles.

By

[2016-08-23 22:01] moollaza commented on #326
As a simple fix, I've updated the MDN Fathead's parse.sh script to use `sort output.txt -o output.txt`

If/when we standardize the Fathead "build" process, this should be handled by that instead of the individual Fathead parsing scripts.

[2016-08-24 08:18] GuiltyDolphin commented on #326
@moollaza I'm not entirely sure why you would need to inspect the `output.txt` that much, you can just use `duckpan query` to see the field information. But I guess it could be better to have some ordering.

We should definitely wait for the utility packages before we go ahead with this - otherwise we will just have more work to do when converting existing FatHeads over.

[2016-08-24 15:30] MariagraziaAlastra opened #330 "MDN JavaScript: Expressions and operators section"
## Background
Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.
One of the sections we should fetch and parse is the [Expressions and operators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2016-08-24 15:37] MariagraziaAlastra opened #331 "MDN JavaScript: Statements and declarations section"
## Background
Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.
One of the sections we should fetch and parse is the [Statements and declarations](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Ref

[2016-08-24 16:05] #245 closed

[2016-08-24 16:51] MariagraziaAlastra opened #332 "MDN JavaScript: Functions section"
## Background
Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.
One of the sections we should fetch and parse is the [Functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions)

[2016-08-24 17:59] MariagraziaAlastra opened #334 "MDN JS: Include uncategorized articles in the Instant Answer result"
## Background

Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.

There are some articles, though, that don't have a real root category, and they're indicated as "misc" articles. Here's the list:
- [Lexical

[2016-08-24 18:39] MariagraziaAlastra opened #335 "MDN JavaScript: Classes section"
## Background
Right now we're only showing the articles from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects and from https://developer.mozilla.org/en-US/docs/Web/API, but there are a ton of useful articles we could surface.
One of the sections we should fetch and parse is the [Classes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes) one.

[2016-08-25 06:04] adityabhushan opened #337 "Abbreviations:"
On searching for `integrity meaning`, the url defaults to about and shows the abbreviation instead of the definition which seems like the intended query.

The default behavior in this case is more likely to show the definition or the dictionary meaning of the word.

Current url
`https://duckduckgo.com/?q=integrity+meaning&ia=about`

Proposed url
`https://duckduckgo.com/?q=integrity+meaning&ia=defi

[2016-08-25 13:11] rasikapohankar commented on #293
Hi @hchienjo @mjgardner! Have you started working on it? If not, I would like to try.

[2016-08-25 13:37] jagtalon commented on #282
Hello, @duckduckgo/duckduckhack-contributors! If you know Python, help us make searching for Apple documentation a breeze. This task is one of the more important ones that I think will really make a big impact.

Like what you see? Head on over to https://forum.duckduckhack.com/t/swift-search-overview/98 to get started!

[2016-08-25 14:06] sahildua2305 commented on #282
@jagtalon I can help here. I have been writing Python for a while now.

[2016-08-25 15:47] jagtalon commented on #282
@sahildua2305 yusss! Hit me up on Slack if you need any help! The only caveat that I forgot to mention is that the code depends on a Mac. Other than that, you should be good to go!

[2016-08-25 15:52] sahildua2305 commented on #282
@jagtalon what does that mean? Code depends upon a Mac?

[2016-08-25 15:59] jagtalon commented on #282
@sahildua2305 So currently we use the docsets that come installed in XCode. But now that I think about it, I think I could just send you the docsets. :)

[2016-08-25 17:37] mjgardner commented on #293
@rasikapohankar Go ahead, I am swamped with work and moving across the country.

[2016-08-25 17:53] rasikapohankar commented on #293
Thanks @mjgardner!

[2016-08-26 05:27] hchienjo commented on #293
@rasikapohankar Thanks for reaching out. Please checkout the [forum](https://forum.duckduckhack.com/t/css-search-overview/96/17) so as to get up to speed.

[2016-08-26 12:27] jagtalon commented on #282
@sahildua2305 I've got some docsets available for you (my laptop is fried so all thanks should actually go to @moollaza!).

I can send it to you over Slack if you need it (http://docs.duckduckhack.com/resources/get-in-touch.html if you haven't signed up yet!)

[2016-08-26 12:40] sahildua2305 commented on #282
Already there. Please send them over Slack :smile @jagtalon

[2016-08-26 13:51] GuiltyDolphin opened #340 "PerlDoc: Add support for modules"
We should add a parser for the standard modules.

Unfortunately I don't think we'll be able to consistently parse routines or information from the description, as these vary so much between modules.

However, we should be able to extract the following information fairly easily:

- Module name
- Short description
- Synopsis (examples)
- See also (which we can use for related topics)

cc @jbarrett

[2016-08-27 02:31] samskeller commented on #230
Sorry I didn't respond to this earlier, @NaveenKarippai! What do you mean by subcommands? Can you give an example of what you'd like to see?

[2016-08-27 15:44] rasikapohankar commented on #293
Thanks @hchienjo, I'll try to update the script for the extensions then. I might require a longer time to do this since I'm not experienced with Perl and have not worked on a Fathead before either.

[2016-08-27 15:47] gautamkrishnar commented on #293
@rasikapohankar :+1:  Take your time...

[2016-08-29 12:16] hchienjo opened #344 "PerlDoc: Description for `wantarray` appears mangled."
Searching for [perl wantarray](https://duckduckgo.com/?q=wantarray+perl&t=lm&ia=about) returns
this
![screenshot from 2016-08-29 15-11-50](https://cloud.githubusercontent.com/assets/13175534/18051165/720f0956-6dfb-11e6-8a31-1a077f95cd28.png)

As can be seen towards the end of the description, there are crowded words
with no spaces in between.

------
IA Page:  http://duck.co/ia/view/perl_doc
[Main

[2016-08-29 14:34] jagtalon commented on #283
I got this, fam.

[2016-08-29 14:34] jagtalon commented on #283
CC @sahildua2305 I'll be working along side you!

[2016-08-29 15:00] GuiltyDolphin commented on #344
@hchienjo Thanks for this! Looking into it now.

[2016-08-30 08:26] jbarrett commented on #344
:+1: https://beta.duckduckgo.com/?q=perl+wantarray&ia=about&iax=1

![wantarray](https://cloud.githubusercontent.com/assets/444449/18081781/cd91bf92-6e93-11e6-96b1-20d4391542ba.png)

[2016-08-30 11:41] GuiltyDolphin opened #349 "PerlDoc: Ensure only one article exists for functions"
For some functions (e.g., `xor`), a disambiguation page comes up as there is the 'operator' and the 'function' (which just mentions the operator page):

One disambiguation page leads to the correct description, but the other leads to a description that just mentions 'See perlop'.

https://duckduckgo.com/?q=xor+perl&ia=meanings

---

IA Page:  http://duck.co/ia/view/perl_doc
[Maintainer](http://doc

[2016-08-30 18:28] sahildua2305 commented on #282
@jagtalon I need help in starting with this. Pinging you on Slack!

[2016-08-31 20:25] #276 closed

[2016-09-01 22:08] #315 closed

[2016-09-02 11:58] #340 closed

[2016-09-05 09:35] mrshu opened #359 "Python: `isdown` triggers `turtle.isdown`"
While the fathead answer is not incorrect per se, the organics do not seem to agree with it and I am also personally not sure if `turtle.isdown` is the best Instant Answer for queries which might be looking for services which help to check whether a certain website is online.

---

IA Page:  http://duck.co/ia/view/python
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gaul

[2016-09-05 09:38] mrshu opened #360 "Python: `python tutorial` triggers an article on creating Python C plugins"
Once again, while the instant answer is certainly not off topic, I do not think many are looking for the tutorial on creating C plugins for Python when they search for `python tutorial`.

https://duckduckgo.com/?q=python+tutorial

------
IA Page:  http://duck.co/ia/view/python
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gaulrobe

[2016-09-05 09:40] mrshu opened #361 "Python: Abstracts missing new line"
It seems that in case of `python ast` the abstract is missing a newline.

![selection_005](https://cloud.githubusercontent.com/assets/461491/18243855/7fd3d1c2-735d-11e6-9ef6-8769d5e73293.png)

------
IA Page:  http://duck.co/ia/view/python
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gaulrobe

[2016-09-05 09:46] GuiltyDolphin commented on #359
@mrshu So you were looking for the [IsItUp](https://duck.co/ia/view/is_it_up) Instant Answer? It looks like it could do with a bit of a trigger boost: https://duckduckgo.com/?q=is+python.org+up&ia=answer.

Would you like to raise this issue over on the Spice for this IA?

[2016-09-05 12:38] mrshu commented on #359
@GuiltyDolphin honestly, I was not expecting an Instant Answer, the organics would be good enough.

I guess I would not be surprised with being presented this IA when searching for `python isdown` but right now I get quite a surprising Instant Answer when I search for `isdown`.

All in all, I think that no Instant Answer should trigger -- triggering IsItUp would make sense if there was an object i

[2016-09-05 13:28] GuiltyDolphin commented on #359
~~@mrshu Hmm, it looks like the top organics are all to do with `turtle.isdown`, so I think this triggering is fine.

The point is for the Instant Answer to provide a more useful (immediate) result than just organic links, and hopefully answer the query without the user having to go off searching. In this case it gives the information `Return True if pen is down, False if it’s up.`, which may answ

[2016-09-06 15:42] moollaza commented on #307
Should be fixed by #355

[2016-09-06 15:44] moollaza commented on #320
Should be fixed by https://github.com/duckduckgo/zeroclickinfo-fathead/pull/354

[2016-09-06 15:46] moollaza commented on #320
The new iOS Fathead has been deployed to Beta. It now addresses this:

https://beta.duckduckgo.com/?q=UIPrintInteractionController&t=ffab&ia=about

[2016-09-07 13:17] moollaza commented on #307
This is now being addressed by the Apple Docs MacOS Fathead on Beta https://beta.duckduckgo.com/?q=nsoperation&t=hi&ia=about

[2016-09-07 13:47] #282 closed

[2016-09-07 13:49] #307 closed

[2016-09-07 14:18] moollaza commented on #361
@mrshu good find!

It looks like this is a general parsing error with the way we're handling the first line of the page that mentions the source code file.

We need to update the parser to look for that and handle it better

[2016-09-07 15:12] moollaza commented on #360
@mrshu thanks for pointing this out. I think part of the plan is to eventually have support for Tutorials/How-To's etc, perhaps by way of a Goodie or Cheat Sheet.

I suppose for now we could have the parser ignore this entry or give it a more specific title?

[2016-09-07 17:59] mrshu commented on #361
@moollaza strangely enough, your example does not trigger the Python fathead for me. But I noticed myself that there were multiple occasions when this happened for Python IAs.

[2016-09-08 17:40] GuiltyDolphin opened #366 "PerlDoc: Add more categories to improve regular expression articles"
### Description

Perl has a bunch of pages on regular expressions (`perlre`, `perlreref`, `perlrebackslash`, to name a few), we should improve regular expression coverage with these pages in the following categories:

- [ ] Modifiers (partially done) - things like `/m`, `/i` etc.
- [ ] Character classes (`[:ascii:]`, `[:digit:]`, `\w` etc.)
- [ ] Metacharacters (e.g., `^`, `.` etc.)
- [ ] Quantifi

[2016-09-12 13:38] MariagraziaAlastra commented on #332
Solved in #353

[2016-09-12 13:38] #332 closed

[2016-09-12 14:27] #140 closed

[2016-09-12 15:19] #265 closed

[2016-09-12 15:19] #237 closed

[2016-09-12 18:14] jagtalon opened #369 "MDN JS: Constructor is not being called properly"
See the first line in the snippet. @MariagraziaAlastra @moollaza

<img width="915" alt="screen shot 2016-09-12 at 2 13 09 pm" src="https://cloud.githubusercontent.com/assets/81969/18447113/3ca457d2-78f3-11e6-9887-6ad62269d8b3.png">

https://duck.co/ia/view/mdnjs

[2016-09-13 16:38] jagtalon opened #370 "Python: Not the right abstract"
<img width="854" alt="screen shot 2016-09-13 at 12 36 51 pm" src="https://cloud.githubusercontent.com/assets/81969/18482605/cd8698b2-79ae-11e6-9604-4603b06c0002.png">

The right abstract can be found in the first link.

https://duck.co/ia/view/python

[2016-09-14 12:59] MariagraziaAlastra commented on #280
Done in #323 - thanks!

[2016-09-14 12:59] #280 closed

[2016-09-14 13:38] MariagraziaAlastra opened #372 "MDN JavaScript: make redirects without punctuation and all lowercase for Error reference articles"
## Background
In #323 @bfmags fetched and parsed the Error reference articles. Thanks so much!
Now we need more redirects that are closer to how people actually search for reference on the matter.
A first way to do this would be stripping punctuation and lowercasing the titles, and making redirects out of the resulting string.

## To Do
- Make redirects stripping '.', '"' and ':', and lowercasing

[2016-09-15 16:10] MariagraziaAlastra commented on #372
Fixed in #374

[2016-09-15 16:10] #372 closed

[2016-09-15 19:04] #297 closed

[2016-09-17 20:41] Rosho123 opened #376 "Wikipedia: does not refresh"
if a wiki page is changed. the instant answer doesn't display the change.

------
IA Page:  http://duck.co/ia/view/wikipedia_fathead
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-09-17 20:42] mintsoft commented on #376
@Rosho123 The updates for the wiki answers are updated periodically; they definitely won't update in real-time. Do you know how long ago the updates were made?

[2016-09-18 21:21] #376 closed

[2016-09-19 13:37] MariagraziaAlastra opened #377 "MDN JavaScript: newlines aren't correctly parsed"
## Background
Some queries, e.g. [js date](https://duckduckgo.com/?q=js+date&ia=about) are showing the whole code snippet on one line:
<img width="1330" alt="screen shot 2016-09-19 at 9 31 38 am" src="https://cloud.githubusercontent.com/assets/3652195/18633836/3aff052c-7e4c-11e6-8ed2-65c641cc3610.png">

While in the MDN article the snippet is actually on 4 lines:
<img width="711" alt="screen shot

[2016-09-20 15:14] #331 closed

[2016-09-20 15:14] #335 closed

[2016-09-20 18:50] #377 closed

[2016-09-21 19:08] moollaza commented on #306
commenting here so this task is removed from the IA page...

[2016-09-22 14:39] moollaza commented on #307
Commenting here so this is removed from the IA Page

[2016-09-22 14:39] moollaza commented on #320
Commenting here so this is removed from the IA Page

[2016-09-22 14:39] #320 closed

[2016-09-23 17:29] #321 closed

[2016-09-23 17:34] souravbadami commented on #370
@jagtalon -- Currently, `python re` triggers disambiguations for functions within `re`. I think, it's solved.

[2016-09-24 12:21] meetmangukiya commented on #172
Would love to do it :D ? I've not been through the code though, might need some help, would it match the time/result productivity ratio of duckduckhack?, then assign me.

[2016-09-24 16:13] bibbitybarb1983 opened #382 "MySQL:"
------
IA Page:  http://duck.co/ia/view/my_sql
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-09-24 16:29] xSOADx opened #383 "WikipediaRussian: Text overflows button"
Font doesn't fit right :(
![default](https://cloud.githubusercontent.com/assets/8180837/18809757/ae9ad25c-82ae-11e6-8a90-a928a34e97cb.PNG)
![1](https://cloud.githubusercontent.com/assets/8180837/18809755/8beacf14-82ae-11e6-9c68-10a44796fd8f.PNG)

---

IA Page:  http://duck.co/ia/view/wikipedia_russian
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-09-25 20:12] souravbadami opened #384 "Jquery: Jquery callbacks.remove() does not trigger a fathead."
Jquery callbacks.remove() triggers a stack overflow answer instead of a fathead.

[2016-09-26 00:56] tagawa commented on #384
Thanks for spotting this @souravbadami.
CCing @MariagraziaAlastra who might want to take a look.

[2016-09-26 13:19] mrshu commented on #383
Thanks @xSOADx, we'll take a closer look.

[2016-09-26 15:35] moollaza commented on #370
https://duckduckgo.com/?q=python+re&ia=meanings

This looks solved to me 👍

[2016-09-26 15:35] #370 closed

[2016-09-26 18:14] MariagraziaAlastra commented on #384
Hey @souravbadami thanks for reporting this!
Doesn't seem like I can reproduce the issue, though:
![screenshot-duckduckgo com 2016-09-26 14-12-06](https://cloud.githubusercontent.com/assets/3652195/18846326/557176b8-83f3-11e6-9f10-2434b4801892.png)

Can you provide more information, please? Is [jquery callbacks.remove()](https://duckduckgo.com/?q=jquery+callbacks.remove()&t=ffab&ia=about) the exac

[2016-09-26 18:19] souravbadami commented on #384
Hey @MariagraziaAlastra! -- The query was **Jquery callbacks.remove()**
![screenshot from 2016-09-26 23 46 38](https://cloud.githubusercontent.com/assets/11073943/18846474/b5a32cac-8443-11e6-9d78-68470b865e0c.png)

[2016-09-26 18:30] MariagraziaAlastra commented on #384
@souravbadami Can you tell me what you see if you click on the "About" tab?

[2016-09-26 18:33] souravbadami commented on #384
@MariagraziaAlastra -- The about tab has the fathead. Why does this happen only for this query ?

[2016-09-26 18:36] MariagraziaAlastra commented on #384
@souravbadami It's totally normal to have more Instant Answers for a single query. I guess in this case there's a StackOverflow answer for it so that IA triggers as well.
You can switch to the tab related to the IA you find more useful when something like this happens :smile:

[2016-09-26 18:39] souravbadami commented on #384
Hmm, Then it appears fine. Closing it.

[2016-09-26 18:39] #384 closed

[2016-09-27 14:48] MariagraziaAlastra commented on #330
Fixed in #380. Thanks!

[2016-09-27 14:48] #330 closed

[2016-09-27 16:36] VitorVRS opened #386 "PHP: Switch source to php.net, build new open source FatHead"
When i search for fopen or fclose on duckduckgo, it show php's function definition.
But there is an "[" (open bracket) "lost" in the end, see on image.

![captura de tela de 2016-09-27 13 35 26](https://cloud.githubusercontent.com/assets/3956573/18882837/48ccd226-84b7-11e6-8dab-391181cfb847.png)

------
IA Page:  http://duck.co/ia/view/php
[Maintainer](http://docs.duckduckhack.com/maintaining/guid

[2016-09-27 17:26] moollaza commented on #172
@meetmangukiya thanks for your interest -- we don't have any requirements regarding productivity -- we're just happy to have volunteers to help us out 👍

This isn't exactly a trivial fix though. This is a Fathead Instant Answer so the article titles "css animation" is pulled from www.caniuse.com

In order to support the plural, we need to create a redirect.

We could have a manually curated file t

[2016-09-27 17:26] moollaza commented on #386
@VitorVRS thanks for reporting this.

It looks like this PHP Fathead isn't using the ideal documentation source anymore.

We should really implement a new, open source Fathead for the official PHP documentation. That will solve this and also ensure the Fathead is up to date.

Would you be interested in creating a parser for the PHP docs?

[2016-09-27 17:54] VitorVRS commented on #386
Do you mean create an crawler(scrap) for php docs or read from an specific dir?

[2016-09-27 22:30] samskeller commented on #309
Hey @GuiltyDolphin, sorry for the delay on this but I've just submitted a PR to support queries of git commands with single options. Take a look and let me know what you think! Thanks

[2016-09-28 14:21] meetmangukiya commented on #172
Then what is this file containing https://raw.githubusercontent.com/Fyrd/caniuse/master/fulldata-json/data-2.0.json ? I assumed it'd be the data which was used :confused:

[2016-09-28 14:35] meetmangukiya opened #390 "Search `prettyprint json` returns JSON Validator"
I'm not sure where it belongs, fathead, IA, move over to wherever it belongs :worried:

[2016-09-28 17:28] moollaza commented on #172
@meetmangukiya that's the JSON that Caniuse.com uses to build their site. We don't own that though and can't modify it for our purposes. You'll see that file is part of the Caniuse organization.

[2016-09-28 17:45] karanchahal commented on #233
I'm interested in solving this issue, can someone explain to me what exactly needs to be done ?

[2016-09-29 19:57] moollaza commented on #386
@VitorVRS yes, a crawler, written in Perl, Python, Ruby, or JavaScript (Node.js)

This repo is full of examples, like perl_doc, python, mdn_css, and ruby fatheads in https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead

[2016-09-29 20:24] VitorVRS commented on #386
Ok, i can do it.
I couldn't find on documentation what are the inputs and outputs for this crawler.
Write an parser is easy, my difficult is how to make it work on duckduckgo and how to test.

[2016-09-29 23:08] apfelchips opened #392 "Tldr Pages: !tldr bang doesn't work anymore"
The Tldr Pages switched their article base url from https://tldr.ostera.io/#/<command> to just https://tldr.ostera.io/<command>.

So right now the !tldr bang just always ends up at the startpage https://tldr.ostera.io/.

Should be an easy fix, but the corresponding code isn't public I guess.

------
IA Page:  http://duck.co/ia/view/tldr_pages
[Maintainer](http://docs.duckduckhack.com/maintaining/g

[2016-09-30 06:26] tagawa commented on #392
Thanks very much for reporting this @apfelchips. I've submitted an update to the URL format with our bang reporting form: https://duckduckgo.com/newbang so will close this issue.

[2016-09-30 06:26] #392 closed

[2016-09-30 13:26] #296 closed

[2016-09-30 14:02] moollaza commented on #386
@VitorVRS documentation is available here: https://docs.duckduckhack.com/resources/fathead-overview.html

If you need any help, feel free to ask questions. I would suggest you [join DDG Slack channel](https://quackslack.herokuapp.com/) where you can ask me, or the community, questions

[2016-09-30 14:11] VitorVRS commented on #386
@moollaza Oh thank you! I'll join the slack.

[2016-09-30 15:45] moollaza commented on #314
A PR has been received: #388

[2016-09-30 15:55] moollaza commented on #282
Commenting to update https://forum.duckduckhack.com/t/swift-search-overview/98

[2016-09-30 15:56] moollaza commented on #283
Commenting to update https://forum.duckduckhack.com/t/swift-search-overview/98

[2016-09-30 15:58] moollaza commented on #299
Commenting to update https://forum.duckduckhack.com/t/swift-search-overview/98

[2016-09-30 15:58] moollaza commented on #307
https://forum.duckduckhack.com/t/swift-search-overview/98

[2016-09-30 21:29] moollaza opened #394 "MDN CSS: Improve handling of -moz pseudo element/class redirects"
MDN has added `-moz` and `-webkit` Pseudo elements and classes, e.g. `::-moz-range-progress` and `:-moz-full-screen`

Some of these article titles contain parentheses in them (e.g. `:-moz-locale-dir(ltr)`) and we're creating redirects for them that aren't correct, e.g. `-moz-locale-dirltr`

We should add a space between the content in the `()` to create a redirect like `-moz-locale-dir ltr`

---

[2016-10-01 12:35] sahildua2305 commented on #283
@moollaza This is done here - https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/apple_docs_macos/parse.py#L114

[2016-10-01 12:40] sahildua2305 commented on #390
What were you expecting, @meetmangukiya

[2016-10-01 12:46] meetmangukiya commented on #390
JSON validator is not at all what I was expecting. I was looking for pretty printing a JSON file, which should assume it is a valid JSON file :confused:

[2016-10-01 12:49] sahildua2305 commented on #390
I know `JSON Validator` name may be misleading for your use case. I will take it to the Goodies repo to discuss with others. Meanwhile you can use the same `JSON Validator` as it gives you prettyprint version of JSON when it's valid. 😄

[2016-10-01 13:27] wellkun opened #396 "24:"
------
IA Page:  http://duck.co/ia/view/twentyfour
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-10-03 14:04] moollaza commented on #283
@sahildua2305 thanks for pointing that out!

[2016-10-03 14:04] #283 closed

[2016-10-03 14:05] #390 closed

[2016-10-03 14:09] moollaza commented on #382
@bibbitybarb1983 is there an issue with this Instant Answer you wanted us to know about?

Please update the title/description accordingly, if so.

[2016-10-03 14:09] #382 closed

[2016-10-03 15:01] rasikapohankar commented on #394
@moollaza I will make changes for the first part

[2016-10-03 15:52] MariagraziaAlastra commented on #369
Fixed now thanks to @bfmags

[2016-10-03 16:06] luc-- opened #398 "Wikipedia: show latex equation"
The current version of the wikipedia module can't read the latex equation written between `<math>`. For example with this query : https://duckduckgo.com/?q=Helmholtz+equation.

Why not trying to render it thanks to MathJax ? At least, having a correct render of the LateX form of the formula could be nice...

---

IA Page:  http://duck.co/ia/view/wikipedia_fathead
[Maintainer](http://docs.duckduckh

[2016-10-03 16:07] bfmags commented on #369
Hi @jagtalon thanks for opening this issue.

The entry for the Date article in `output.txt` file contains the correct code :

`Date    A                                        <pre><code>new Date();\nnew Date(value);\nnew Date(dateString);\nnew Date(year, month[, day[, hour[, minutes[, seconds[, milliseconds]]]]]);\n</code></pre>Creates a JavaScript Date instance that represents a single moment in

[2016-10-03 19:06] #360 closed

[2016-10-03 21:56] moollaza commented on #233
@karanchahal it looks like we should create a [Fathead Instant Answer](https://docs.duckduckhack.com/resources/fathead-overview.html) for the Numpy documentation.

This means we'll need to write a parser for the Numpy docs. It looks like the ideal entry point would be the [index](http://docs.scipy.org/doc/numpy/genindex.html)

We can iterate over all the entries there and produce a Fathead that pr

[2016-10-04 20:42] #361 closed

[2016-10-04 21:51] Mylainos opened #402 "C++ Reference Docs: Need a new maintainer"
For now I can't anymore be the maintainer of the C++ Reference Docs fathead, so we need a new maintainer !

@duckduckgo/duckduckhack-contributors would anyone out there be interested ?

Here are the pending issues : #301 #300 and #203.

Good luck !

https://duck.co/ia/view/cppreference_doc

[2016-10-04 21:59] sahildua2305 commented on #402
Being Language Leader for C++, I'd love to take over this FatHead. @Mylainos 😄

[2016-10-04 22:03] Mylainos commented on #402
Great ! Love to see how awesome this FatHead will be ;)

[2016-10-04 22:04] sahildua2305 commented on #402
/cc @moollaza

[2016-10-05 03:28] ManrajGrover commented on #402
I would like to take this one too. Since, I've been working on multiple Cheat Sheets, I feel I can improve this too.

[2016-10-05 03:42] mbad0la commented on #402
@sahildua2305 @Mylainos do let me know if you need some more help. I'd love to be of assistance.

[2016-10-05 06:41] sahildua2305 commented on #402
@mbad0la sure! Please have a look at the open issues that @Mylainos mentioned. :smile:

[2016-10-05 13:56] sahildua2305 commented on #402
@ManrajGrover You can improve this fathead without being a maintainer as well 🙂

However, if you want to be a maintainer to give your inputs, go ahead! It's yours. Thanks for being keen! 😄

[2016-10-05 15:46] moollaza opened #403 "HTMLRef: Reverse order of description and code snippet, use Fathead Template, switch source to MDN?"
Programming Fatheads (like CSS and JS) typically provide a description first, and then a code snippet below.

Some of the HTML code snippets are quite large and so the initial view contains to description which looks a little odd.

We should flip the order of the content here to follow suite and make it more clear what the result is about.

Now that we have [Fathead template HTML elements](https:/

[2016-10-05 16:01] moollaza opened #404 "Apple Docs iOS: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:10] moollaza opened #405 "Apple Docs MacOS: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:11] moollaza opened #406 "Beautifulsoup: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:13] moollaza opened #407 "C++ Reference Docs: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:14] moollaza opened #408 "Django Built-Ins: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:15] moollaza opened #409 "Java: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:18] moollaza commented on #402
I'll give maintainership to @ManrajGrover then 👍

Thanks everyone 🚀

[2016-10-05 16:20] moollaza opened #410 "JQuery: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:21] moollaza opened #411 "MDN CSS: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:23] moollaza opened #412 "NodeJS: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:24] moollaza opened #413 "Perl 6 Documentation: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:25] moollaza opened #414 "PerlDoc: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:25] moollaza opened #415 "PHP: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:26] moollaza commented on #415
Whoops, this is already being resolved in #399

[2016-10-05 16:26] #415 closed

[2016-10-05 16:26] moollaza commented on #103
Will be fixed in #399

[2016-10-05 16:26] #103 closed

[2016-10-05 16:28] moollaza opened #416 "Python: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:29] moollaza opened #417 "Ruby: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:30] moollaza opened #418 "Swift Docs: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:36] moollaza opened #419 "YUI3: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<div>` with c

[2016-10-05 16:37] moollaza opened #420 "MDN JavaScript: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:39] moollaza opened #421 "SASS: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:39] moollaza opened #422 "CanIUse: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:
- The entire abstract should be wrapped in a `<section>` wi

[2016-10-05 16:40] hchienjo commented on #411
Will make changes asap.

[2016-10-05 16:41] moollaza opened #423 "PyPi: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:41] moollaza opened #424 "Dive Into Python: Switch to use new Fathead Template Elements"
We now have [Fathead Template Elements](https://docs.duckduckhack.com/resources/fathead-overview.html#formatting-the-abstract) designed specifically for Programming Fatheads. These are HTML elements that should be added to the output.txt by each Programming Fathead's parsing script(s).

This Fathead should be updated to use the templates:

- The entire abstract should be wrapped in a `<div>` with

[2016-10-05 16:52] VeerpalBrar commented on #421
I will get to this ASAP!

[2016-10-06 10:27] bsstoner opened #425 "PHP: Wrong more at URL"
More at link goes to freedictionary.com

https://duckduckgo.com/?q=php+date

------
IA Page:  http://duck.co/ia/view/php
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @duckduckgo

[2016-10-06 10:29] sahildua2305 commented on #425
So it's a case of two IAs being triggered on the query. I am not sure how is such a case handled and how is an IA chosen to display as default.
/cc @moollaza

[2016-10-06 10:32] bsstoner commented on #425
@sahildua2305 how do you know that's the issue? As far as I know, we don't have any IA's that point to freedictionary.com.

Is it related to the stray open bracket? That also seems odd:
<img width="877" alt="screen shot 2016-10-06 at 6 31 43 am" src="https://cloud.githubusercontent.com/assets/126358/19149202/aaaf2812-8b8e-11e6-90cf-7a7c1e536ad1.png">

[2016-10-06 10:33] sahildua2305 commented on #425
@bsstoner I am deducing this from the fact that if you click on `Answer` tab, you will see expected results.

[2016-10-06 10:35] bsstoner commented on #425
@sahildua2305 Why is the IA under "Answer" the expected results? I think either IA is an acceptable answer. The fact that the more at link is wrong here in PHP Manual should be completely independent of the other IA.

[2016-10-06 10:37] sahildua2305 commented on #425
@bsstoner Sorry! Now I get it. I see that currently the PHP Fathead is internal and it will be replaced by a new fathead https://github.com/duckduckgo/zeroclickinfo-fathead/pull/399

[2016-10-06 13:33] VitorVRS commented on #425
@bsstoner you can see the new fathead here: https://beta.duckduckgo.com/?q=php+date

[2016-10-06 15:57] moollaza commented on #314
This Fathead is now live!

https://duckduckgo.com/?q=TVApplicationControllerContext

[2016-10-06 15:57] #314 closed

[2016-10-06 17:15] gaganpreet commented on #419
The YUI fathead can possibly be removed. YUI was discontinued 2 years ago and I can't imagine these results being of relevance anymore.

[2016-10-06 19:19] amarlearning commented on #298
@GuiltyDolphin can i take this one. ?

[2016-10-06 19:20] sahildua2305 commented on #298
@amarlearning Go ahead! It's yours. Let me know if you need any help. 😄

[2016-10-06 19:26] sahildua2305 commented on #419
Thanks for informing @gaganpreet! I will put a PR to remove this fathead once we get feedback from others.

[2016-10-06 20:30] amarlearning commented on #298
@sahildua2305 not able to find the trigger_words.txt file. Like perl_doc [trigger_words.txt](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/perl_doc/trigger_words.txt) has one.

[2016-10-06 20:33] sahildua2305 commented on #298
@amarlearning what do you want to do with the trigger words for the fathead. Is it related to this issue or are you asking about something else?

[2016-10-06 21:34] amarlearning commented on #298
@ManrajGrover in which file is the trigger query mentioned for this fathead ?

[2016-10-07 14:59] moollaza commented on #425
@bsstoner that's really odd. I updated the live metadata for the new PHP Fathead to work correctly on Beta. I have no idea though why the More at URL for the live Fathead changed. The URL should be coming straight from the DB.

Oddly we saw the same thing happen for the CSS Fathead when it was first launched: #306

There must be some internal bug that modifies the More at to point to thefreedictio

[2016-10-07 17:11] moollaza commented on #298
@amarlearning the trigger words are all defined/managed internally.

The `trigger_words.txt` file isn't actually used internally, yet.

The trigger words aren't required for Fatheads to work, but if you'd like to add some, go ahead and create a trigger_words.txt file. I can update the internal triggers accordingly.

[2016-10-07 17:29] amarlearning commented on #298
@moollaza i will do this.

[2016-10-08 09:56] karanchahal commented on #233
Yes,let me try to work on this issue.

[2016-10-09 02:30] moollaza commented on #425
An internal fix has been made and should be released to production soon.

[2016-10-09 16:55] souravbadami opened #428 "Apple Docs: There should be a fathead for watchOS."
Currently we have fatheads for iOS, macOS & tvOS. It would be great to have a fathead for watchOS.

[2016-10-10 15:43] moollaza commented on #428
@souravbadami can you please open a new topic on the forum for this in the [Swift section](https://forum.duckduckhack.com/c/programming/swift)?

That way we can monitor the coverage and organize the work to be done 👍

/cc @tagawa @MariagraziaAlastra

[2016-10-10 15:43] #428 closed

[2016-10-11 16:35] souravbadami commented on #33
@rpicard -- You mean an entry for `html h1` which redirect to `html h1-h6` and similarly for h2, h3, h4, h5 & h6 ?

[2016-10-11 17:36] #386 closed

[2016-10-11 17:36] #425 closed

[2016-10-11 18:41] #417 closed

[2016-10-11 18:47] #410 closed

[2016-10-12 09:18] pjhampton opened #435 "Python: Create New Redis-py Fathead"
# Redis-py Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing

[2016-10-12 09:45] vidhan13j07 commented on #435
I want to take up this issue.

[2016-10-12 09:48] pjhampton commented on #435
Woohoo! You rock @vidhan13j07!!

Let me know if you need any help.

[2016-10-12 10:26] bfmags opened #436 "NodeJS: Update Parser to latest API"
NodeJS [JSON reference file](https://nodejs.org/api/all.json) has had some changes to it's structure in latest versions of it's API resulting in the parser not handling the new structure and crashing.

- [ ] Update Parser to be compatible with latest API

Latest  v6.7.0 : https://nodejs.org/api/all.json
Previous structure : https://web.archive.org/web/20150908053932/https://nodejs.org/api/all.json

[2016-10-12 14:13] akanshgulati commented on #403
@sriranganathan If things are clear to you, you can take the issue. But, we are also thinking to change the source from HTML5Doctor to MDN. Can u do that too? It will be a completely new Fathead then.

[2016-10-12 14:22] sriranganathan commented on #403
@akanshgulati I will change the source to MDN. Should I make the changes in the existing fathead or create a new one?

[2016-10-12 15:36] FotiosTragopoulos opened #437 "Apple Docs iOS:"
------
IA Page:  http://duck.co/ia/view/apple_docs_ios
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

IA Page: https://developer.apple.com/library/prerelease/content/navigation/#section=Platforms&topic=iOS
[Maintainer] @FotiosTragopoulos

[2016-10-12 15:38] FotiosTragopoulos opened #438 "Apple Docs watchOS:"
------
IA Page:  http://duck.co/ia/view/apple_docs_watchos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @souravbadami

IA Page: https://developer.apple.com/library/prerelease/content/navigation/#section=Platforms&topic=watchOS
[Maintainer] @FotiosTragopoulos

[2016-10-12 16:27] akanshgulati commented on #403
@sriranganathan You have to make changes in the existing fathead only so that we can keep the same IA page and as we have to use only one so replacing will be the best way. You can start your work :)
Thanks for volunteering.

[2016-10-12 18:44] moollaza commented on #437
@FotiosTragopoulos is there an issue you wanted to point out with this Instant Answer?

[2016-10-12 18:44] #437 closed

[2016-10-12 18:44] moollaza commented on #438
@FotiosTragopoulos is there an issue with this Instant Answer you wanted to point out?

[2016-10-12 18:44] #438 closed

[2016-10-12 19:33] FotiosTragopoulos commented on #438
Hello, I will be happy to contribute in DuckDuckGo IA. If you type on DuckDuckGo search bar "Apple Docs WatchOS" the first result is not the right result and there is not an IA. Did I get it right?

[2016-10-12 19:37] FotiosTragopoulos commented on #437
@moollaza if you type Apple Docs iOS in DuckDuckGo search bar the first result is wrong. and there is not IA.

[2016-10-13 12:18] shanmbic commented on #435
Hey! @pjhampton can i take up this issue too ??sAS @vidhan13j07 is already on it !

[2016-10-13 19:31] moollaza opened #442 "Java: Parse.py throws warning about no parser being specified"
When running the parser I see a warning:

[code]

This `parse.py` should be updated accordingly to prevent this warning from being displayed.

------
IA Page:  http://duck.co/ia/view/java

[2016-10-13 19:34] moollaza commented on #442
@duckduckgo/duckduckhack-contributors are there any python devs out there interested in fixing this up?

I believe it's a quick and easy fix 👍

[2016-10-13 19:36] hchienjo commented on #442
@moollaza on it.

[2016-10-13 20:30] pjhampton opened #444 "Create New Flask Fathead"
# Flask Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing th

[2016-10-13 20:34] pjhampton opened #445 "Python: Create New Jinja2 Fathead"
# Jinja2 Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing t

[2016-10-13 20:40] pjhampton opened #446 "Create New Pika Fathead"
# Pika Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing the

[2016-10-13 21:14] conormag94 commented on #445
I'd like to give this one a go if I may 😃

[2016-10-13 21:26] #442 closed

[2016-10-13 21:51] pjhampton commented on #445
Hey @conormag94!!

Yeah, definitely. It's all yours! ping me if you need some help / guidance

[2016-10-13 22:00] moollaza commented on #436
@duckduckgo/duckduckhack-contributors would any JavaScript developers be interested in fixing this?

You'll ned to look at what has changed in the structure of the NodeJS JSON structure, and update `parse.js` accordingly.

[2016-10-13 22:26] VitorVRS commented on #436
I can do it

[2016-10-13 22:34] moollaza commented on #436
@VitorVRS awesome! Thanks for volunteering 👍

[2016-10-14 01:05] conormag94 commented on #445
@pjhampton

Okay great thanks! I have the basic fathead files set up but I have one initial question actually.

What information should I actually be capturing from the docs?
I'm assuming its the stuff on this page: http://jinja.pocoo.org/docs/dev/templates/

Should I start with [Control Structures](http://jinja.pocoo.org/docs/dev/templates/#list-of-control-structures) just to get started?

[2016-10-14 03:50] moollaza commented on #437
@FotiosTragopoulos the Apple Docs iOS Fathead isn't exactly intended to handle the case when the query matches the IA name, rather it's intended to trigger on keywords from within the actual documentation (e.g. [requestImageForAsset](https://duckduckgo.com/?q=requestImageForAsset&ia=about))

We do have plans to develop a "meta IA" for each search space though that would help users discover the ava

[2016-10-14 05:17] sriranganathan commented on #446
@pjhampton Can I take up this issue?

[2016-10-14 07:40] bfmags commented on #420
Done!

[2016-10-14 07:40] #420 closed

[2016-10-14 08:19] FotiosTragopoulos commented on #437
@moollaza Ok I get it. How can I contribute in the project then?

[2016-10-14 08:54] pjhampton commented on #446
Of course you can @sriranganathan!! Let me know if you need any help 😄

💛  💙  ❤️  💜  💚

[2016-10-14 11:36] shanmbic commented on #444
Hey @pjhampton ! I would like to work on this. =D

[2016-10-14 12:13] pjhampton commented on #444
All yours @shanmbic!! Thanks!

💛  💙  ❤️  💜  💚

[2016-10-14 12:45] altern8tif commented on #172
@moollaza is it advisable to manually curate the `output.txt` file to insert in redirects for certain triggers?  Does DDG run the parser periodically to regenerate the `output.txt` file (or when someone clears cache)?

Doing it programmatically seems a bit of an overkill when the types of aliases (plurals or non-hyphenated words) may vary amongst the keys.

[2016-10-14 13:05] altern8tif commented on #418
@moollaza @jagtalon if you don't mind, would fancy having a go at this.  Will probably submit a PR over the weekend.

[2016-10-14 13:54] pjhampton opened #452 "Create New httplib2 Fathead"
# httplib2 Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing

[2016-10-14 16:02] Marie-Donnie commented on #452
Hi, can I try to tackle this one ?

[2016-10-14 16:03] iamrajhans commented on #452
I too want to work on this.

[2016-10-14 16:07] pjhampton commented on #452
Hey @Marie-Donnie. It's all yours!! 💙  💛

@iamrajhans, sorry @Marie-Donnie got here first. I will create another one and reserve it for you?

[2016-10-14 16:11] pjhampton opened #453 "Python: Create New Six Library Fathead"
# Six Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing the

[2016-10-14 16:11] pjhampton commented on #453
What about his one @iamrajhans?

[2016-10-14 16:19] iamrajhans commented on #453
ya will work on this one.

[2016-10-14 16:23] pjhampton commented on #453
You rock @iambibhas 😄

[2016-10-14 16:29] #436 closed

[2016-10-14 16:30] bfmags commented on #436
Thanks @VitorVRS 👍

[2016-10-14 17:41] babhishek21 commented on #453
I'm interested! :hand:

[2016-10-14 19:05] pjhampton opened #455 "Python: Create New Pip Fathead"
# Pip Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing the

[2016-10-14 19:06] pjhampton commented on #453
Sorry @babhishek21 😞  @iambibhas has pledged to take this forward. Maybe you would be interested in #455 instead? Is so, claim it!! 😄

[2016-10-14 19:14] pjhampton commented on #445
Hey @conormag94,

Sorry for the late reply!! The idea is that there should be only one output.txt file by the end, but yeah. You can start there and we can take it from there 👍

I recommend taking a look at these two links for a bit more information regarding that file:

https://docs.duckduckhack.com/resources/fathead-overview.html#data-file-format
https://github.com/duckduckgo/zeroclickinfo-fathe

[2016-10-14 19:16] babhishek21 commented on #455
Is this open? Can I work on this?

[2016-10-14 19:17] pjhampton commented on #455
Yeah, definitely @babhishek21 😄  It's all yours!! Ping me if you have any questions!

💛  💙  ❤️  💜  💚

[2016-10-15 09:03] sahildua2305 commented on #407
I'll push PR for this later today.

[2016-10-15 19:00] shanmbic commented on #444
Hey @pjhampton . I have created a PR for this issue . Could you please review it and suggest improvements. Please do have a look at the output.txt file . Thanks :)
https://github.com/duckduckgo/zeroclickinfo-fathead/pull/459

[2016-10-15 19:52] pjhampton commented on #444
😍  This looks good @shanmbic!!

I will get looking at this over the next couple of days 💙  💛

[2016-10-15 20:07] pjhampton opened #460 "Python: Create New Werkzeug Fathead"
# Werkzeug Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing

[2016-10-15 20:14] pjhampton opened #461 "Python: Create New Nose Library Fathead"
# Nose Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containing the

[2016-10-15 21:37] sahildua2305 commented on #402
@Mylainos Can you please do some knowledge transfer about this fathead's implementation?

I had a look at the code and it has no parsing logic in the repo. The entire logic for parsing is in the file downloaded from the reference doc link. Am I missing something?

[2016-10-15 22:28] pjhampton opened #462 "Python: Create New SQLAlchemy Fathead"
# SQLAlchemy Fathead

Contribute to DuckDuckGo!

![screen shot 2016-10-09 at 8 57 29 pm](https://cloud.githubusercontent.com/assets/8960296/19304432/84ef4e6a-9064-11e6-819e-07c5dda0fe13.png)
### What you will need to know?

Either Python (Preferrable for this mission), Ruby, Perl or JavaScript for Fatheads. You will download the Python redis client source and create an **output.txt** file containi

[2016-10-15 23:58] shubh1m commented on #462
I want to work on this issue.

[2016-10-16 03:30] vidhan13j07 commented on #460
I'll take up this issue.

[2016-10-16 03:47] shanmbic commented on #444
@PJhampton Thanks a lot :) !

[2016-10-16 09:11] pjhampton commented on #460
Sure @vidhan13j07 😄

[2016-10-16 23:08] lernae commented on #201
I'm looking into this.

[2016-10-17 14:30] shravan97 commented on #462
I would like to take this issue up  :)

[2016-10-17 14:36] pjhampton commented on #462
Sure @shravan97 :-) let me know if you need any help!!

[2016-10-17 21:26] moollaza commented on #435
@pjhampton thanks for proposing this!

Can you please port this to the Forum though?

We're trying to keep GH Issues for existing IAs. Anything new should be proposed and discussed on the forum, so we can also track it's progress and performance metrics 👍

Please cross-post the link to the forum topic in @vidhan13j07 's PR as well

[2016-10-17 22:01] pjhampton commented on #435
Sure @moollaza! This was the only way (as far as I know) to connect this to hacktoberfest. We can chat more about this off gh :)

[2016-10-19 15:22] bfmags commented on #412
@moollaza Good to test!

[2016-10-20 02:09] rnkaufman commented on #461
I'm interested in tackling this issue!

[2016-10-20 09:25] pjhampton commented on #461
Hey @rnkaufman. Definitely. It's all yours. Please sign up to forum.duckduckhack.com to discuss this fathead development

[2016-10-21 01:40] #421 closed

[2016-10-21 01:48] moollaza commented on #437
@FotiosTragopoulos sorry for the late reply, I see you've already joined the forum: https://forum.duckduckhack.com

If you're interested in pushing forward one of the current programming languages, please checkout the overview post for the languages to see if there are any projects that need a developer. If not, you're welcome to suggest potential projects and work on those.

If you're just lookin

[2016-10-21 01:52] moollaza commented on #172
@altern8tif yes that's totally fine. For the Perl Fathead, we've created a [`redirects.txt`](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/perl_doc/Parsers/redirect.txt) file, that the Parser uses to add in redirects to the `output.txt` file. We can't directly modify the `output.txt` because it needs to be reliably re-generated whenever needed.

Currently no, we don't

[2016-10-21 03:49] tagawa commented on #461
Hi @rnkaufman - thank you for volunteering!
I've created a project page for this Fathead Instant Answer (IA): https://forum.duckduckhack.com/t/nose-docs-fathead/1034
The next step is to create an IA page here: https://duck.co/ia/new_ia with a description and some example search queries that you think should make the IA appear.

As @pjhampton says, please visit the forum and feel free to ask for su

[2016-10-21 16:31] bfmags opened #471 "JavaScript: Create New AngularJS Fathead"
# AngularJS Fathead

Contribute to DuckDuckGo!

<img width="852" alt="screen shot 2016-10-21 at 16 36 35" src="https://cloud.githubusercontent.com/assets/3740101/19604348/c45e9520-97ac-11e6-8503-d18e9f94fa3e.png">
### What you will need to know?

Either **JavaScript**, Python, Ruby, or Perl for Fatheads. Bash is also useful. You will download the reference source and create an **output.txt** file

[2016-10-21 17:11] bfmags opened #472 "JavaScript: Create New Angular 2 Fathead to show doc snippets"
# Angular 2 Fathead

Contribute to DuckDuckGo!

<img width="852" alt="screen shot 2016-10-21 at 16 36 35" src="https://cloud.githubusercontent.com/assets/3740101/19604348/c45e9520-97ac-11e6-8503-d18e9f94fa3e.png">
### What you will need to know?

Either **JavaScript**, Python, Ruby, or Perl for Fatheads. Bash is also useful. You will download the reference source and create an **output.txt** file

[2016-10-21 17:19] bfmags opened #473 "JavaScript: Create New ReactJS Fathead"
# ReactJS Fathead

Contribute to DuckDuckGo!

<img width="852" alt="screen shot 2016-10-21 at 16 36 35" src="https://cloud.githubusercontent.com/assets/3740101/19604348/c45e9520-97ac-11e6-8503-d18e9f94fa3e.png">
### What you will need to know?

Either **JavaScript**, Python, Ruby, or Perl for Fatheads. Bash is also useful. You will download the reference source and create an **output.txt** file co

[2016-10-21 17:26] bfmags opened #474 "JavaScript: Create New Bower Fathead"
# Bower Fathead

Contribute to DuckDuckGo!

<img width="852" alt="screen shot 2016-10-21 at 16 36 35" src="https://cloud.githubusercontent.com/assets/3740101/19604348/c45e9520-97ac-11e6-8503-d18e9f94fa3e.png">
### What you will need to know?

Either **JavaScript**, Python, Ruby, or Perl for Fatheads. Bash is also useful. You will download the reference source and create an **output.txt** file cont

[2016-10-21 19:06] dip-kush commented on #473
I would like to work on this.

[2016-10-21 20:15] bfmags commented on #473
Hi @dip-kush ! You got it! :)

Let me know if you need any help or reach out the [Community Leaders](https://duck.co/help/community/community-leaders) at [DuckDuckHack Slack](https://quackslack.herokuapp.com/)

Also, the [forum.duckduckhack.com](https://forum.duckduckhack.com/c/programming/javascript) is a great place to discuss Fathead Development

Good luck!

[2016-10-22 12:27] NamPNQ commented on #474
I would like to work on this.

[2016-10-22 12:27] NamPNQ commented on #472
I would like to work on this.

[2016-10-22 12:27] NamPNQ commented on #471
I would like to work on this.

[2016-10-22 15:21] pjhampton commented on #474
Awesome @NamPNQ, it's all yours 😄

[2016-10-22 15:22] pjhampton commented on #472
Fatheads are pretty intensive to work on @NamPNQ. I recommend you just work on one for the time being. If that goes well, you should definitely take this up!

[2016-10-22 23:41] rafaelpadovezi commented on #471
I'm interested too.

[2016-10-23 06:55] kousiksatish commented on #471
I am a new contributor and am interested to work on it.

[2016-10-23 06:55] kousiksatish commented on #472
I am a new contributor and am interested to work on it.

[2016-10-23 07:23] NamPNQ commented on #472
@kousiksatish Good to hear it, and you can do it

[2016-10-23 07:24] NamPNQ commented on #471
@rafaelpadovezi  @kousiksatish Good to hear it

/cc @bfmags Please assign a person do it

[2016-10-23 09:16] bfmags commented on #471
@NamPNQ Thanks!
@kousiksatish is working on the Angular 2 Fathead https://github.com/duckduckgo/zeroclickinfo-fathead/issues/472
@rafaelpadovezi you can have this one 👍

Don't forget to join [The Forum](https://forum.duckduckhack.com/c/programming/javascript) and [DuckDuckHack Slack](https://quackslack.herokuapp.com/) for help/discuss the fathead!

[2016-10-23 09:18] bfmags commented on #472
Thanks @kousiksatish! 👍 Reach out if you need any help

[2016-10-23 12:47] rafaelpadovezi commented on #471
@bfmags Ok! Thanks!

[2016-10-23 13:10] kousiksatish commented on #472
@bfmags Thanks...!

[2016-10-24 14:42] shravan97 commented on #462
Is [this](http://docs.sqlalchemy.org/en/latest/orm/tutorial.html) a good page to take code snippets and functions from ? @pjhampton

[2016-10-24 18:16] pjhampton commented on #462
hey @shravan97! Thanks for reaching out 😄
It sure is! That is exactly the sort of information we want to extract

[2016-10-25 00:15] #423 closed

[2016-10-25 16:24] #414 closed

[2016-10-25 17:19] #201 closed

[2016-10-25 17:34] marti1125 commented on #409
Hi! Is there any update? =/

[2016-10-25 18:24] #416 closed

[2016-10-26 01:08] rnkaufman commented on #461
Thank you both and sorry for the delay. I will get this out by the end of this week. Thank you for the resources!

[2016-10-26 07:23] bfmags commented on #473
@dip-kush
please take a look at @MariagraziaAlastra comments on https://github.com/duckduckgo/zeroclickinfo-fathead/pull/476
If you can make those changes and create a new PR would be great!
Thanks!

[2016-10-26 11:14] dip-kush commented on #473
I will look into it

[2016-10-26 17:19] moollaza commented on #462
@shravan97 I've invited you to the DuckDuckHack Contributors team -- once you accept, we'll be able to assign issues to you in the future 👍

[2016-10-26 21:00] #424 closed

[2016-10-27 08:43] bfmags commented on #471
@rafaelpadovezi Updated topic. We can use the search json https://docs.angularjs.org/js/search-data.json that contains partial URL to the API source files

[2016-10-28 01:17] #411 closed

[2016-10-28 01:17] #394 closed

[2016-10-28 08:56] NamPNQ commented on #474
IA Page:  http://duck.co/ia/view/bower

[2016-10-28 15:29] sahildua2305 commented on #402
@moollaza do you have an idea about this fathead?

[2016-10-28 15:53] sahildua2305 commented on #405
Fixed in #447

[2016-10-28 15:53] #405 closed

[2016-10-28 15:56] sahildua2305 commented on #404
Fixed via #448

[2016-10-28 15:56] #404 closed

[2016-10-28 15:58] sahildua2305 commented on #408
Fixed via #456

[2016-10-28 15:58] #408 closed

[2016-10-28 16:00] sahildua2305 commented on #412
Fixed via #433

[2016-10-28 16:00] #412 closed

[2016-10-28 17:11] mintsoft commented on #402
@sahildua2305 https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/c%2B%2B_ref/parse.js

[2016-10-28 17:48] sergey-krusch commented on #407
The way it is organized currently is: the data generation script for DDG is actually hosted on cppreference.com. I assume that this is a known and a preferred way of organizing this. If not, then... it needs to be changed :)
Anyway, I have a fix. But because it requires several steps (make a commit to the cppreference.com repo and then wait for it to appear in the cppreference.com archives) I'd li

[2016-10-28 17:50] sahildua2305 commented on #402
Oh! I was looking at [this](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/cppreference_doc/fetch.sh).

Thanks @mintsoft 😄

[2016-10-29 05:57] sergey-krusch commented on #407
@sahildua2305 Yeah, I've seen it. But the issue seems to be referring to the cppreference_doc specifically. Though this is something that needs clarification as well.

[2016-10-30 14:26] pbronez commented on #235
I'll take a look at this!

[2016-11-01 15:38] marti1125 opened #490 "Java: Update parser to create output.txt articles for class methods"
### Description
Add coverage for class methods so we have answers for things like `decimalstyle equals`.

https://docs.oracle.com/javase/8/docs/api/index.html?java/time/format/DecimalStyle.html

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your

[2016-11-01 15:41] marti1125 opened #491 "Java: Create category pages for class methods"
Here's an example of a category page for Ruby.
https://duckduckgo.com/?q=ruby+array+methods&t=canonical&atb=v23&ia=list

[2016-11-01 19:21] hchienjo opened #492 "SASS: Missing newlines in codeblocks"
Some of the example codes do not have the a newline separating the lines of codes resulting in all the lines being joined instead of each being on its own.
Example of this is https://duckduckgo.com/?q=sass+opacify&atb=v23&ia=about&iax=1

------
IA Page:  http://duck.co/ia/view/sass
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @VeerpalBrar

[2016-11-01 19:25] hchienjo opened #493 "SASS: Remove extra newline above 'parameters'"
There is an extra newline above 'parameters' subheading as can be seen for example, from here https://duckduckgo.com/?q=sass+opacify&t=lm&ia=about&iax=1

This needs to be removed.

------
IA Page:  http://duck.co/ia/view/sass
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @VeerpalBrar

[2016-11-01 19:32] hchienjo opened #494 "SASS: Add coverage for all methods in 'method list' side panel."
### Description
We need to extend the parser to fetch the method list from the [sass documentation](http://sass-lang.com/documentation/). An example instance method is (http://sass-lang.com/documentation/Sass/Tree/Node.html#%3C%3C-instance_method).

You'll need to edit [fetch.sh](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/lib/fathead/sass/fetch.sh) and add the [instance method

[2016-11-01 19:38] hchienjo opened #495 "SASS: Add coverage for all the classes in the "class list""
The methods in the "class list" side panel need to be parsed. Here is how the class list appears on the site:
![class](https://cloud.githubusercontent.com/assets/13175534/19904480/d7307e4a-a083-11e6-86fd-70a29bb67f17.png)

------
IA Page:  http://duck.co/ia/view/sass
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @VeerpalBrar

[2016-11-01 20:40] sahildua2305 commented on #407
@moollaza can you please confirm?

[2016-11-01 20:43] sahildua2305 commented on #402
@mintsoft can you confirm whether https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/c%2B%2B_ref is the one which is live?

[2016-11-02 09:12] Hestben commented on #113
This issue seems to be fixed (The example works for me).

[2016-11-02 11:33] amarlearning commented on #402
@sahildua2305 i think [this](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/c%2B%2B_ref) one is not live!
As far as I checked there is no IA page for this Fathead.

While on the other hand, [this](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/cppreference_doc) one has it's own [IA page](https://duck.co/ia/view/cppreference_doc)

[2016-11-02 13:50] moollaza commented on #402
@sahildua2305 @mintsoft it looks like `c++_ref` should be removed. The [cppreference_doc](https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead/cppreference_doc) is the one that should house the code for this IA, because the dir matches the IA Page ID.

[2016-11-02 13:54] sahildua2305 commented on #402
@moollaza However, we have to implement the fathead again then. Because `cppreference_doc` isn't hosted in our repo and hence not maintainable. What do you think?

[2016-11-02 13:55] moollaza commented on #407
@sahildua2305 @sergey-krusch I happened to [discuss this on the Forum](https://forum.duckduckhack.com/t/create-ia-fathead-for-c-library-functions/1042/23?u=moollaza) yesterday :)

The cppreference_doc Fathead is extremely old and needs to be rebuilt. @sergey-krusch I was not aware that cppreference.com had an open-source repo though -- does it house the code that is being passed along to us in the

[2016-11-02 13:59] moollaza commented on #402
Yes I agree we need to re-implement it. If the original creator is still around (See https://github.com/duckduckgo/zeroclickinfo-fathead/pull/50) then perhaps this can be discussed with him, that we would prefer to maintain the parsing code within our repo moving forward.

[2016-11-02 13:59] #402 closed

[2016-11-02 14:02] moollaza commented on #407
@sahildua2305 @sergey-krusch the other code in the `c++_ref` should be removed from the repo, or adapted for this IA. Either way, the code used for the IA with ID `cppreference_doc` needs to live in the `cppreference_doc` directory 👍

[2016-11-02 18:19] kotoshenya opened #500 "Ruby Fathead Suggestion: Add usage examples to an infobox"
### Description

For classes, parse out all the usage examples and add them to an infobox. For example the result for ruby array could have an infobox that includes links to articles for "creating arrays", "accessing elements", "obtaining information about an array" and other from this page http://ruby-doc.org/core-2.3.1/Array.html

## Steps to recreate

* Search for “[ruby array](https://duckduck

[2016-11-02 19:30] MariagraziaAlastra opened #501 "Apple Docs macOS Bug: Stop triggering on irrelevant search queries"
### Description
Apple Docs macOS is overtriggering, which means it triggers on queries that are not relevant, and this results in a poor search experience for users.

## Steps to recreate
Some example searches on which it shouldn't trigger:
  - https://duckduckgo.com/?q=skindex&ia=about
  - https://duckduckgo.com/?q=apple+downloads&ia=about
  - https://duckduckgo.com/?q=apple+push&ia=about
  - htt

[2016-11-02 19:31] MariagraziaAlastra commented on #299
Closing this as it's integrated in #501, thanks!

[2016-11-02 19:31] #299 closed

[2016-11-02 20:10] MariagraziaAlastra opened #502 "Apple Docs macOS: broaden search results by adding article aliases (redirects)"
## Description
The [Output.txt](https://raw.githubusercontent.com/duckduckgo/zeroclickinfo-fathead/master/lib/fathead/apple_docs_macos/output.txt) file contains a list of search results for this Instant Answer.

Each row contains a search result, which corresponds to an article in the Apple Docs macOS documentation, and is divided into columns: article title, type, content...

[Learn more about th

[2016-11-02 20:21] MariagraziaAlastra opened #503 "Apple Docs macOS: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-02 20:23] MariagraziaAlastra opened #504 "Apple Docs iOS: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-02 20:29] MariagraziaAlastra opened #505 "Apple Docs iOS: "more at" link should be more specific"
### Description
The "more at" link for https://duckduckgo.com/?q=ios+sendAction&t=canonical&atb=v23&ia=about goes to the top of the page for the class. It could instead link to this page https://developer.apple.com/reference/uikit/uicontrol/1618237-sendaction

## People to notify
@jagtalon @souravbadami

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing

[2016-11-02 20:31] MariagraziaAlastra opened #506 "Apple Docs iOS: add coverage for attributes"
### Description
Add coverage for attributes.
Examples: UIControl isEnabled, UIControl isHighlighted

## People to notify
@jagtalon @souravbadami

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environment](https://docs.duckduckhac

[2016-11-03 12:27] tagawa commented on #500
@koosha-- @mohan08p @Mav7 @Sayanc93 Hi there Ruby developers! We're trying to improve our documentation IA for Ruby developers (example: "[ruby array length](https://duckduckgo.com/?q=ruby%20array%20length&ia=about)")
Would anyone be interested in taking on this issue to add more examples to it?

[2016-11-03 13:05] moollaza opened #507 "Java: Create new JavaFX Docs Fathead"
# New JavaFX Fathead
Help us make DuckDuckGo the best search engine for programmers!

### What do I need to know?
You'll need to know how to code in **Perl**, **Python**, **Ruby**, or **JavaScript**.
![fathead languages](https://cloud.githubusercontent.com/assets/873785/19787916/57b4c31a-9c73-11e6-9bd9-f85c8893ec93.jpg)

### What am I doing?
You will write a script that scrapes or downloads the da

[2016-11-03 13:14] MariagraziaAlastra opened #508 "Swift Docs: fetch and parse the Operators section"
### Description
Fetch and parse the articles in the Operators section of [Swiftdocs](http://swiftdoc.org/v2.2/), and add them to the Output.txt file.
<img width="1209" alt="screen shot 2016-11-03 at 9 14 00 am" src="https://cloud.githubusercontent.com/assets/3652195/19967244/e2a65f42-a1a5-11e6-94d6-cf8c6a305159.png">

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our

[2016-11-03 13:16] MariagraziaAlastra opened #509 "Swift Docs: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 13:20] moollaza commented on #507
@lakshmanaram are you still interested in tackling this one?

[2016-11-03 13:50] NickCalabs commented on #505
I'll take this

[2016-11-03 13:53] moollaza commented on #318
Thanks for reporting!

Deleted articles are removed when we update our Database. It should go away after a day or two I believe

[2016-11-03 13:53] #318 closed

[2016-11-03 13:53] #244 closed

[2016-11-03 13:54] #220 closed

[2016-11-03 13:55] moollaza commented on #223
Looks like this is fixed?

[2016-11-03 13:55] #223 closed

[2016-11-03 13:58] moollaza commented on #134
Looks to be fixed: https://duckduckgo.com/?q=ios+devices&t=opera&ia=web

[2016-11-03 13:58] #134 closed

[2016-11-03 13:58] moollaza commented on #110
HTML is also being taken care of by the new HTML Fathead 👍

[2016-11-03 13:59] #113 closed

[2016-11-03 14:00] #99 closed

[2016-11-03 14:56] lakshmanaram commented on #507
@moollaza I am very interested in working on it. I was waiting for affirmation on the forum, I shall start work right away..
IA Page: [https://duck.co/ia/view/javafx](https://duck.co/ia/view/javafx)

[2016-11-03 15:02] MariagraziaAlastra commented on #505
Thanks @NickCalabs!

[2016-11-03 18:00] MariagraziaAlastra opened #510 "MDN CSS: add coverage data"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 18:13] MariagraziaAlastra opened #511 "NodeJS Bug: not triggering for some articles"
### Description
A lot of the docs articles don't trigger. E.g. searching for "node dns lookupService", "node child disconnect", and "node http message service" don't show a NodeJS result. Investigate why.

## Steps to recreate
- [node dns lookupService](https://duckduckgo.com/?q=node+dns+lookupService&bext=msl&atb=v32-1__&ia=software)
- [node child disconnect](https://duckduckgo.com/?q=node+child+

[2016-11-03 18:16] MariagraziaAlastra opened #512 "NodeJS Bug: incorrect "more at" link"
### Description
The "more at" link is incorrect. E.g. for the query "node http.Agent" the link is http://nodejs.org/api/all.html#all_http.agent, which doesn't exist and redirects to the docs main page. Instead it should be https://nodejs.org/api/all.html#http_class_http_agent.

## Steps to recreate
- [node http.Agent](https://duckduckgo.com/?q=node+http.Agent&atb=v32-1__&ia=about)

## Get Started

[2016-11-03 18:19] MariagraziaAlastra opened #513 "NodeJS: add common redirects (aliases)"
### Description
Add common redirects, for example replace symbols such as dots with spaces; e.g. "http.Agent" should have a "http agent" redirect.

## Steps to recreate
- [node http.Agent](https://duckduckgo.com/?q=node+http.Agent&atb=v32-1__&ia=about) triggers
- [node http agent](https://duckduckgo.com/?q=node+http+agent&atb=v32-1__&ia=software) doesn't trigger

## Get Started
- [ ] 1) Claim this

[2016-11-03 18:22] MariagraziaAlastra opened #514 "NodeJS: shorter paragraphs and more visible examples"
### Description
Currently we show the whole description for each article, which results in a cluttered and often too wordy answer, and the examples usually are too far down and require the user to expand the content. We should instead show the first sentence and then the examples when available.

<img width="966" alt="screen shot 2016-11-03 at 2 21 59 pm" src="https://cloud.githubusercontent.com/a

[2016-11-03 18:27] MariagraziaAlastra opened #515 "NodeJS: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 18:35] MariagraziaAlastra opened #516 "jQuery: broaden search results by adding article aliases (redirects)"
### Description
 Add redirects using each of the article's categories + the method name. E.g, the article "jQuery.get" is in the Ajax category, so we should add an "ajax get" redirect.
You can find the categories at the top of each article's page, under the title:
<img width="427" alt="7cdf39eaceaaf11888dc8ca7798284b13c55b9ca" src="https://cloud.githubusercontent.com/assets/3652195/19979957/a87d8c

[2016-11-03 18:37] MariagraziaAlastra opened #517 "jQuery: Create separate category pages depending on an articles master category"
### Description
Use different categories pages depending on the article's master category: right now all the articles are under "jquery methods" but it might be more useful to divide them and have, e.g, a "CSS" category page, as well as "Attributes", "Core", "Data"...

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckg

[2016-11-03 18:38] MariagraziaAlastra opened #518 "jQuery: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 18:46] MariagraziaAlastra opened #519 "PHP Bug: bracket shows up after code block"
### Description
A square bracket shows up after the code here:
<img width="930" alt="screen shot 2016-11-03 at 2 44 12 pm" src="https://cloud.githubusercontent.com/assets/3652195/19980352/03186620-a1d4-11e6-85be-f34c610b28ef.png">

## Steps to recreate
[php array merge](https://duckduckgo.com/?q=php+array+merge&ia=about)

## People to notify
@VitorVRS

## Get Started
- [ ] 1) Claim this issue by c

[2016-11-03 18:48] VitorVRS commented on #519
The PHP fathead was rewrited and are still in beta.
You can see it here: https://beta.duckduckgo.com/?q=php+array+merge&ia=about

[2016-11-03 18:51] MariagraziaAlastra commented on #519
Thanks @VitorVRS!

[2016-11-03 18:51] #519 closed

[2016-11-03 18:54] MariagraziaAlastra opened #520 "PHP: add examples and return values"
### Description
Add examples and return values. For example, [fopen](https://duckduckgo.com/?q=php+fopen&t=canonical&ia=about) could include the examples at the end of the docs page http://php.net/manual/en/function.fopen.php#refsect1-function.fopen-examples

## People to notify
@VitorVRS

## Get Started
- [x] 1) Claim this issue by commenting below
- [x] 2) Review our [Contributing Guide](https:/

[2016-11-03 18:55] MariagraziaAlastra opened #521 "PHP: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 19:03] MariagraziaAlastra opened #522 "Python: List all topic titles and language features to help measure coverage"
### Description
For every Fathead, we need to gather the set of articles we wish to provide coverage for.
Create a `cover/` directory containing text files that list all the topic titles and language features to cover.
These lists will then be used as Unit tests to help you measure the Fathead's coverage.
For more info please see [the docs](https://docs.duckduckhack.com/programming-mission/creatin

[2016-11-03 19:06] MariagraziaAlastra opened #523 "Python Bug: missing parentheses in code blocks"
### Description
missing parentheses in some method code blocks
https://duckduckgo.com/?q=python+unittest+teardown&atb=v23&ia=about1
should be `tearDown()`

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development environment](https://docs.d

[2016-11-03 19:12] MariagraziaAlastra opened #524 "Python: remove newline after the code block"
### Description
Remove newline after code blocks to save some space.
![4ff931ff6f7eec2a6a4a0bc7656e6ea9b2155009](https://cloud.githubusercontent.com/assets/3652195/19981210/643a6b4e-a1d7-11e6-93fe-dfea12da8919.jpg)

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
-

[2016-11-03 19:17] MariagraziaAlastra opened #525 "Python: add python version as subtitle"
### Description
Add subtitles for the python version.
To do this add the python version to the article title in parenthesis, in the output.txt file.
For example, `unittest (python3)`

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your development

[2016-11-03 19:20] MariagraziaAlastra opened #526 "Python: add coverage for more classes"
### Description
Add coverage for more classes.

https://duckduckgo.com/?q=python+subprocess&atb=v23&ia=meanings
should show a summary of the class and an infobox link to this category page

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-fathead/blob/master/CONTRIBUTING.md)
- [ ] 3) [Set up your devel